<div class="modal fade" id="response-modal-{{ response.id }}" tabindex="-1"
     role="dialog" aria-labelledby="#response-modal-label-{{ response.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="response-id" hidden>{{ response.id }}</div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ response.type | upper }}</h4>
            </div>
            <div class="first">
                <div class="modal-body">
                    <button type="button" class="btn btn-primary pull-right tmp-save-changes">Test Save Changes (Temporary)</button>
                    {{ modal_body | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger pull-left disabled">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Delete
                    </button>
                    <button type="button" class="btn btn-primary response-modal-next">
                        Next
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class ="second" hidden>
                <div class="modal-body">
                    SECOND
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default response-modal-prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        Prev
                    </button>
                    <button type="button" class="btn btn-primary response-modal-next">
                        Next
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="third" hidden>
                <div class="modal-body">
                    THIRD
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default response-modal-prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        Prev
                    </button>
                    <button type="button" class="btn btn-primary response-modal-submit">
                        Submit
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        //TODO: make function, call here with (response.id, response.type)

        var response_modal = $("#response-modal-{{ response.id }}");

        var first = response_modal.find('.first');
        var second = response_modal.find('.second');
        var third = response_modal.find('.third');

        var next1 = first.find('.response-modal-next');
        var next2 = second.find('.response-modal-next');
        var prev2 = second.find('.response-modal-prev');
        var prev3 = third.find('.response-modal-prev');

        next1.click(function() {
            first.hide();
            second.show();
        });

        next2.click(function() {
            second.hide();
            third.show();
        });

        prev2.click(function() {
            second.hide();
            first.show();
        });

        prev3.click(function(){
            third.hide();
            second.show();
        });

    });
</script>