<div class="modal fade" id="response-modal-{{ response.id }}" tabindex="-1"
     role="dialog" aria-labelledby="#response-modal-label-{{ response.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="response-id" hidden>{{ response.id }}</div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% if response.type == response_type.FILE %}
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                {% elif response.type == response_type.LINK %}
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                {% elif response.type == response_type.INSTRUCTIONS %}
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                {% elif response.type == response_type.NOTE %}
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                {% elif response.type == response_type.DETERMINATION %}
                    {% if response.dtype == determination_type.EXTENSION %}
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    {% endif %}
                {% endif %}
                <strong class="modal-title">
                    {% if response.type != response_type.DETERMINATION and is_editable
                    and current_request.status != request_status.CLOSED %}
                        EDIT {{ response | format_response_type }}
                    {% else %}
                        VIEW {{ response | format_response_type }}
                    {% endif %}
                </strong>
            </div>
            <div class="default">
                {% if requires_workflow %}
                    <div class="first">
                        <div class="modal-body">
                            {{ modal_body | safe }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            {% if response.type != response_type.DETERMINATION %}
                                {% if is_editable and delete_response_permission
                                and current_request.status != request_status.CLOSED %}
                                    <button type="button" class="btn btn-danger pull-left delete-select">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        Delete
                                    </button>
                                {% endif %}
                                {% if is_editable and (edit_response_permission or edit_response_privacy_permission)
                                and current_request.status != request_status.CLOSED %}
                                    <button id="response-{{ response.id }}-next-1" type="button" class="btn btn-primary response-modal-next">
                                        Next
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if is_editable %}
                        {% if edit_response_permission or edit_response_privacy_permission
                        and current_request.status != request_status.CLOSED %}
                            <div class="second" hidden>
                                <div class="modal-body">
                                    <h4>Edit Email Body</h4>
                                    <textarea class="tinymce-area" name="email-content-{{ response.id }}"
                                              title="email-content"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                                    </button>
                                    <button type="button" class="btn btn-default response-modal-prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        Prev
                                    </button>
                                    <button type="button" class="btn btn-primary response-modal-next">
                                        Next
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="third" hidden>
                                <div class="modal-body">
                                    <h4 class="confirmation-header"></h4>
                                    <div class="email-summary"></div>
                                    <div class="email-summary-hidden" hidden></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                                    </button>
                                    <button type="button" class="btn btn-default response-modal-prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        Prev
                                    </button>
                                    <button type="button" class="btn btn-primary response-modal-submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div class="modal-body">
                        {{ modal_body | safe }}
                    </div>
                    <div class="modal-footer">
                        {% if response.type  != response_type.DETERMINATION and delete_response_permission and is_editable
                        and current_request.status != request_status.CLOSED %}
                            <button type="button" class="btn btn-danger pull-left delete-select">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                Delete
                            </button>
                        {% endif %}
                        {% if response.type == response_type.LETTER or (response.type == response_type.DETERMINATION and response.communication_method_type == response_type.LETTER) %}
                            <a target="_blank" rel="noopener noreferrer"
                               href="/response/letter/{{ current_request.id }}/{{ response.id }}" type="button"
                               class="btn btn-success pull-left"
                               id="generate-letter-{{ response.id }}"><span
                                    class="glyphicon glyphicon-print"></span> Generate PDF
                            </a>
                        {% elif response.type == response_type.ENVELOPE  %}
                            <a target="_blank" rel="noopener noreferrer"
                               href="/response/envelope/{{ current_request.id }}/{{ response.id }}" type="button"
                               class="btn btn-success pull-left"
                               id="generate-letter-{{ response.id }}"><span
                                    class="glyphicon glyphicon-print"></span> Generate PDF
                            </a>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                {% endif %}
            </div>
            {% if is_editable and delete_response_permission and current_request.status != request_status.CLOSED %}
                <div class="delete" hidden>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this response?</p>
                        <p>If yes, please enter "DELETE" in the area below and then press DELETE.</p>
                        <br>
                        <input type="text" class="text-center" name="delete-confirm-string" title="delete-confirm">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left delete-cancel">Cancel</button>
                        <button type="button" class="btn btn-danger delete-confirm" disabled>DELETE</button>
                    </div>
                </div>
            {% endif %}
            <div class="close" hidden>
                <div class="modal-body">
                    <!-- TODO: Confirm loss of changes and reset modal (wait until all responses ready). -->
                </div>
            </div>
        </div>
    </div>
</div>
