<div class="row response-row" data-toggle="modal" data-target="#response-modal-{{ response.id }}"
     data-backdrop="static" data-keyboard="false">
    <div class="col-md-1 response-row-num">{{ row_num }}</div>
    <div class="col-md-2 {% if response.type == response_type.INSTRUCTIONS %}offline-instructions-row{% endif %}">
        <strong>{{ response | format_response_type }}</strong>
    </div>
    <div class="col-md-5 metadata-preview">
        {% if show_preview %}
            {{ response.preview }}
        {% endif %}
    </div>
    <div class="col-md-4">{{ response.date_modified.strftime('%A, %B %d %Y at %I:%M %p') }}</div>
</div>