<div class="row response-row" data-toggle="modal" data-target="#response-modal-{{ response.id }}"
     data-backdrop="static" data-keyboard="false">
    <div class="col-md-1 response-row-num">{{ row_num }}</div>
    <!-- to get rid of underscore in offline_instructions -->
    {% if response.type == response_type.INSTRUCTIONS %}
        <div class="col-md-2 wrap-text offline-instructions-row"><strong>OFFLINE INSTRUCTION</strong></div>
    {% else %}
        <div class="col-md-2"><strong>{{ response.type | upper }}</strong></div>
    {% endif %}
    <div class="col-md-5 metadata-preview">{{ response.preview }}</div>
    <div class="col-md-4">{{ response.date_modified.strftime('%A, %B %d %Y at %I:%M %p') }}</div>
</div>