<form id="add-instruction-form" action="/response/instruction/{{ request.id }}" method="POST">
    <div class="col-sm-9">
        <div class="instruction-control">
            <legend>
                Add Offline Instructions
            </legend>
            <!-- first div of the add-instruction form -->
            <div class="instruction-divs form-group" id="instruction-first">
                <label class="instruction-label">Offline Instructions</label>
                <textarea class="input-block-level form-group" id="instruction-content" name="content" maxlength="500"></textarea>
                <h5 id="instruction-content-character-count" class="required">500 characters remaining</h5>
                <div class="radio">
                    <label><input type="radio" class="instruction-privacy" name="privacy" value="release_public">Release and Public</label>
                </div>
                <div class="radio">
                    <label><input type="radio" class="instruction-privacy" name="privacy" value="release_private">Release and Private</label>
                </div>
                <div class="radio">
                    <label><input type="radio" class="instruction-privacy" name="privacy" value="private" checked="checked">Private</label>
                </div>
                <button type="button" class="next-btn btn btn-primary" id="instruction-next-1">Next</button>
            </div>
            <!-- second div of the add-instruction form containing email content -->
            <div class="instruction-divs form-group" id="instruction-second">
                <textarea class="tinymce-area" name="email-instruction-content"></textarea>
                <button type="button" class="prev-btn btn btn-default" id="instruction-prev-1">Prev</button>
                <button type="button" class="next-btn btn btn-primary" id="instruction-next-2">Next</button>
            </div>
            <!-- last div of the add-instruction form containing confirmation and submit -->
            <div class="instruction-divs form-group" id="instruction-third">
                <h4>The following will be Submitted to the request:</h4>
                <h5>Email:</h5>
                <div class="wrap-text" id="email-instruction-summary"></div>
                <!-- hidden input to send email summary to backend -->
                <input type="hidden" name="email-instruction-summary" id="email-instruction-summary-hidden">
                <button type="button" class="prev-btn btn btn-default" id="instruction-prev-2">Prev</button>
                <button type="submit" class="submit-btn btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>