<script type="text/javascript">
    "use strict";

    $(document).ready(function () {
        var editor = $('#note-editor');
        var confirmation = $('#email-note-summary');

        // Hides all other divs except for the first
        $(".note-control .note-divs").each(function (e) {
            if (e != 0)
                $(this).hide();
        });

        // Handles click events on the first next button
        $("#note-next-1").click(function () {
            // Onclick, changes button text from to Next
            $(this).text("Next");

            // Validate note form
            $("#add-note-form").parsley().validate();

            // If validation fields are valid, proceed with next click function
            if ($('#add-note-form').parsley().isValid()) {
                $.ajax({
                    url: "/response/email",
                    type: 'POST',
                    data: {
                        request_id: "{{ request.id }}",
                        type: "notes",
                        note: JSON.stringify({
                            content: $('#note-content').val(),
                            privacy: $(".note-privacy:checked").val()
                        }),
                        tz_name: jstz.determine().name()
                    },
                    success: function (data) {
                        var emailContent = $(".email-note-content-hidden");
                        emailContent.html(data.template);
                        flask_moment_render_all();
                        tinyMCE.get('email-note-content').setContent(emailContent.html());
                        $(".note-confirmation-header").text(data.header);
                        editor.unblock();
                        $('#note-next-2').prop('disabled', false);
                    }
                });
                document.getElementById("note-first").style.display = "none";
                document.getElementById("note-second").style.display = "block";
            }
            // Block tinymce until content is fully loaded by ajax
            editor.block({
                message: "<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">" +
                "<span class=\"sr-only\">Loading responses...</span></div></div>"
            });
            $('#note-next-2').prop('disabled', true);
        });

        // Handles click events on the second next button
        $("#note-next-2").click(function () {
            tinyMCE.triggerSave();
            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: {
                    request_id: "{{ request.id }}",
                    type: "notes",
                    email_content: $('#email-note-content').val()
                },
                success: function (data) {
                    $("#email-note-summary").html(data.template);
                    $("#email-note-summary-hidden").val(data.template);
                    confirmation.unblock();
                    $('#note-submit').prop('disabled', false);
                }
            });
            document.getElementById("note-second").style.display = "none";
            document.getElementById("note-third").style.display = "block";
            // Block confirmation until content is fully loaded by ajax
            confirmation.block({
                message: "<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">" +
                "<span class=\"sr-only\">Loading responses...</span></div></div>"
            });
            $('#note-submit').prop('disabled', true);
        });

        // Handles click events on the first previous button
        $("#note-prev-1").click(function () {
            document.getElementById("note-first").style.display = "block";
            document.getElementById("note-second").style.display = "none";
        });

        // Handles click events on the second previous button
        $("#note-prev-2").click(function () {
            document.getElementById("note-third").style.display = "none";
            document.getElementById("note-second").style.display = "block";
        });

        // Disable button on submit
        $("#add-note-form").submit(function () {
            $("#note-submit").attr("disabled", true);
        });

        // Apply parsley data required validation to note title and url
        $("#note-content").attr("data-parsley-required", "");

        // Apply parsley max length validation to note title and url
        $("#note-content").attr("data-parsley-maxlength", "5000");

        // Apply custom validation messages
        $("#note-content").attr("data-parsley-required-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, note content is required.</strong> Please type in a message.");
        $("#note-content").attr("data-parsley-maxlength-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, note content must be less than 5000 characters</strong>");

        // Set character counter for note content
        $("#note-content").keyup(function () {
            characterCounter("#note-content-character-count", 5000, $(this).val().length)
        });
    });
</script>