<form id="add-extension-form" action="/response/extension/{{ request.id }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" id="generate-letters-enabled" name="generate_letters_enabled"
           value="{{ generate_letters_enabled }}"/>
    <input type="hidden" id="point-of-contact" name="point_of_contact" value="{{ current_point_of_contact['user_guid'] }}"/>

    <div class="col-sm-9">
        <div class="extension-control">
            <legend>
                Extend Request
                <small data-toggle="popover" data-placement="right" data-trigger="hover" title="Extending a Request"
                       data-content="This function is used to extend a request.">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </small>
            </legend>
            <!-- first div of the add-extension form -->
            <div class="extension-divs form-group" id="extension-first" hidden>
                {% if generate_letters_enabled %}
                    <label for="extension-method">Extension Method</label>
                    <select id="extension-method" name="method" class="disable-enter-submit form-control">
                        <option value="" selected="selected" disabled="disabled">None selected</option>
                        <option value="emails">Email</option>
                        <option value="letters">Letter</option>
                    </select>
                    <br>
                    <button type="button" class="next-btn btn btn-primary" id="extension-next-1">Next</button>
                {% else %}
                    <input type="hidden" id="extension-method" name="method" value="emails"/>
                {% endif %}
            </div>

            <!-- second div of the add-extension form -->
            <div class="extension-divs form-group" id="extension-second" hidden>
                <div id="extension-email">
                    <label class="extension-label">Length</label>
                    <select id="extension-select" name="length" class="disable-enter-submit form-control">
                        <option value="0" selected="selected" disabled="disabled">None selected</option>
                        <option value="20">20 Business Days</option>
                        <option value="30">30 Business Days</option>
                        <option value="40">40 Business Days</option>
                        <option value="60">60 Business Days</option>
                        <option value="90">90 Business Days</option>
                        <option value="120">120 Business Days</option>
                        <option value="-1">Custom Due Date</option>
                    </select>
                    <br>
                    <!--  custom due date datepicker -->
                    <div class="form-group" style="display:none;" id="custom-due-date">
                        <label class="extension-label">Custom Due Date</label>
                        <input type="text" id="custom-extension" name="due-date" class="disable-enter-submit"
                               value={{ request.due_date.strftime('%m/%d/%Y') }}>
                    </div>
                    <label class="extension-label">Extension Reason</label>
                    <div id="extension-content-maxlength-error" class="tinymce-maxlength-error" hidden>
                        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<strong>Error, extension reason must be less than 5000 characters.</strong>
                    </div>
                    <textarea class="input-block-level form-group tinymce-extension-reason" id="extension-reason"
                              name="reason"></textarea>
                    <p id="extension-reason-character-count" class="character-counter">5000 characters remaining</p>
                </div>
                <div id="extension-letter">
                    <label class="extension-label">Length</label>
                    <select id="extension-select-letter" name="length" class="disable-enter-submit form-control">
                        <option value="0" selected="selected" disabled="disabled">None selected</option>
                        <option value="20">20 Business Days</option>
                        <option value="30">30 Business Days</option>
                        <option value="60">60 Business Days</option>
                        <option value="90">90 Business Days</option>
                        <option value="120">120 Business Days</option>
                        <option value="-1">Custom Due Date</option>
                    </select>
                    <br>
                    <!--  custom due date datepicker -->
                    <div class="form-group" style="display:none;" id="custom-due-date-letter">
                        <label class="extension-label">Custom Due Date</label>
                        <input type="text" id="custom-extension-letter" name="due-date-letter" class="disable-enter-submit"
                               value={{ request.due_date.strftime('%m/%d/%Y') }}>
                    </div>
                    <div class="form-group">
                        {{ generate_extension_letter_form.letter_templates.label }}<br>
                        {{ generate_extension_letter_form.letter_templates(id="letter-template-id",
                                                 class="disable-enter-submit form-control") | safe }}
                    </div>
                </div>
                <button type="button" class="prev-btn btn btn-default" id="extension-prev-2">Prev</button>
                <button type="button" class="next-btn btn btn-primary" id="extension-next-2">Next</button>
            </div>

            <!-- third div of the add-extension form -->
            <div class="extension-divs hide-div form-group" id="extension-third" hidden>
                <h4 id="edit-body-header">Edit Email Body</h4>
                <div id="extension-editor" class="form-group">
                    <div class="extension-body-hidden" hidden></div>
                    <textarea class="tinymce-area" name="extension-body"></textarea>
                </div>
                <button type="button" class="prev-btn btn btn-default" id="extension-prev-3">Prev</button>
                <button type="button" class="next-btn btn btn-primary" id="extension-next-3">Next</button>
            </div>

            <!-- last div of the add-extension form containing confirmation and submit -->
            <div class="extension-divs hide-div form-group" id="extension-fourth" hidden>
                <h4 class="extension-confirmation-header"></h4>
                <div class="wrap-text summary" id="extension-summary"></div>
                <input type="hidden" name="summary" id="extension-summary-hidden">
                <input type="hidden" name="tz-name" id="extension-tz-name">
                <button type="button" class="prev-btn btn btn-default" id="extension-prev-4">Prev</button>
                <button type="submit" class="submit-btn btn btn-success" id="extension-submit">Submit</button>
            </div>
        </div>
    </div>
</form>
