<form id="add-reopening" action="/response/reopening/{{ request.id }}" method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="col-sm-9">
        <fieldset>
            <legend>
                Re-Open Request
            </legend>
            <div class="first">
                <div class="form-group">
                    <label for="reopening-date">New Due Date</label>
                    <input type="text" id="reopening-date" name="date"
                           class="disable-enter-submit">
                    <input type="hidden" name="tz-name">
                </div>
                <button type="button" class="next pull-right btn btn-primary">Next</button>
            </div>
            <div class="second" hidden>
                <h4>The following will be emailed to the requester:</h4>
                <div class="wrap-text email-summary"></div>
                <input type="hidden" name="email-summary">
                <button type="button" class="prev pull-left btn btn-default">Prev</button>
                <button type="submit" class="submit pull-right btn btn-success">Submit</button>
            </div>
        </fieldset>
    </div>
</form>