<script type="text/javascript">
$(document).ready(function () {
    // Hides all other divs except for the first
    $(".link-control .link-divs").each(function (e) {
        if (e != 0)
            $(this).hide();
    });

    // Handles click events on the first next button
    $("#link-next-1").click(function () {
        // Onclick, changes button text from to Next
        $(this).text("Next");

        // Validate link form
        $("#add-link-form").parsley().validate();

        // If validation fields are valid, proceed with next click function
        if ($('#add-link-form').parsley().isValid()) {
            var formData = {
                request_id: "{{ request.id }}",
                template_name: "email_response_link.html",
                type: "link_email"
            };

            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: false,
                success: function (data) {
                    // Data should be html template page.
                    tinyMCE.get('email-link-content').setContent(data);
                }
            });
            document.getElementById("link-first").style.display = "none";
            document.getElementById("link-second").style.display = "block";
        }
    });

    // Handles click events on the second next button
    $("#link-next-2").click(function () {
        tinyMCE.triggerSave();

        // Store the values of link-url and link-privacy into variables
        var url = $('#link-url').val();
        var privacy = $('input[type="radio"]:checked').val();

        // Create a dictionary called link with keys of url and privacy
        link = {};
        link["url"] = url;
        link["privacy"] = privacy;

        var formData = {
            request_id: "{{ request.id }}",
            template_name: "email_response_link.html",
            type: "link_email",
            link: link,
            email_content: $('#email-link-content').val()
        };

        $.ajax({
            url: "/response/email",
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: false,
            success: function (data) {
                // Data should be html template page.
                $("#email-link-summary").html(data);
                $("#email-link-summary-hidden").val(data);
            }
        });
        document.getElementById("link-second").style.display = "none";
        document.getElementById("link-third").style.display = "block";
    });

    // Handles click events on the first previous button
    $("#link-prev-1").click(function () {
        document.getElementById("link-first").style.display = "block";
        document.getElementById("link-second").style.display = "none";
    });

    // Handles click events on the second previous button
    $("#link-prev-2").click(function () {
        document.getElementById("link-third").style.display = "none";
        document.getElementById("link-second").style.display = "block";
    });

    // Apply parsley data required validation to link title and url
    $('#link-title').attr('data-parsley-required', '');
    $('#link-url').attr('data-parsley-required', '');

    // Apply parsley max length validation to link title and url
    $('#link-title').attr('data-parsley-maxlength', '90');
    $('#link-url').attr('data-parsley-maxlength', '254');

    $('#link-url').attr('data-parsley-type', 'url');

    // Apply parsley remote validation to link url
    $('#link-url').attr('data-parsley-remote', '');
    $('#link-url').attr('data-parsley-remote-validator', 'url_checker');

    // Create parsley asynchronous remote validator
    window.Parsley.addAsyncValidator('url_checker', function(xhr) {
        console.log(this.$element);
        return 200 === xhr.status;
    }, '/response/url_checker');

    // Apply custom validation messages
    $('#link-title').attr('data-parsley-required-message', 'Link title must be provided');
    $('#link-url').attr('data-parsley-required-message', 'URL link must be provided');
    $('#link-title').attr('data-parsley-maxlength-message', 'Link title must be less than 90 characters');
    $('#link-url').attr('data-parsley-maxlength-message', 'URL link must be less than 254 characters');
});
</script>
