<form id="add-acknowledgment" action="/response/acknowledgment/{{ request.id }}" method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="col-sm-9">
        <fieldset>
            <legend>
                Acknowledge Request
                <small data-toggle="popover" data-placement="right" data-trigger="hover"
                       title="Acknowledging A Request"
                       data-content="Acknowledging the request allows the agency user to provide a custom date of
                        completion for the request.">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </small>
            </legend>
            <div class="first">
                <div class="form-group">
                    <label for="acknowledgment-days">Days until Completion</label>
                    <select id="acknowledgment-days" name="days" class="disable-enter-submit form-control">
                        <option value="0" selected="selected" disabled="disabled">None selected</option>
                        <option value="20">20 Business Days</option>
                        <option value="30">30 Business Days</option>
                        <option value="60">60 Business Days</option>
                        <option value="90">90 Business Days</option>
                        <option value="-1">Custom Due Date</option>
                    </select>
                    <div hidden>
                        <input type="text" id="acknowledgment-date" name="date"
                               class="disable-enter-submit" title="date" value={{ request.due_date }}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="acknowledgment-info">Additional Information</label>
                    <textarea id="acknowledgment-info" class="gray-solid-border" name="info"
                              maxlength="5000" rows="5"></textarea>
                    <p id="acknowledgment-info-character-count">5000 characters remaining</p>
                </div>
                <button type="button" class="next pull-right btn btn-primary">Next</button>
            </div>
            <div class="second" hidden>
                <h4>Edit Email Body</h4>
                <div class="form-group">
                    <div class="email-content-hidden" hidden></div>
                    <textarea title="acknowledgment-email-body" name="acknowledgment-email-body"
                              class="tinymce-area"></textarea>
                </div>
                <button type="button" class="prev pull-left btn btn-default">Prev</button>
                <button type="button" class="next pull-right btn btn-primary">Next</button>
            </div>
            <div class="third" hidden>
                <h4 class="confirmation-header"></h4>
                <div class="wrap-text email-summary"></div>
                <input type="hidden" name="email-summary">
                <input type="hidden" name="tz-name">
                <button type="button" class="prev pull-left btn btn-default">Prev</button>
                <button type="submit" class="submit pull-right btn btn-success">Submit</button>
            </div>
        </fieldset>
    </div>
</form>