<script type="text/javascript">
    "use strict";

    $(document).ready(function () {
        tinymce.init({
            menubar: false,
            // sets tinymce to enable only on specific textareas classes
            mode: 'specific_textareas',
            // selector for tinymce textarea classes is set to 'tinymce-area'
            editor_selector: 'tinymce-instruction-content',
            elementpath: false,
            convert_urls: false,
            height: 300,
            plugins: ['noneditable', 'preventdelete', 'lists'],
            toolbar: ['undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent add_check'],
            forced_root_block: '',
            setup: function (editor) {
                editor.ui.registry.addButton('add_check', {
                    text: 'Add  ✔',
                    onAction: function () {
                        editor.insertContent('&nbsp;&#10004;&nbsp;');
                    }
                });

                editor.on('keyup', function () {
                    let currentLength = tinyMCE.get('instruction-content').getContent({format: 'text'}).trim().length;
                    characterCounter('#instruction-content-character-count', 500, currentLength, 20);
                    if (currentLength > 500) {
                        $('#instruction-next-1').prop('disabled', true);
                        $('#instruction-content-maxlength-error').show();
                    }
                    else {
                        $('#instruction-next-1').prop('disabled', false);
                        $('#instruction-content-maxlength-error').hide();
                    }
                });
            }
        });

        var editor = $('#instruction-editor');
        var confirmation = $('#email-instruction-summary');

        // Hides all other divs except for the first
        $(".instruction-control .instruction-divs").each(function (e) {
            if (e != 0)
                $(this).hide();
        });

        // Handles click events on the first next button
        $("#instruction-next-1").click(function () {
            tinyMCE.triggerSave();

            // Onclick, changes button text from to Next
            $(this).text("Next");

            // Validate instruction form
            $("#add-instruction-form").parsley().validate();

            // If validation fields are valid, proceed with next click function
            if ($('#add-instruction-form').parsley().isValid()) {
                $.ajax({
                    url: "/response/email",
                    type: 'POST',
                    data: {
                        request_id: "{{ request.id }}",
                        type: "instructions",
                        instruction: JSON.stringify({
                            content: tinyMCE.get('instruction-content').getContent(),
                            privacy: $(".instruction-privacy:checked").val()
                        }),
                        tz_name: jstz.determine().name()
                    },
                    success: function (data) {
                        var emailContent = $(".email-instruction-content-hidden");
                        emailContent.html(data.template);
                        flask_moment_render_all();
                        tinyMCE.get('email-instruction-content').setContent(emailContent.html());
                        $(".instruction-confirmation-header").text(data.header);
                        editor.unblock();
                        $('#instruction-next-2').prop('disabled', false);
                    }
                });
                document.getElementById("instruction-first").style.display = "none";
                document.getElementById("instruction-second").style.display = "block";
                editor.block({
                    message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                    '<span class=\"sr-only\">Loading content...</span></div></div>'
                });
                $('#instruction-next-2').prop('disabled', true);
            }
        });

        // Handles click events on the second next button
        $("#instruction-next-2").click(function () {
            tinyMCE.triggerSave();
            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: {
                    request_id: "{{ request.id }}",
                    type: "instructions",
                    email_content: $('#email-instruction-content').val()
                },
                success: function (data) {
                    $("#email-instruction-summary").html(data.template);
                    $("#email-instruction-summary-hidden").val(data.template);
                    confirmation.unblock();
                    $('#instruction-submit').prop('disabled', false);
                }
            });
            document.getElementById("instruction-second").style.display = "none";
            document.getElementById("instruction-third").style.display = "block";
            confirmation.block({
                message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                '<span class=\"sr-only\">Loading content...</span></div></div>'
            });
            $('#instruction-submit').prop('disabled', true);
        });

        // Handles click events on the first previous button
        $("#instruction-prev-1").click(function () {
            document.getElementById("instruction-first").style.display = "block";
            document.getElementById("instruction-second").style.display = "none";
        });

        // Handles click events on the second previous button
        $("#instruction-prev-2").click(function () {
            document.getElementById("instruction-third").style.display = "none";
            document.getElementById("instruction-second").style.display = "block";
        });

        // Disable button on submit
        $("#add-instruction-form").submit(function () {
            $("#instruction-submit").attr("disabled", true);
        });

        // Apply parsley data required validation to instruction title and url
        $("#instruction-content").attr("data-parsley-required", "");

        // Apply custom validation messages
        $("#instruction-content").attr("data-parsley-required-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, Offline Instructions are required.</strong> Please type in some instructions.");

        $("#instruction-content").attr("data-parsley-minlength-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, Offline Instructions must be at least 20 characters.</strong>");
    });
</script>