<script type="text/javascript">
    "use strict";

    $(function() {
        var form = $("#add-closing");
        var first = form.find(".first");
        var second = form.find(".second");
        var third = form.find(".third");
        var fourth = form.find(".fourth");
        var point_of_contact = form.find("#point-of-contact");

        var next1 = first.find(".next");
        var next2 = second.find(".next");
        var next3 = third.find(".next");
        var prev2 = second.find(".prev");
        var prev3 = third.find(".prev");
        var prev4 = fourth.find(".prev");
        var submit = fourth.find(".submit");

        var method = first.find("#closing-method");
        var email_div = second.find("#closing-email");
        var reason_ids = second.find("#closing-reason-ids");

        var letter_div = second.find("#closing-letter");
        var letter_info = second.find("#letter-template-id");
        var generate_letters_enabled = form.find("#generate-letters-enabled").val();

        var edit_body_header = third.find("#edit-body-header");

        var editor = $('#closing-editor');
        var confirmation = $('#closing-confirmation');

        // Reveal / Hide Letter Generation
        if (generate_letters_enabled === "True") {
            first.show();
            second.hide();
        } else {
            first.hide();
            second.show();
            letter_div.hide();
            prev2.hide();
        }

        // Do not reset on click
        reason_ids.find('option').mousedown(function(e) {
            e.preventDefault();
            reason_ids.focus();
            $(this).prop('selected', !$(this).prop('selected'));
            return false;
        });

        // Parsley
        reason_ids.attr("data-parsley-required", "");
        var required = [letter_info, method];
        for (var i = 0; i < required.length; i++) {
            required[i].attr("data-parsley-required", "");
        }

        // Apply custom validation messages
        method.attr("data-parsley-required-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, closing method is required.</strong> Please select a closing method from the drop-down menu.");
        reason_ids.attr("data-parsley-required-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, closing reason is required.</strong> Please select at least one closing reason from the multi-select field.");
        letter_info.attr("data-parsley-required-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, a template is required.</strong> Please select a template from the drop-down menu.");

        next1.click(function (e) {
            method.parsley().validate();
            if (!(method.parsley().isValid())) {
                e.preventDefault();
                return false;
            }
            if (method.val() === 'emails') {
                letter_div.hide();
                email_div.show();
            } else {
                letter_div.show();
                email_div.hide();
            }
            first.hide();
            second.show();
        });

        next2.click(function (e) {
            if (method.val() === 'emails') {
                reason_ids.parsley().validate();
            }
            if (method.val() === 'letters') {
                letter_info.parsley().validate();
            }

            if (method.val() === 'emails' && !reason_ids.parsley().isValid()) {
                e.preventDefault();
                return false;
            } else if (method.val() === 'letters' && !letter_info.parsley().isValid()) {
                e.preventDefault();
                return false;
            }
            else {
                if (method.val() === 'emails') {
                    $.ajax({
                        url: "/response/email",
                        type: "POST",
                        data: {
                            request_id: "{{ request.id }}",
                            type: "closing",
                            confirmation: false,
                            reason_ids: reason_ids.val(),
                            point_of_contact: point_of_contact.val()
                        },
                        success: function (data) {
                            var emailContent = third.find(".email-content-hidden");
                            emailContent.html(data.template);
                            tinyMCE.get("closing-body").setContent(emailContent.html());
                            editor.unblock();
                            next3.prop('disabled', false);
                        }
                    });
                    edit_body_header.html("Edit Email Body");

                    second.hide();
                    third.show();
                } else {
                    $.ajax({
                        url: "/response/letter",
                        type: "POST",
                        data: {
                            request_id: "{{ request.id }}",
                            type: "closing",
                            closing: JSON.stringify({
                                letter_template: letter_info.val(),
                                point_of_contact: point_of_contact.val()
                            })
                        },
                        success: function (data) {
                            var emailContent = third.find(".email-content-hidden");
                            emailContent.html(data.template);
                            flask_moment_render_all();
                            tinyMCE.get("closing-body").setContent(emailContent.html());
                            editor.unblock();
                            next3.prop('disabled', false);
                        }
                    });
                    edit_body_header.html("Edit Letter Body");

                    second.hide();
                    third.show();
                }
                // Block tinymce until content is fully loaded by ajax
                editor.block({
                    message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                    '<span class=\"sr-only\">Loading content...</span></div></div>'
                });
                next3.prop('disabled', true);
            }
        });

        next3.click(function () {
            tinyMCE.triggerSave();
            if (method.val() === 'emails') {
                $.ajax({
                    url: "/response/email",
                    type: "POST",
                    data: {
                        request_id: "{{ request.id }}",
                        type: "closing",
                        confirmation: true,
                        email_content: third.find("#closing-body").val()
                    },
                    success: function (data) {
                        fourth.find(".summary").html(data.template);
                        fourth.find("input[name='summary']").val(data.template);
                        fourth.find(".confirmation-header").text(data.header);
                        fourth.find(".method").val(method.val());
                        if ($(".editable-span").text() === "") {
                            $(".editable-span").hide();
                        }
                        confirmation.unblock();
                        submit.prop('disabled', false);
                    }
                });
            } else {
                $.ajax({
                    url: "/response/letter",
                    type: "POST",
                    data: {
                        request_id: "{{ request.id }}",
                        type: "closing",
                        confirmation: true,
                        letter_content: third.find("#closing-body").val()
                    },
                    success: function (data) {
                        fourth.find(".summary").html(data.template);
                        fourth.find("input[name='summary']").val(data.template);
                        fourth.find(".confirmation-header").text(data.header);
                        fourth.find(".method").val(method.val());
                        confirmation.unblock();
                        submit.prop('disabled', false);
                    }
                });
            }
            third.hide();
            fourth.show();
            // Block confirmation until content is fully loaded by ajax
            confirmation.block({
                message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                '<span class=\"sr-only\">Loading content...</span></div></div>'
            });
            submit.prop('disabled', true);
        });

        prev2.click(function() {
            second.hide();
            first.show();
        });

        prev3.click(function() {
            third.hide();
            second.show();
        });

        prev4.click(function () {
            fourth.hide();
            third.show();
        });

        form.submit(function() {
            submit.attr("disabled", true);
        });

    })
</script>