<form id="add-note-form" action="/response/note/{{ request.id }}" method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="col-sm-{% if current_user.is_agency %}9{% else %}12{% endif %}">
        <div class="note-control">
            <fieldset>
                <legend>
                    Add Note
                    <small data-toggle="popover" data-placement="right" data-trigger="hover" title="Adding Notes"
                           data-content="This function provides communication with the {% if current_user.is_agency %}users
                                    {% elif is_requester %}agency{% endif %} involved in the request.">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </small>
                </legend>
                </h3>
                <!-- first div of the add-note form -->
                <div class="note-divs form-group" id="note-first">
                    <label class="note-label">Note Content</label>
                    <div id="note-content-maxlength-error" class="tinymce-maxlength-error" hidden>
                        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<strong>Error, note content must be less than 5000 characters.</strong>
                    </div>
                    <textarea class="input-block-level form-group tinymce-note-content" id="note-content"
                              name="content"></textarea>
                    <p id="note-content-character-count" class="character-counter">5000 characters remaining</p>
                    {% if current_user.is_agency %}
                        {% if permissions['edit_note_privacy'] and request.status != status.CLOSED %}
                            <div class="radio">
                                <label>
                                    <input type="radio" class="note-privacy" name="privacy" value="release_public">Release
                                    and Public
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="note-privacy" name="privacy" value="release_private">Release
                                    and Private
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="note-privacy" name="privacy" value="private"
                                           checked="checked">Private
                                </label>
                            </div>
                        {% else %}
                            <div class="radio">
                                <label><input type="radio" class="note-privacy" name="privacy" value="private"
                                              checked="checked">Private</label>
                            </div>
                        {% endif %}
                        <button type="button" class="next-btn btn btn-primary" id="note-next-1">Next</button>
                    {% elif is_requester %}
                        <button type="submit" class="submit-btn btn btn-success" id="note-submit">Submit</button>
                    {% endif %}

                </div>

                <!-- second div of the add-note form containing email content -->
                {% if current_user.is_agency %}
                    <div class="note-divs" id="note-second">
                        <h4>Edit Email Body</h4>
                        <div id="note-editor" class="form-group">
                            <div class="email-note-content-hidden" hidden></div>
                            <textarea class="tinymce-area" name="email-note-content"></textarea>
                        </div>
                        <button type="button" class="prev-btn btn btn-default" id="note-prev-1">Prev</button>
                        <button type="button" class="next-btn btn btn-primary" id="note-next-2">Next</button>
                    </div>
                    <!-- last div of the add-note form containing confirmation and submit -->
                    <div class="note-divs form-group" id="note-third">
                        <h4 class="note-confirmation-header"></h4>
                        <div class="wrap-text summary" id="email-note-summary"></div>
                        <!-- hidden input to send email summary to backend -->
                        <input type="hidden" name="email-note-summary" id="email-note-summary-hidden">
                        <button type="button" class="prev-btn btn btn-default" id="note-prev-2">Prev</button>
                        <button type="submit" class="submit-btn btn btn-success" id="note-submit">Submit</button>
                    </div>
                {% endif %}
            </fieldset>
        </div>
    </div>
</form>