<script type="text/javascript">
    $(document).ready(function () {
        // Hides all other divs except for the first
        $(".extension-control .extension-divs").each(function (e) {
            if (e != 0)
                $(this).hide();
        });

        // Handles click events on the first next button
        $("#extension-next-1").click(function (e) {
            if ($("#custom-extension").is(':visible')) {
                $("#custom-extension").parsley().validate();
                if (!$('#custom-extension').parsley().isValid()) {
                    e.preventDefault();
                    return false;
                }
            }
            // Validate extension select field and reason textarea
            $("#extension-select").parsley().validate();
            $("#extension-reason").parsley().validate();
            if (!$('#extension-select').parsley().isValid()) {
                e.preventDefault();
                return false;
            }
            if (!$('#extension-reason').parsley().isValid()) {
                e.preventDefault();
                return false;
            }

            // If validation fields are valid, proceed with next click function
            if ($('#extension-select').parsley().isValid() || $("#custom-extension").parsley().isValid()) {
                $.ajax({
                    url: "/response/email",
                    type: 'POST',
                    data: {
                        request_id: "{{ request.id }}",
                        type: "extension"
                    },
                    success: function (data) {
                        // Data should be html template page.
                        tinyMCE.get('email-extension-content').setContent(data.template);
                        flask_moment_render_all();
                    }
                });
                document.getElementById("extension-first").style.display = "none";
                document.getElementById("extension-second").style.display = "block";
            }
        });

        // Handles click events on the second next button
        $("#extension-next-2").click(function () {
            tinyMCE.triggerSave();

            // Store the values of from input fields into variables
            var length = $('#extension-select').val();
            var custom_due_date = $('#custom-extension').val();
            var reason = $('#extension-reason').val();

            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: {
                    request_id: "{{ request.id }}",
                    type: "extension",
                    extension: JSON.stringify({
                        length: length,
                        custom_due_date: custom_due_date,
                        reason: reason
                    }),
                    email_content: $('#email-extension-content').val(),
                    tz_name: jstz.determine().name()
                },
                success: function (data) {
                    emailSummary = $("#email-extension-summary");
                    emailSummary.html(data.template);
                    flask_moment_render_all();
                    $("#email-extension-summary-hidden").val(emailSummary.html());
                    $("#email-extension-tz-name").val(jstz.determine().name());
                }
            });
            document.getElementById("extension-second").style.display = "none";
            document.getElementById("extension-third").style.display = "block";
        });

        // Handles click events on the first previous button
        $("#extension-prev-1").click(function () {
            document.getElementById("extension-first").style.display = "block";
            document.getElementById("extension-second").style.display = "none";
        });

        // Handles click events on the second previous button
        $("#extension-prev-2").click(function () {
            document.getElementById("extension-third").style.display = "none";
            document.getElementById("extension-second").style.display = "block";
        });

        // Disable button on submit click and submit form
        $("#extension-submit").click(function () {
            $(this).attr("disabled", true);
            $("#add-extension-form").submit();
        });

        // Shows custom due date datepicker when Custom Due Date is selected
        $("#extension-select").change(function () {
            selected = $(this).val();
            if (selected === "-1") {
                $("#custom-due-date").show();
            }
            else {
                $("#custom-due-date").hide();
            }
        });

        holiday_dates = {{ holidays | safe }};  // safe: string -> array

        // TODO: Implement parsley remote validator for is_holiday endpoint
        {#    $('#custom-extension').attr('date-parsley-remote', '');#}
        {#    $('#custom-extension').attr('data-parsley-remote-validator', 'is_holiday');#}
        {##}
        {#    window.Parsley.addAsyncValidator('is_holiday', function(xhr) {#}
        {#        console.log(this.$element);#}
        {#        return 400 == xhr.status;#}
        {#    }, '/response/is_holiday');#}

        // Datepicker for extension date of a request
        $("#custom-extension").datepicker({
            dateFormat: "yy-mm-dd",
            daysOfWeekDisabled: [0, 6],
            beforeShowDay: notHolidayOrWeekend
        });

        // Set datepicker text field to prevent keyboard input
        $("#custom-extension").keydown(false);

        // Strips time from and disables dates before the current due date
        var current_due_date = "{{ request.due_date }}";
        current_due_date = current_due_date.split(' ')[0];
        $("#custom-extension").datepicker('option', 'minDate', current_due_date);

        // Loop through required fields and apply a data-parsley-required attribute to them
        var required_fields = ['custom-extension', 'extension-select', 'extension-reason'];
        for (i = 0; i < required_fields.length; i++) {
            $('#' + required_fields[i]).attr('data-parsley-required', '');
        }

        // Apply parsley minimum length validation to extension reason
        $('#extension-reason').attr('data-parsley-minlength', '20');
        $('#extension-reason').attr('data-parsley-maxlength', '5000');

        // Strips time from and disables dates before the current due date
        var current_due_date = "{{ request.due_date }}";
        current_due_date = current_due_date.split(' ')[0];
        $("#custom-extension").datepicker('option', 'minDate', current_due_date);

        // Loop through required fields and apply a data-parsley-required attribute to them
        var required_fields = ['custom-extension','extension-select', 'extension-reason'];
        for (i = 0 ; i < required_fields.length ; i++){
            $('#' + required_fields[i]).attr('data-parsley-required','');
        }

        // Apply parsley minimum length validation to extension reason
        $('#extension-reason').attr('data-parsley-minlength','20');
        $('#extension-reason').attr('data-parsley-maxlength','5000');

        // Apply custom validation messages
        $('#custom-extension').attr('data-parsley-required-message', 'Extension date must be chosen');
        $('#extension-select').attr('data-parsley-required-message', 'Extension length must be selected');
        $('#extension-reason').attr('data-parsley-minlength-message', 'Extension reason must be at least 20 characters');

        // Set character counter for extension reason
        $("#extension-reason").keyup(function () {
            characterCounter("#extension-reason-character-count", 5000, $(this).val().length)
        });
    });
</script>