<form id="fileupload" class="fileupload-form" action="/response/file/{{ request.id }}" method="POST"
      enctype="multipart/form-data">
    <div class="col-sm-9">
        <div class="fileupload-control">
            <fieldset>
            <legend>
                Add File
            </legend>
            <div class="fileupload-error-messages"></div>
            <!-- first div of the add-file form containing uploads -->
            <div class="fileupload-divs" id="fileupload-first">
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input type="file" name="file" id="add-files" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start All</span>
                        </button>
                        <!-- TODO: (maybe) global cancellation / deletion
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                        <input type="checkbox" class="toggle">
                        -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <div role="presentation">
                    <div class="files"></div>
                </div>
                <button type="button" class="next-btn btn btn-primary" id="fileupload-next-1">Next</button>
            </div>
            <!-- second div of the add-file form containing email content -->
            <div class="fileupload-divs hide-div" id="fileupload-second">
                <div class='alert alert-warning'>
                    Files made Release and Public or Release and Private will be shown with links on the next page.
                </div>
                <textarea class="tinymce-area" name="email-file-content" title="email-content"></textarea>
                <button type="button" class="prev-btn btn btn-default" id="fileupload-prev-1">Prev</button>
                <button type="button" class="next-btn btn btn-primary" id="fileupload-next-2">Next</button>
            </div>
            <!-- last div of the add-file form containing confirmation and submit -->
            <div class="fileupload-divs hide-div" id="fileupload-third">
                <h4>The following will be Submitted to the request:</h4>
                <h5>Email:</h5>
                <div class="wrap-text" id="email-file-summary"></div>
                <!-- hidden input to send email summary to backend -->
                <input type="hidden" name="email-file-summary" id="email-file-summary-hidden">
                <button type="button" class="prev-btn btn btn-default" id="fileupload-prev-2">Prev</button>
                <button type="submit" class="submit-btn btn btn-success">Submit</button>
            </div>
            </fieldset>
        </div>
    </div>
</form>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="row template-upload fade upload-row-spacer">
            <div class="col-sm-5">
                <p class="name original-name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </div>
            <div class="col-sm-2">
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            </div>
            <div class="col-sm-5">
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </div>
        </div>
    {% } %}
</script>
<!-- The template to display files after upload -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="row template-download fade upload-row-spacer" id="{%=file.identifier%}">
            <div class="col-sm-8">
                <span class="original-name hidden">{%=file.original_name%}</span>
                <p class="name">
                    Filename: <strong><span class="secured-name">{%=file.name%}</span></strong>
                </p>

                {% if (!(file.error)) { %}
                    <div class="fileupload-input-fields hidden">
                        Title: <input type="text" class="title-field" name="{%=file.name%}::title" data-parsley-required>
                        <input type="hidden" name="filename_{%=file.name%}" value="{%=file.name%}">
                        <div class="radio">
                            <label><input type="radio" class="file-privacy" name="{%=file.name%}::privacy"
                                value="release_public">Release and Public</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" class="file-privacy" name="{%=file.name%}::privacy"
                                value="release_private">Release and Private</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" class="file-privacy" name="{%=file.name%}::privacy"
                                value="private" checked>Private</label>
                        </div>
                    </div>
                {% } %}

                {% if (file.error) { %}
                    <!-- Error reported using fileupload -->
                    <div><span class="label label-danger upload-error">Error</span> {%=file.error%}</div>
                {% } %}

                <!-- Error reported post upload (fileuploaddone) -->
                <div class="error-post-fileupload hidden">
                    <span class="label label-danger">Error</span>
                    <span class="error-post-fileupload-msg"></span>
                </div>
            </div>
            <div class="col-sm-1">
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </div>
            <div class="col-sm-2">
                {% if (file.error) { %}
                    <!-- CANCEL -->
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } else { %}
                    <!-- PROCESSING -->
                    <img src="/static/img/loading.gif" class="processing-upload" alt="Processing" height="20" width="20">
                    <!-- REMOVE -->
                    <button class="remove-post-fileupload btn btn-warning hidden">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } %}
            </div>
        </div>
    {% } %}
</script>
{% endraw %}
