<script type="text/javascript">
    "use strict";

    $(function () {
        var form = $("#add-reopening");
        var first = form.find(".first");
        var second = form.find(".second");

        var next = first.find(".next");
        var prev = second.find(".prev");
        var submit = second.find(".submit");

        var method = first.find("#reopening-method");
        var letter_template_group = first.find("#reopening-letter-template-group");
        var letter_template = first.find("#reopening-letter-template");
        var date = first.find("#reopening-date");

        // Parsley
        method.attr("data-parsley-required", "");
        date.attr("data-parsley-required", "");

        method.change(function () {
            if (method.val() === 'letter') {
                letter_template_group.show();
                letter_template.attr("data-parsley-required", "");
                $.ajax({
                    url: "/agency/api/v1.0/letter_templates/{{ request.agency.ein }}/acknowledgment",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            var opt = document.createElement("option");
                            opt.innerHTML = data[i][1];
                            opt.value = data[i][0];
                            letter_template.append(opt);
                        }
                    }
                })
            }
        });

        // Date Picker
        holiday_dates = {{ holidays | safe }};
        date.datepicker({
            dateFormat: "yy-mm-dd",
            daysOfWeekDisabled: [0, 6],
            beforeShowDay: notHolidayOrWeekend,
            minDate: 0
        });
        date.keydown(false);

        next.click(function () {
            method.parsley().validate();
            date.parsley().validate();

            if (letter_template_group.is(':visible')) {
                letter_template.parsley().validate();
            }

            if (method.parsley().isValid() && date.parsley().isValid()) {
                $.ajax({
                    url: "/response/email",
                    type: "POST",
                    data: {
                        request_id: "{{ request.id }}",
                        type: "re-opening",
                        date: date.val(),
                        tz_name: jstz.determine().name()
                    },
                    success: function (data) {
                        var emailSummary = second.find(".email-summary");
                        emailSummary.html(data.template);
                        flask_moment_render_all();
                        second.find("input[name='email-summary']").val(emailSummary.html());
                        first.find("input[name='tz-name']").val(jstz.determine().name());
                    }
                });
                first.hide();
                second.show();
            }
        });

        prev.click(function () {
            second.hide();
            first.show();
        });

        form.submit(function () {
            submit.attr("disabled", true);
        });

    })
    ;
</script>