<script type="text/javascript">
    "use strict";

    $(function () {
        var form = $(".fileupload-form");
        var first = form.find(".first");
        var second = form.find(".second");
        var third = form.find(".third");

        var next1 = first.find(".next");
        var next2 = second.find(".next");
        var prev2 = second.find(".prev");
        var prev3 = third.find(".prev");
        var submit = third.find("#file-submit");

        var hiddenEmailDiv = third.find(".email-hidden-div");

        var addFile = first.find("#add-files");
        var errorMessage = first.find(".fileupload-error-messages");

        // Apply parsley required validation
        addFile.attr('data-parsley-required', 'false');

        // Apply parsley error message to a specific container
        addFile.attr('data-parsley-errors-container', '.fileupload-buttonbar');


        var is_private;

        var editor = $('#file-editor');
        var confirmation = $('#email-file-summary');

        // Handles click events on the first next button
        next1.click(function (e) {
            var templateDownload = first.find(".template-download");
            var templateUpload = first.find(".template-upload");
            var uploadError = first.find(".upload-error");
            var errorPostUpload = first.find(".error-post-fileupload");


            // Validate file input field and file form
            form.parsley().validate();

            // Removes parsley validator on file input field when a file has been successfully uploaded
            if (templateDownload.length > 0) {
                addFile.attr('data-parsley-required', 'false');
            }

            // Prevent default if one more more upload has not been completed
            if (templateDownload.length === 0 && (templateUpload.length !== 0)) {
                errorMessage.text("One or more uploads has not completed").show();
                e.preventDefault();
                return false;
            }

            // Prevent default if no file has been added or uploaded
            if (templateDownload.length === 0 && (templateUpload.length === 0)) {
                errorMessage.html("<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
                    "<strong>Error, a file is required.</strong> Please select a file.").show();
                e.preventDefault();
                return false;
            }

            // Prevent default if files with error are not removed
            if (uploadError.length > 0 || errorPostUpload.is(':visible')) {
                errorMessage.text("Files with Errors must be removed").show();
                e.preventDefault();
                return false;
            }

            // Prevent default if fileupload form is in NOT valid
            if (!form.parsley().isValid()) {
                e.preventDefault();
                return false;
            }

            // Proceed with next click function if validation fields are valid and no files are uploading
            if (form.parsley().isValid() && (templateUpload.length === 0)) {
                var filenames = first.find(".secured-name").map(function () {
                    return $(this).text();
                }).get();
                var title = first.find(".title-field").map(function () {
                    return $(this).val();
                }).get();
                var privacy = first.find(".file-privacy:checked").map(function () {
                    return $(this).val();
                }).get();

                // Create an array (called files) of objects with keys of filename and privacy
                var files = [];
                for (var i = 0; i < filenames.length; i++) {
                    var file = {};
                    file["filename"] = filenames[i];
                    file["title"] = title[i];
                    file["privacy"] = privacy[i];
                    files.push(file);
                }

                is_private = true;
                for (var j = 0; j < privacy.length; j++) {
                    // Check if current value === 'private'
                    if (privacy[j] !== 'private') {
                        is_private = false;
                        break;
                    }
                }
                $.ajax({
                    url: "/response/email",
                    type: 'POST',
                    data: {
                        request_id: "{{ request.id }}",
                        type: "files",
                        files: JSON.stringify(files),
                        is_private: is_private,
                        tz_name: jstz.determine().name()
                    },
                    success: function (data) {
                        var emailContent = second.find(".email-file-content-hidden");
                        emailContent.html(data.template);
                        flask_moment_render_all();
                        tinyMCE.get('email-file-content').setContent(emailContent.html());
                        $(".file-confirmation-header").text(data.header);
                        editor.unblock();
                        next2.prop('disabled', false);
                    }
                });
                first.hide();
                second.show();
                editor.block({
                    message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                    '<span class=\"sr-only\">Loading content...</span></div></div>'
                });
                next2.prop('disabled', true);
            }
        });

        // Handles click events on the second next button
        next2.click(function () {
            tinyMCE.triggerSave();

            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: {
                    request_id: "{{ request.id }}",
                    type: "files",
                    email_content: second.find("#email-file-content").val(),
                    is_private: is_private
                },
                success: function (data) {
                    var emailSummary = third.find("#email-file-summary");
                    emailSummary.html(data.template);
                    emailSummary.find('p').filter(function () {
                        return this.innerHTML == '&nbsp;';
                    }).remove();
                    hiddenEmailDiv.html(emailSummary.html());
                    confirmation.unblock();
                    submit.prop('disabled', false);
                }
            });
            second.hide();
            third.show();
            confirmation.block({
                message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                '<span class=\"sr-only\">Loading content...</span></div></div>'
            });
            submit.prop('disabled', true);
        });

        // Handles click events on the first previous button
        prev2.click(function () {
            errorMessage.hide();
            second.hide();
            first.show();
        });

        // Handles click events on the second previous button
        prev3.click(function () {
            third.hide();
            second.show();
        });

        // Disable button on submit and handle email content
        submit.click(function () {
            submit.attr("disabled", true);
            var randomString = getRandomString(32, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
            hiddenEmailDiv.find(".file-links").html(randomString);
            hiddenEmailDiv.find("p:empty").remove();
            third.find("input[name='tz_name']").val(jstz.determine().name());
            third.find("#email-file-summary-hidden").val(hiddenEmailDiv.html());
            third.find("input[name='replace-string']").val(randomString);
            form.submit();
        });

        function getRandomString(length, chars) {
            var string = '';
            for (var i = length; i > 0; --i) string += chars[Math.floor(Math.random() * chars.length)];
            return string;
        }
    });
</script>
