<script type="text/javascript">
    "use strict";

    $(document).ready(function () {
        var editor = $('#link-editor');
        var confirmation = $('#email-link-summary');

        // Hides all other divs except for the first
        $(".link-control .link-divs").each(function (e) {
            if (e != 0)
                $(this).hide();
        });

        // Handles click events on the first next button
        $("#link-next-1").click(function () {
            // Validate link form
            $("#add-link-form").parsley().validate();

            // If validation fields are valid, proceed with next click function
            if ($('#add-link-form').parsley().isValid()) {
                $.ajax({
                    url: "/response/email",
                    type: 'POST',
                    data: {
                        request_id: "{{ request.id }}",
                        type: "links",
                        link: JSON.stringify({
                            url: $('#link-url').val(),
                            title: $("#link-title").val(),
                            privacy: $('.link-privacy:checked').val()
                        }),
                        tz_name: jstz.determine().name()
                    },
                    success: function (data) {
                        var emailContent = $(".email-link-content-hidden");
                        emailContent.html(data.template);
                        flask_moment_render_all();
                        tinyMCE.get('email-link-content').setContent(emailContent.html());
                        $(".link-confirmation-header").text(data.header);
                        editor.unblock();
                        $('#link-next-2').prop('disabled', false);
                    }
                });
                document.getElementById("link-first").style.display = "none";
                document.getElementById("link-second").style.display = "block";
                editor.block({
                    message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                    '<span class=\"sr-only\">Loading content...</span></div></div>'
                });
                $('#link-next-2').prop('disabled', true);
            }
        });

        // Handles click events on the second next button
        $("#link-next-2").click(function () {
            tinyMCE.triggerSave();
            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: {
                    request_id: "{{ request.id }}",
                    type: "links",
                    email_content: $('#email-link-content').val()
                },
                success: function (data) {
                    // Data should be html template page.
                    $("#email-link-summary").html(data.template);
                    $("#email-link-summary-hidden").val(data.template);
                    confirmation.unblock();
                    $('#link-submit').prop('disabled', false);
                }
            });
            document.getElementById("link-second").style.display = "none";
            document.getElementById("link-third").style.display = "block";
            confirmation.block({
                message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                '<span class=\"sr-only\">Loading content...</span></div></div>'
            });
            $('#link-submit').prop('disabled', true);
        });

        // Handles click events on the first previous button
        $("#link-prev-1").click(function () {
            document.getElementById("link-first").style.display = "block";
            document.getElementById("link-second").style.display = "none";
        });

        // Handles click events on the second previous button
        $("#link-prev-2").click(function () {
            document.getElementById("link-third").style.display = "none";
            document.getElementById("link-second").style.display = "block";
        });

        // Disable button on submit
        $("#add-link-form").submit(function () {
            $("#link-submit").attr("disabled", true);
        });

        // Apply parsley data required validation to link title and url
        $("#link-title").attr("data-parsley-required", "");
        $("#link-url").attr("data-parsley-required", "");

        // Apply parsley max length validation to link title and url
        $("#link-title").attr("data-parsley-maxlength", "90");
        $("#link-url").attr("data-parsley-maxlength", "254");

        // Apply custom validation messages
        $("#link-title").attr("data-parsley-required-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, link title is required.</strong> Please type in a link title.");
        $("#link-url").attr("data-parsley-required-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, URL link is required.</strong> Please type in a link.");
        $("#link-title").attr("data-parsley-maxlength-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "Error, link title must be less than 90 characters.");
        $("#link-url").attr("data-parsley-maxlength-message",
            "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "Error, URL link must be less than 254 characters.");

        // Custom validator to validate strict url using regexUrlChecker
        $("#link-url").attr("data-parsley-urlstrict", "");
        window.Parsley.addValidator("urlstrict", function (value) {
            return "" !== value ? regexUrlChecker(value) : false;
        }).addMessage("en", "urlstrict", "<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;" +
            "<strong>Error, this URL is invalid.</strong> Please type in a valid URL.");

        // Set character counter for link title
        $("#link-title").keyup(function () {
            characterCounter("#link-title-character-count", 90, $(this).val().length)
        });

        // Set character counter for link url
        $("#link-url").keyup(function () {
            characterCounter("#link-url-character-count", 254, $(this).val().length)
        });
    });
</script>
