<form id="fileupload" class="fileupload-form" action="/response/file/{{ request.id }}" method="POST"
      enctype="multipart/form-data">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="col-sm-9">
        <div class="modal fade" id="duplicate-file-modal" tabindex="-1" role="dialog">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content col-sm-4 col-sm-offset-4">
                        <div class="modal-header">
                            <h4 class="modal-title">Duplicate File Added</h4>
                        </div>
                        <div class="modal-body">Are you sure you want to delete this form? All your entered information
                            will be lost.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fileupload-control">
            <fieldset>
                <legend>
                    Add File
                    <small data-toggle="popover" data-placement="right" data-trigger="hover" title="Adding Files"
                           data-content="This function allows you to upload multiple files for a single request.">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </small>
                </legend>
                <div class="first">
                    <div class="fileupload-error-messages alert alert-danger" hidden></div>
                    <!-- first div of the add-file form containing uploads -->
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-7">
                            <label class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input type="file" name="file" id="add-files" multiple>
                            </label>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start All</span>
                            </button>
                            <!-- TODO: (maybe) global cancellation / deletion
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                            <button type="button" class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                            <input type="checkbox" class="toggle">
                            -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-lg-5 fileupload-progress fade">
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                 aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width: 0;"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <div role="presentation">
                        <div class="files"></div>
                    </div>
                    <button type="button" class="next next-btn btn btn-primary">Next</button>
                </div>
                <!-- second div of the add-file form containing email content -->
                <div class="second" hidden>
                    <h4>Edit Email Body</h4>
                    <div id="file-editor" class="form-group">
                        <div class="email-file-content-hidden" hidden></div>
                        <textarea class="tinymce-area" name="email-file-content" title="email-content"></textarea>
                    </div>
                    <button type="button" class="prev prev-btn btn btn-default">Prev</button>
                    <button type="button" class="next next-btn btn btn-primary">Next</button>
                </div>
                <!-- last div of the add-file form containing confirmation and submit -->
                <div class="third" hidden>
                    <h4 class="file-confirmation-header"></h4>
                    <div class="wrap-text summary" id="email-file-summary"></div>
                    <!-- hidden input to send email summary to backend -->
                    <div class="email-hidden-div" hidden></div>
                    <input type="hidden" name="email-file-summary" id="email-file-summary-hidden">
                    <input type="hidden" name="replace-string">
                    <input type="hidden" name="tz_name">
                    <button type="button" class="prev pull-left btn btn-default">Prev</button>
                    <button type="submit" class="submit-btn btn btn-success" id="file-submit">Submit</button>
                </div>
            </fieldset>
        </div>
    </div>
</form>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="row template-upload fade template-row-spacer">
            <div class="col-sm-5">
                <p class="name original-name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </div>
            <div class="col-sm-2">
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            </div>
            <div class="col-sm-5">
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </div>
        </div>
    {% } %}
</script>
{% endraw %}
<!-- The template to display files after upload -->
{% if permissions['edit_file_privacy'] %}
    {% raw %}
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="row template-download fade template-row-spacer" id="{%=file.identifier%}">
            <div class="col-sm-8">
                <span class="original-name hidden">{%=file.original_name%}</span>
                <p class="name">
                    Filename: <strong><span class="secured-name">{%=file.name%}</span></strong>
                </p>

                {% if (!(file.error)) { %}
                    <div class="fileupload-input-fields hidden">
                        Title: <input type="text" class="title-field" name="{%=file.name%}::title" data-parsley-required data-parsley-maxlength="250" maxlength="250">
                        <input type="hidden" name="filename_{%=file.name%}" value="{%=file.name%}">
                        <div class="radio">
                            <label><input type="radio" class="file-privacy" name="{%=file.name%}::privacy"
                                value="release_public">Release and Public</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" class="file-privacy" name="{%=file.name%}::privacy"
                                value="release_private">Release and Private</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" class="file-privacy" name="{%=file.name%}::privacy"
                                value="private" checked>Private</label>
                        </div>
                    </div>
                {% } %}

                {% if (file.error) { %}
                    <!-- Error reported using fileupload -->
                    <div><span class="label label-danger upload-error">Error</span> {%=file.error%}</div>
                {% } %}

                <!-- Error reported post upload (fileuploaddone) -->
                <div class="error-post-fileupload hidden">
                    <span class="label label-danger">Error</span>
                    <span class="error-post-fileupload-msg"></span>
                </div>
            </div>
            <div class="col-sm-1">
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </div>
            <div class="col-sm-2">
                {% if (file.error) { %}
                    <!-- CANCEL -->
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } else { %}
                    <!-- PROCESSING -->
                    <img src="/static/img/loading.gif" class="processing-upload" alt="Processing" height="20" width="20">
                    <!-- REMOVE -->
                    <button class="remove-post-fileupload btn btn-warning hidden">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } %}
            </div>
        </div>
    {% } %}
    </script>
    {% endraw %}
{% else %}
    {% raw %}
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="row template-download fade upload-row-spacer" id="{%=file.identifier%}">
            <div class="col-sm-8">
                <span class="original-name hidden">{%=file.original_name%}</span>
                <p class="name">
                    Filename: <strong><span class="secured-name">{%=file.name%}</span></strong>
                </p>

                {% if (!(file.error)) { %}
                    <div class="fileupload-input-fields hidden">
                        Title: <input type="text" class="title-field" name="{%=file.name%}::title" data-parsley-required data-parsley-maxlength="250" maxlength="250">
                        <input type="hidden" name="filename_{%=file.name%}" value="{%=file.name%}">
                        <div class="radio">
                            <label><input type="radio" class="file-privacy" name="{%=file.name%}::privacy"
                                value="private" checked>Private</label>
                        </div>
                    </div>
                {% } %}

                {% if (file.error) { %}
                    <!-- Error reported using fileupload -->
                    <div><span class="label label-danger upload-error">Error</span> {%=file.error%}</div>
                {% } %}

                <!-- Error reported post upload (fileuploaddone) -->
                <div class="error-post-fileupload hidden">
                    <span class="label label-danger">Error</span>
                    <span class="error-post-fileupload-msg"></span>
                </div>
            </div>
            <div class="col-sm-1">
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </div>
            <div class="col-sm-2">
                {% if (file.error) { %}
                    <!-- CANCEL -->
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } else { %}
                    <!-- PROCESSING -->
                    <img src="/static/img/loading.gif" class="processing-upload" alt="Processing" height="20" width="20">
                    <!-- REMOVE -->
                    <button class="remove-post-fileupload btn btn-warning hidden">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } %}
            </div>
        </div>
    {% } %}
    </script>
    {% endraw %}
{% endif %}