<script type="text/javascript">
    $(function () {
        var form = $("#edit-user-request");
        var first = form.find(".first");
        var second = form.find(".second");

        var next = first.find(".next");
        var prev = second.find(".prev");
        var submit = second.find(".submit");

        var role = first.find("#role");
        var permission = first.find("#permission");


        role.change(function () {
            $.ajax({
                url: "/permissions/api/v1.0/" + role.val(),
                type: "GET",
                success: function (data) {
                    $('#permission').children().each(function () {
                        if (data.indexOf(parseInt($(this).val())) !== -1) {
                            $(this).prop("selected", true);
                        } else {
                            $(this).prop("selected", false);
                        }
                    })

                }
            });
        });

        permission.find('option').mousedown(function(e) {
            e.preventDefault();
            permission.focus();
            $(this).prop('selected', !$(this).prop('selected'));
            return false;
        });

        $('#user').change(function () {
            $('#edit_options').show();
        });

        next.click(function () {
            $.ajax({
                url: "/response/email",
                type: "POST",
                data: {
                    request_id: "{{ request.id }}",
                    type: "user_request_edited",
                    permission: permission.val(),
                    guid: $('#user').val()
                },
                success: function (data) {
                    $('.email-summary').html(data.template);
                    first.hide();
                    second.show();
                    $('#user_name').text(data.name);
                }
            });
        });

        prev.click(function () {
            second.hide();
            first.show();
        });

        submit.click(function(e) {
            e.preventDefault();
            var formData = form.serializeArray();
            $.ajax({
                url: "/user_request/" + "{{ request.id }}",
                type: "PATCH",
                data: formData,
                success: function(){
                    location.reload();
                }
            });
        });
    });
</script>