<script type="text/javascript">
    "use strict";

    $(function () {
        var form = $("#edit-user-request");
        var first = form.find(".first");
        var second = form.find(".second");

        var next = first.find(".next");
        var prev = second.find(".prev");
        var submit = second.find(".submit");

        var role = first.find("#role");
        var user = first.find("#user");
        var permission = first.find("#permission");

        var current_permissions = {{ assigned_user_permissions | safe }};

        var current_point_of_contact = {{ current_point_of_contact | safe }};
        var point_of_contact = $("#edit_point_of_contact");
        var point_of_contact_state;

        var confirmation = $('#edit-user-confirmation');

        function setPermissions(perms) {
            permission.children().each(function () {
                if (perms.indexOf(Number($(this).val())) !== -1) {
                    $(this).prop("selected", true);
                } else {
                    $(this).prop("selected", false);
                }
            });
        }

        function setCurrentPermissions() {
            if (current_permissions.hasOwnProperty(user.val())) {
                setPermissions(current_permissions[user.val()]);
            }
        }

        function setCurrentPointOfContact() {
            if (user.val() === current_point_of_contact["user_guid"]) {
                point_of_contact.prop("checked", true);
                point_of_contact_state = true;
            }
            else {
                point_of_contact.prop("checked", false);
                point_of_contact_state = false;
            }
        }

        role.change(function () {
            if (role.val() == 0) {
                setCurrentPermissions();
            }
            else {
                $.ajax({
                    url: "/permissions/api/v1.0/" + role.val(),
                    type: "GET",
                    success: function (data) {
                        setPermissions(data);
                    }
                });
                $('#no-permissions-changed-error').css("display", "none");
            }
        });

        permission.find('option').mousedown(function(e) {
            $('#no-permissions-changed-error').css("display", "none");
            e.preventDefault();
            permission.focus();
            $(this).prop('selected', !$(this).prop('selected'));
            return false;
        });

        var options = $("#edit_options");
        var ua = window.navigator.userAgent;
        user.change(function () {
            if (user.val() != 0) {
                if (role.val()) {
                    role.val(0);
                }
                if (~ua.indexOf("MSIE ") || ~ua.indexOf("Trident/") || ~ua.indexOf("Edge")) {
                    first.find("#ie-message").show();
                }
                options.show();
                setCurrentPermissions();
                setCurrentPointOfContact();
            } else {
                point_of_contact.prop("checked", false);
                options.hide();
            }
            $('#no-permissions-changed-error').css("display", "none");
        });

        next.click(function () {
            // check if permissions are different
            if ((permission.val() === null && current_permissions[user.val()].length > 0) ||
                (permission.val() !== null && !permission.val()
                    .map(Number)
                    .every(function(item, index) {
                        return item === current_permissions[user.val()][index];
                    })) ||
                point_of_contact.is(":checked") !== point_of_contact_state
            ) {
                $.ajax({
                    url: "/response/email",
                    type: "POST",
                    data: {
                        request_id: "{{ request.id }}",
                        type: "user_request_edited",
                        permission: permission.val(),
                        guid: user.val()
                    },
                    success: function (data) {
                        $(".email-summary").html(data.template);
                        $("#user_name").text(data.name);
                        confirmation.unblock();
                        submit.prop('disabled', false);
                    }
                });
                first.hide();
                second.show();
                confirmation.block({
                    message: '<div class=\"col-sm-12 loading-container\"><div class=\"loading-spinner\">' +
                    '<span class=\"sr-only\">Loading content...</span></div></div>'
                });
                submit.prop('disabled', true);
            }
            else {
                $('#no-permissions-changed-error').css({"color": "red", "display": ""});
            }
        });

        prev.click(function () {
            second.hide();
            first.show();
            $('#no-permissions-changed-error').css("display", "none");
        });

        submit.click(function(e) {
            e.preventDefault();
            var formData = form.serializeArray();
            $.ajax({
                url: "/user_request/" + "{{ request.id }}",
                type: "PATCH",
                data: formData,
                success: function(){
                    location.reload();
                }
            });
        });
    });
</script>