<div id="concurrent-session-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="concurrent-session-label">You are already logged in to another session</h4>
                </h4>
            </div>
            <div class="modal-body">
                Please log out of your existing session to continue.
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('auth.logout', forced_logout=True) }}"><button id="continue-current-session" class="btn btn-warning" type="button" data-dismiss="modal">Continue Current Session</button></a>
                <button id="log-off" class="btn btn-default" type="button" data-dismiss="modal">Log Off</button>
            </div>
        </div>
    </div>
</div>