<div id="login-processing-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Logging in... <span id="processing-submission">
                    <img src="{{ url_for("static", filename="img/loading.gif") }}"
                         alt="Processing" height="40" width="40">
                </span></h4>
                </h4>
            </div>
            <div class="modal-body">
                Your request to login is being processed.<br/>

            </div>
        </div>
    </div>
</div>