{% extends "base.html" %}

{% block title %}Manage Account{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/jquery-ui.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/parsley.css') }}"/>
{% endblock %}
{% block content %}

<div id="container-fluid">
    <div class="col-sm-12">
        <form method="post" class="form" role="form" id="request-form" data-parsley-validate data-parsley-focus="none">
            <h1 class="text-center">Manage OpenRecords Account
            <small data-toggle="popover"
                   data-placement="bottom"
                   data-trigger="hover"
                   title="Manage OpenRecords Account"
                   data-content="On this page you can change your OpenRecords account attributes,
                   which are unique to this application.
                   {% if current_user.has_nyc_id_profile %}
                   To access your NYC.ID Profile, click on 'Profile' at the top right.
                   {% endif %}">
                <span class="glyphicon glyphicon-question-sign"></span>
            </small>
            </h1>

            <hr>
            <a href="{{ url_for('mfa.manage') }}" class="btn btn-primary">Manage MFA Devices</a>
            <hr>

            {{ form.csrf_token }}

            {% if is_agency %}
                {{ form.default_agency.label(class='request-heading') }}
                {{ form.default_agency(id='primary-agency', class='input-block-level') }}<br>

            {% endif %}

            {{ form.title.label(class='request-heading') }}
            {{ form.title(
                id='title',
                class='input-block-level',
                placeholder='Your role in your organization (if applicable)',
                maxlength="64") }}
            <p id="title-character-count" class="character-counter">64 characters remaining</p>
            <br>
            {{ form.organization.label(class='request-heading') }}
            {{ form.organization(
                id='organization',
                class='input-block-level',
                placeholder='Your organization (if applicable)',
                maxlength="128") }}
            <p id="organization-character-count" class="character-counter">128 characters remaining</p>
            <br>
            <div class="contact-form-error-message" tabindex="0"></div>

            {{ form.notification_email.label(class='request-heading') }}
            <span data-toggle="popover" data-placement="right" data-trigger="hover" title="Notification Email"
                  data-content="This email may be changed for receiving notifications from the OpenRecords portal.
                  Your login email will not be changed."
                  class="glyphicon glyphicon-question-sign">
            </span>
            {{ form.notification_email(
                id='email',
                class='input-block-level',
                placeholder='you@email.com',
                maxlength="254") }}<br>

            {{ form.phone_number.label(class='request-heading') }}
            {{ form.phone_number(
                id='phone',
                class='input-block-level',
                placeholder='(555) 555-5555') }}<br>

            {{ form.fax_number.label(class='request-heading') }}
            {{ form.fax_number(
                id='fax',
                class='input-block-level',
                placeholder='(555) 555-5555') }}<br>

            <div class="request-heading">Address</div>
            {{ form.address_one.label }}
            {{ form.address_one(
                id='address-line-1',
                class='input-block-level',
                placeholder='123 Main Street') }}<br>

            {{ form.address_two.label }}
            {{ form.address_two(
                id='address_two',
                class='input-block-level',
                placeholder='Apartment 3D') }}<br>
            <div class="row-fluid">
                <div class="span5">
                    {{ form.city.label(class='request-heading') }}
                    {{ form.city(
                        id='city',
                        class='input-block-level',
                        placeholder='New York') }}<br>
                </div>
                <div class="span4">
                    {{ form.state.label(class='request-heading') }}
                    {{ form.state(
                        id='state',
                        class='form-control') }}<br>
                </div>
                <div class="span3">
                    {{ form.zipcode.label(class='request-heading') }}
                    {{ form.zipcode(
                        id='zipcode',
                        class='input-block-level',
                        placeholder='12345') }}<br>
                </div>
            </div>

            {{ form.submit(id='submit', class='btn-primary') }}<br>
        </form>
    </div>
</div>
{% endblock %}
{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/auth/manage-account.js') }}"></script>
{% endblock %}