<div id="missing-name-modal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="missing-name-label">Profile Missing Name</h4>
            </div>
            <div class="modal-body">
                Error, your profile is missing a name. Please click continue to update your profile.
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" type="button" id="continue-to-profile" href="#">Continue</a>
            </div>
        </div>
    </div>
</div>