<div id="session-warning-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="sessWarnLabel">Your session is about to expire</h4>
                </h4>
            </div>
            <div class="modal-body">
                Your session will expire in <span id="remaining-time"></span> minutes due to inactivity.
            </div>
            <div class="modal-footer">
                <button id="log-out" class="btn btn-default" type="button" data-dismiss="modal">Log Out</button>
                <button id="stay-logged-in" class="btn btn-warning" type="button" data-dismiss="modal">Stay Logged In
                </button>
            </div>
        </div>
    </div>
</div>