<div class="row event-row {% if has_modal %}has-modal{% endif %}" data-toggle="modal" data-target="#event-modal-{{ event.id }}"
     data-backdrop="static" data-keyboard="false">
    <div class="row">
        <div class="col-sm-3 event-row-num">
            {{ row_num }}
        </div>
        <div class="col-sm-9 text-right">
            {{ moment(event.timestamp).format('MM/DD/YYYY h:mm A') }}
        </div>
    </div>
    <div class="row history-row-content">
        <div class="col-sm-12">
            {{ event.history_row_content | safe }}
        </div>
    </div>
</div>