# scan uploads directory on the first day of every month at midnight
0 0 1 * * /usr/local/bin/uvscan --summary --atime-preserve --analyze -r --secure <PATH-TO-UPLOAD-DIRECTORY> >> <PATH-TO-LOG-FILE>

# update virus definitions daily at midnight
0 0 * * * sudo /usr/local/uvscan/update_definitions.sh
