# sample scan of quarantine directory and subdirectories
# the scan will run at 00:00 on the first of every month
0 0 1 * * /usr/local/bin/uvscan --summary --atime-preserve --analyze -r --secure quarantine/data/
