[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "57.5.0"
pipdeptree = "*"
decorator = "*"
Faker = "*"
ipdb = "*"
ipython = "*"
ipython-genutils = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
Pygments = "*"
simplegeneric = "*"
traitlets = "*"
wcwidth = "*"
pytest = "*"
pytest-cov = "*"
atomicwrites = "*"
attrs = "*"
more-itertools = "*"
pluggy = "*"
py = "*"

[packages]
alembic = "*"
appdirs = "*"
asn1crypto = "*"
bcrypt = "*"
blinker = "*"
cached-property = "*"
cairocffi = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
coverage = "*"
cryptography = "*"
cssselect2 = "*"
defusedxml = "*"
dominate = "*"
elasticsearch = {version = ">=7.0,<8.0"}
holidays = "*"
html5lib = "*"
idna = "*"
isodate = "*"
itsdangerous = "*"
jsonschema = "*"
ldap3 = "*"
lxml = "*"
oauthlib = "*"
paramiko = "*"
pdfrw = "*"
pkgconfig = "*"
pyasn1 = "*"
pycparser = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
pytz = "*"
raven = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
simplekv = "*"
six = "*"
tablib = "*"
tinycss2 = "*"
tzlocal = "*"
urllib3 = "*"
virtualenv = "*"
visitor = "*"
webencodings = "*"
xmlsec = "*"
business_calendar = "*"
CairoSVG = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-Moment = "*"
Flask-reCaptcha = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-Tracy = "*"
Flask-WeasyPrint = "*"
Flask-WTF = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
Pillow = "*"
PyNaCl = "*"
pyOpenSSL = "*"
Pyphen = "*"
SQLAlchemy = "*"
WeasyPrint = "*"
Werkzeug = "*"
WTForms = {extras = ["email"], version = "*"}
psycopg2-binary = "*"
python-magic-bin = {version = "*", sys_platform = "=='darwin'"}
flask-session = "*"
celery = "*"
billiard = "*"
kombu = "*"
vine = "*"
amqp = "*"
pyotp = "*"
python-magic = "*"
gunicorn = "*"

[requires]
python_version = "3.10.2"
