alembic==0.8.7
click==6.6
Flask==0.11.1
Flask-KVSession==0.6.2
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.4
Mako==1.0.4
MarkupSafe==0.23
python-editor==1.0.1
python3-saml==1.1.4
simplekv==0.10.0
six==1.10.0
SQLAlchemy==1.0.15
Werkzeug==0.11.11
xmlsec==0.6.1
