<div class="custom-request-form-radio custom-request-form-field">
    <label class="request-heading" for="{{ field_name }}-{{ instance_id }}">{{ field_text }}{% if field_required %} (required){% endif %}</label>
    {% if tooltip %}
        <span id="{{ field_name }}-{{ instance_id }}-tooltip" class="glyphicon glyphicon-question-sign"></span>
    {% endif %}
    <br>
    {% if help_text %}
        <p>{{ help_text }}</p>
    {% endif %}
    {% for option in options %}
        <input class="custom-request-form-data" type="radio" id="{{ field_name }}-{{ instance_id }}" name="{{ field_name }}-{{ instance_id }}" value="{{ option }}" style="display: inline;" {% if field_required %}data-parsley-required{% endif %}/>&nbsp;{{ option }}<br>
    {% endfor %}
    <br>
</div>