<div class="custom-request-form-select-dropdown custom-request-form-field">
    <label class="request-heading" for="{{ field_name }}-{{ instance_id }}">{{ field_text }}{% if field_required %} (required){% endif %}</label>
    {% if tooltip %}
        <span id="{{ field_name }}-{{ instance_id }}-tooltip" class="glyphicon glyphicon-question-sign"></span>
    {% endif %}
    {% if help_text %}
        <p class="help-text">{{ help_text }}</p>
    {% endif %}
    <br>
    <select class="input-block-level custom-request-form-data" id="{{ field_name }}-{{ instance_id }}" name="{{ field_name }}-{{ instance_id }}" {% if field_required %}data-parsley-required{% endif %}>
        <option value=""></option>
        {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select><br>
</div>