<div class="custom-request-form-textarea custom-request-form-field">
    <label class="request-heading" for="{{ field_name }}-{{ instance_id }}">{{ field_text }}{% if field_required %} (required){% endif %}</label>
    {% if tooltip %}
        <span id="{{ field_name }}-{{ instance_id }}-tooltip" class="glyphicon glyphicon-question-sign"></span>
    {% endif %}
    {% if help_text %}
        <p class="help-text">{{ help_text }}</p>
    {% endif %}
    <br>
    <textarea class="input-block-level custom-request-form-data" id="{{ field_name }}-{{ instance_id }}" name="{{ field_name }}-{{ instance_id }}" style="height: 10rem;"
              {% if field_required %}data-parsley-required{% endif %}
              {% if max_length and min_length %}maxlength="{{ max_length }}" minlength="{{ min_length }}"
              {% elif max_length %}data-parsley-maxlength="{{ max_length }}" maxlength="{{ max_length }}"
              {% elif min_length %}data-parsley-minlength="{{ min_length }}" minlength="{{ min_length }}"
              {% endif %}
              {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}></textarea>
    {% if max_length and character_counter %}
        <p id="{{ field_name }}-{{ instance_id }}-character-count" class="character-counter">{{ max_length }} characters remaining</p>
    {% endif %}
    <br>
</div>