<div class="custom-request-form-textarea">
    <label class="request-heading" id="{{ field_name }}" for="{{ field_name }}">{{ field_text }}</label><br>
    <textarea class="input-block-level" name="{{ field_name }}" style="height: 10rem;"
              {% if field_required %}data-parsley-required{% endif %}
              {% if max_length %}data-parsley-maxlength="{{ max_length }}" maxlength="{{ max_length }}"{% endif %}
              {% if min_length %}data-parsley-minlength="{{ min_length }}" minlength="{{ min_length }}"{% endif %}></textarea><br>
</div>