<div class="row search-row">
    <div class="col-sm-12">
        <label for="searchTerms" class="h4"><strong>Search Term(s)</strong>
            <button data-toggle="collapse" data-target="#helptext-search" aria-expanded="false"
                    aria-controls="helptext-search" type="button" class="helptext-button"><span class="sr-only">Help: Learn more about search terms.</span><span
                    aria-hidden="true"></span>
            </button>
        </label>
        <div class="helptext-wrapper bg-info collapse" id="helptext-search">
            <p class="helptext text-white">
                Enter keywords to search by request titles and agency descriptions. If you know the FOIL
                ID
                you can search for a specific request. To refine your search, select Advanced Search
                Options below.
            </p>
        </div>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="query" name="query"
                   placeholder="Enter keywords" aria-label="Search Terms">
            <span class="input-group-btn">
                    <button type="button" id="search" class="btn btn-primary">Search</button>
                </span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row collapse in agency-advanced-options" id="advanced-options">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="fieldset" aria-labelledby="searchBy-legend">
                    <div class="h4" id="searchBy-legend"><strong>Search By</strong></div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="foil_id">
                            FOIL ID
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="title" checked>
                            Title
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="description">
                            Description
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="agency_request_summary">
                            Agency Request Summary
                        </label>
                        <button data-toggle="collapse" data-target="#helptext-agencyrequest" aria-expanded="false"
                                aria-controls="helptext-agencyrequest" type="button" class="helptext-button"><span
                                class="sr-only">Help: Additional Information about Agency Request Summary</span><span
                                aria-hidden="true"></span>
                        </button>
                        <div class="helptext-wrapper collapse bg-info" id="helptext-agencyrequest">
                            <p class="helptext">Agency version of the request description that does not
                                contain any personal information from the requester so it can be
                                searched by other users.</p>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="requester_name">
                            Requester Name
                        </label>
                    </div>
                </div>
                <div class="fieldset" aria-labelledby="status-legend">
                    <div class="h4" id="status-legend"><strong>Status</strong></div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="open" checked>
                            Open
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="in_progress" checked>
                            In Progress
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="due_soon" checked>
                            Due Soon
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="overdue" checked>
                            Overdue
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="closed">
                            Closed
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="fieldset date-filter-section" aria-labelledby="dateSubmitted-legend">
                    <div class="h4" id="dateSubmitted-legend"><strong>Date Submitted</strong>
                        <button data-toggle="collapse" data-target="#helptext-datesubmitted" aria-expanded="false"
                                aria-controls="helptext-datesubmitted" type="button" class="helptext-button"><span
                                class="sr-only">Help: Learn more about date submitted requirements</span><span
                                aria-hidden="true"></span></button>
                    </div>
                    <div class="helptext-wrapper bg-info collapse" id="helptext-datesubmitted" aria-expanded="false"
                         style="height: 0;">
                        <p class="helptext text-white">This field allows you to search for requests that
                            were received between
                            two specific dates. The date format accepted in numerical format of month, day and year
                            (mm/dd/yyyy)</p>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-6 date-filter">
                        <label for="date-rec-from">From:</label>
                        <input data-toggle="popover" data-placement="top" data-trigger="manual"
                               data-animation="false" type="text" id="date-rec-from"
                               name="date_rec_from" data-original-title="" title=""
                               aria-label="From, date submitted, date format must be month month/day day/year year year"/>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-6 date-filter">
                        <label for="date-rec-to">To:</label>
                        <input data-toggle="popover" data-placement="top" data-trigger="manual"
                               data-animation="false" type="text" id="date-rec-to" name="date_rec_to"
                               data-original-title="" title=""
                               aria-label="To, date submitted, date format must be month month/day day/year year year">
                    </div>

                    <div id="date-submitted-req" class="date-required" aria-live="assertive" tabindex="0">
                        <strong>*</strong> Date Submitted error. The date entered in the <strong>From</strong> field above
                        must have taken place before the dated entered in the <strong>To</strong> field.
                    </div>
                </div>
                <div class="fieldset date-filter-section" aria-labelledby="dateDue-legend">
                    <div class="h4" id="dateDue-legend"><strong>Date Due</strong>
                        <button data-toggle="collapse" data-target="#helptext-datedue" aria-expanded="false"
                                aria-controls="helptext-datedue" type="button" class="helptext-button"><span
                                class="sr-only">Help: Learn more about date due requirements</span><span
                                aria-hidden="true"></span></button>
                    </div>
                    <div class="helptext-wrapper bg-info collapse" id="helptext-datedue" aria-expanded="false"
                         style="height: 0;">
                        <p class="helptext text-white">This field allows you to search for requests that
                            are due between
                            two specific dates. The date format accepted in numerical format of month, day and year
                            (mm/dd/yyyy)</p>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-6 date-filter">
                        <label for="date-due-from">From:</label>
                        <input data-toggle="popover" data-placement="top" data-trigger="manual"
                               data-animation="false" type="text" id="date-due-from"
                               name="date_due_from" data-original-title="" title=""
                               aria-label="From, date due, date format must be month month/day day/year year year"/>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-6 date-filter">
                        <label for="date-due-to">To:</label>
                        <input data-toggle="popover" data-placement="top" data-trigger="manual"
                               data-animation="false" type="text" id="date-due-to" name="date_due_to"
                               data-original-title="" title=""
                               aria-label="To, date due, date format must be month month/day day/year year year">
                    </div>

                    <div id="date-due-req" class="date-required" aria-live="assertive" tabindex="0">
                        <strong>*</strong> Date Due error. The date entered in the <strong>From</strong> field above
                        must have taken place before the dated entered in the <strong>To</strong> field.
                    </div>
                </div>
                <div class="fieldset date-filter-section" aria-labelledby="dateClosed-legend">
                    <div class="h4" id="dateClosed-legend"><strong>Date Closed</strong>
                        <button data-toggle="collapse" data-target="#helptext-dateclosed" aria-expanded="false"
                                aria-controls="helptext-dateclosed" type="button" class="helptext-button"><span
                                class="sr-only">Help: Learn more about date closed requirements</span><span
                                aria-hidden="true"></span></button>
                    </div>
                    <div class="helptext-wrapper bg-info collapse" id="helptext-dateclosed" aria-expanded="false"
                         style="height: 0;">
                        <p class="helptext text-white">This field allows you to search for requests that
                            were closed between
                            two specific dates. The date format accepted in numerical format of month, day and year
                            (mm/dd/yyyy)</p>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-6 date-filter">
                        <label for="date-closed-from">From:</label>
                        <input data-toggle="popover" data-placement="top" data-trigger="manual"
                               data-animation="false" type="text" id="date-closed-from"
                               name="date_closed_from" data-original-title="" title=""
                               aria-label="From, date closed, date format must be month month/day day/year year year"/>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-6 date-filter">
                        <label for="date-closed-to">To:</label>
                        <input data-toggle="popover" data-placement="top" data-trigger="manual"
                               data-animation="false" type="text" id="date-closed-to" name="date_closed_to"
                               data-original-title="" title=""
                               aria-label="To, date closed, date format must be month month/day day/year year year">
                    </div>

                    <div id="date-closed-req" class="date-required" aria-live="assertive" tabindex="0">
                        <strong>*</strong> Date Closed error. The date entered in the <strong>From</strong> field above
                        must have taken place before the dated entered in the <strong>To</strong> field.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="fieldset">
                    <div class="form-group">
                        <label for="agency_select" class="h4"><strong>Agency</strong></label>
                        {{ form.agency_ein(class="form-control") }}
                    </div>
                </div>
                {% if current_user.is_agency_active() %}
                    <div class="fieldset">
                        <div class="form-group">
                            <label for="user_select" class="h4"><strong>User</strong></label>
                            {{ form.agency_user(class="input-block-level") }}
                        </div>
                    </div>
                {% endif %}
                {% if current_user.is_agency_active() %}
                    <div class="fieldset">
                        <div class="form-group">
                            <label for="request_type" class="h4"><strong>Request Type</strong></label>
                            {{ form.request_type(class="input-block-level") }}
                        </div>
                    </div>
                {% endif %}
                <div class="fieldset">
                    <div class="form-group">
                        <label for="size" class="h4"><strong>Results Per Page</strong></label>
                        <select name="size" id="size" title="size" class="form-control">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button" id="search-adv" class="btn btn-primary btn-lg">Search</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <button type="reset" class="btn-link clear-search-agency" id="clearsearch">Clear
            Search
        </button>
    </div>
</div>