<div class="col-sm-4">
    <h4><label for="query">Search By</label>
        <small data-toggle="popover" data-placement="top" data-trigger="hover" title="Search By"
               data-content="This field allows you to search by key words in the various fields of a request.">
            <span class="glyphicon glyphicon-question-sign"></span>
        </small>
    </h4>
    <input type="text" id="query" name="query">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="foil_id">
            FOIL ID
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="title" checked>
            Title
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="description">
            Description
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="agency_description">
            Agency Description
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="requester_name">
            Requester Name
        </label>
    </div>
    <br>
    <select id="size" name="size" title="size" class="input-block-level">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
    <strong>&nbsp;Results Per Page</strong>
</div>
<div class="col-sm-4">
    <div class="row">
        <h4><label>Date Received*</label>
            <small data-toggle="popover" data-placement="top" data-trigger="hover" title="Date Received"
                   data-content="This field allows you to search for requests that were received between two specific dates.">
                <span class="glyphicon glyphicon-question-sign"></span>
            </small>
        </h4>
        <div class="col-sm-6 no-pad-left">
            <label for="date-rec-from">From:</label>
            <input data-toggle="popover" data-placement="top" data-trigger="manual" data-animation="false"
                   type="text" id="date-rec-from" name="date_rec_from">
        </div>
        <div class="col-sm-6 no-pad-right">
            <label for="date-rec-to">To:</label>
            <input data-toggle="popover" data-placement="top" data-trigger="manual" data-animation="false"
                   type="text" id="date-rec-to" name="date_rec_to">
        </div>
    </div>
    <br>
    <div class="row">
        <h4><label>Date Due*</label>
            <small data-toggle="popover" data-placement="top" data-trigger="hover" title="Date Due"
                   data-content="This field allows you to search for requests that are due between two specific dates.">
                <span class="glyphicon glyphicon-question-sign"></span>
            </small>
        </h4>
        <div class="col-sm-6 no-pad-left">
            <label for="date-due-from">From:</label>
            <input data-toggle="popover" data-placement="top" data-trigger="manual" data-animation="false"
                   type="text" id="date-due-from" name="date_due_from">
        </div>
        <div class="col-sm-6 no-pad-right">
            <label for="date-due-to">To:</label>
            <input data-toggle="popover" data-placement="top" data-trigger="manual" data-animation="false"
                   type="text" id="date-due-to" name="date_due_to">
        </div>
    </div>
    <br>
    <div class="row" id="date-req">
        <strong>*From</strong> must be before <strong>To</strong>.
    </div>
</div>
<div class="col-sm-4">
    <h4>{{ form.agency_ein.label }}
        <small data-toggle="popover" data-placement="right" data-trigger="hover" title="Agency"
               data-content="This section allows you to search by different agencies.">
            <span class="glyphicon glyphicon-question-sign"></span>
        </small>
    </h4>
    {{ form.agency_ein(class="input-block-level") }}
    <br>
    <h4><label>Status</label>
        <small data-toggle="popover" data-placement="right" data-trigger="hover" title="Status"
               data-content="This field allows you to search by status of the request.">
            <span class="glyphicon glyphicon-question-sign"></span>
        </small>
    </h4>
    <div class="status open checkbox">
        <label>
            <input type="checkbox" name="open" checked>
            Open
        </label>
    </div>
    <div class="status in-progress checkbox">
        <label>
            <input type="checkbox" name="in_progress" checked>
            In Progress
        </label>
    </div>
    <div class="status due-soon checkbox">
        <label>
            <input type="checkbox" name="due_soon" checked>
            Due Soon
        </label>
    </div>
    <div class="status overdue checkbox">
        <label>
            <input type="checkbox" name="overdue" checked>
            Overdue
        </label>
    </div>
    <div class="status closed checkbox">
        <label>
            <input type="checkbox" name="closed">
            Closed
        </label>
    </div>
</div>
