<script type="text/javascript">
$(document).ready(function () {
    // Hides all other divs except for the first
    $(".instructions-control .instructions-divs").each(function (e) {
        if (e != 0)
            $(this).hide();
    });

    // Handles click events on the first next button
    $("#instructions-next-1").click(function () {
        // Onclick, changes button text from to Next
        $(this).text("Next");

        // Validate instructions form
        $("#add-instructions-form").parsley().validate();

        // If validation fields are valid, proceed with next click function
        if ($('#add-instructions-form').parsley().isValid()) {
            var formData = {
                request_id: "{{ request.id }}",
                template_name: "email_response_instructions.html",
                type: "instructions_email"
            };

            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: false,
                success: function (data) {
                    // Data should be html template page.
                    tinyMCE.get('email-instructions-content').setContent(data);
                }
            });
            document.getElementById("instructions-first").style.display = "none";
            document.getElementById("instructions-second").style.display = "block";
        }
    });

    // Handles click events on the second next button
    $("#instructions-next-2").click(function () {
        tinyMCE.triggerSave();

        // Store the values of instructions-url and instructions-privacy into variables
        var content = $('#instructions-content').val();
        var privacy = $(".instructions-privacy:checked").val();

        // Create a dictionary called instructions with keys of content and privacy
        instructions = {};
        instructions["content"] = content;
        instructions["privacy"] = privacy;

        var formData = {
            request_id: "{{ request.id }}",
            template_name: "email_response_instructions.html",
            type: "instructions_email",
            instructions: instructions,
            email_content: $('#email-instructions-content').val()
        };

        $.ajax({
            url: "/response/email",
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: false,
            success: function (data) {
                // Data should be html template page.
                $("#email-instructions-summary").html(data);
                $("#email-instructions-summary-hidden").val(data);
            }
        });
        document.getElementById("instructions-second").style.display = "none";
        document.getElementById("instructions-third").style.display = "block";
    });

    // Handles click events on the first previous button
    $("#instructions-prev-1").click(function () {
        document.getElementById("instructions-first").style.display = "block";
        document.getElementById("instructions-second").style.display = "none";
    });

    // Handles click events on the second previous button
    $("#instructions-prev-2").click(function () {
        document.getElementById("instructions-third").style.display = "none";
        document.getElementById("instructions-second").style.display = "block";
    });

    // Apply parsley data required validation to instructions title and url
    $('#instructions-content').attr('data-parsley-required', '');

    // Apply parsley max length validation to instructions title and url
    $('#instructions-content').attr('data-parsley-maxlength', '500');

    // Apply custom validation messages
    $('#instructions-content').attr('data-parsley-required-message', 'Offline Instructions must be provided');
    $('#instructions-content').attr('data-parsley-maxlength-message', 'Instructions content must be less than 500 characters');
});
</script>