<script type="text/javascript">
    "use strict";

    /*
    Sends a request to the edit privacy endpoint when title privacy button is clicked.
    Data being sent is the selected privacy option, either public or private.
     */
    $(".title-privacy-btn").click(function () {
        $.post({
            url: "/request/api/v1.0/edit_privacy",
            data: {
                title: $(this).find(' :input').val(),
                id: "{{ request.id }}"
            }
        });
    });
    /*
    Sends a request to the edit privacy endpoint when agency request summary privacy button is clicked.
    Data being sent is the selected privacy option, either public or private.
     */
    $(".desc-privacy-btn").click(function () {
        $.post({
            url: "/request/api/v1.0/edit_privacy",
            data: {
                agency_request_summary: $(this).find(' :input').val(),
                id: "{{ request.id }}"
            }
        });
    });
</script>
