<!-- xeditable scripts for request_info section. Allows for inline editing of a request. -->
<script type="text/javascript">
    /*
    Sets submit and cancel buttons for xeditable.
     */
    $.fn.editableform.buttons =
            '<button type="submit" id="testbtn" class="btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button>' +
            '<button type="button" class="btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-ban-circle"></i></button>';
    /*
    Sets request title and agency description to be editable inline.
    Sends a PUT request to to view/edit endpoint when data is submitted.
    Data being sent is updated editable content from input textarea.
     */
    $(document).ready(function () {
        $.fn.editable.defaults.mode = 'inline';
        $('#title').editable({
            pk: "{{ request.id }}",
            url: '/request/api/v1.0/view/edit',
            ajaxOptions: {
                type: 'put'
            },
            tpl: '<textarea id="request-title" class="request-editable" maxlength="90" data-parsley-required data-parsley-maxlength="90" rows="3"></textarea>'
        });

        $('#agency_description').editable({
            pk: "{{ request.id }}",
            url: '/request/api/v1.0/view/edit',
            ajaxOptions: {
                type: 'put'
            },
            tpl: '<textarea id="agency-descr" class="request-editable" maxlength="5000" data-parsley-maxlength="5000" rows="3"></textarea>'
        });
    });

    /*
    Enables parsley to validate on editable submit button.
     */
    $(document).on('click', '.editable-submit', function (e) {
        if ($('.request-editable').parsley().isValid() == false) {
            $('.request-editable').parsley().validate();
            e.preventDefault();
            e.stopPropagation();
        }
    });

    /*
    Enables editable textarea to submit on enter.
     */
    $(document).on('keypress', '.request-editable', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            if ($('.request-editable').parsley().isValid() == false) {
                $('.request-editable').parsley().validate();
            }
            else {
                $('.request-editable').submit();
            }
        }
    });

    /*
    Enables editable textarea to submit on blur (click outside of textarea).
     */
    $(document).on('blur', '.request-editable', function (e) {
        e.preventDefault();
        if ($('.request-editable').parsley().isValid() == false) {
            $('.request-editable').parsley().validate();
        }
        else {
            $('.request-editable').submit();
        }
    });
</script>
