<table class="table">
    <thead>
      <tr>
        <th>History</th>
      </tr>
    </thead>
    <tbody>
      {% for event in request_history_section %}
        <td>User {{ event.user }} did {{ event.response }} on {{ event.timestamp }}.</td>
      {% endfor %}
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
    </tbody>
</table>

<div class="load-more-history" style="text-align: center;">
    <a onclick="load_more_history()">Load More</a>
</div>

<div class="navigation-arrows" style="text-align: center;">
    <div class="history-next">
        <a>&#9668;</a>
        <a onclick="next_history()">&#9658;</a>
    </div>
    <div class="history-active">
        <a onclick="previous_history()">&#9668;</a>
        <a onclick="next_history()">&#9658;</a>
    </div>
    <div class="history-previous">
        <a onclick="previous_history()">&#9668;</a>
        <a>&#9658;</a>
    </div>
</div>

{% block scripts %}
<script type="text/javascript">
    function previous_history() {
        request_history_index = request_history_index - 5;
        request_history_section = [request_history.slice(request_history_index, request_history_index + 6)]
    }
    function next_history() {
        request_history_index = request_history_index + 5;
        request_history_section = [request_history.slice(request_history_index, request_history_index + 6)]
    }
    function load_more_history() {
        request_history_reload_index++;
        $.ajax({
            type: "POST",
            url: '/_get_request_responses',
            dataType: 'json',
            data: JSON.stringify(request_history_reload_index),
            success: function (response) {
                var request_history = response;
                var request_history_section = [request_history.slice(request_history_index, request_history_index + 6)];
                console.log(response)
            },
            error: function (error) {
                console.log(error);
            }
        })
    }
</script>
{% endblock %}