<script type="text/javascript">
$(document).ready(function () {
    // Hides all other divs except for the first
    $(".link-control .link-divs").each(function (e) {
        if (e != 0)
            $(this).hide();
    });

    // Handles click events on the first next button
    $("#link-next-1").click(function (e) {
        {#        var testUrl = $("#link-url").val();#}
        {#        $.ajax({#}
        {#            url: testUrl,#}
        {#            type: 'post',#}
        {#            data: 'a=b'#}
        {#        }).done(function (data, statusText, xhr) {#}
        {#            var status = xhr.status;                //200#}
        {#            var head = xhr.getAllResponseHeaders(); //Detail header info#}
        {#            alert(status)#}
        {#        });#}

        {#        $.ajax({#}
        {#            url: testUrl,#}
        {#            crossDomain: true,#}
        {#            success: function(data) {#}
        {#                alert('Url good');#}
        {#            },#}
        {#            error: function(e) {#}
        {#                console.log(e);#}
        {#                alert('Bad url, bad');#}
        {#            }#}
        {#        });#}
        {#        $.get(testUrl, function(){#}
        {#            alert('GOOD');#}
        {#        }).fail(function(){#}
        {#            alert("BAD");#}
        {#        });#}

        {#        $.ajax({#}
        {#            url: testUrl,#}
        {#            dataType: 'jsonp',#}
        {#            crossDomain: true,#}
        {#            timeout: 2000,#}
        {#            complete: function (e, xhr, settings) {#}
        {#                switch (e.status) {#}
        {#                    case 200:#}
        {#                        alert('Valid');#}
        {#                        break;#}
        {#                    default:#}
        {#                        alert('Not Valid');#}
        {#                        return false;#}
        {#                        break;#}
        {#                }#}
        {#            }#}
        {#        });#}
        {#    });#}

        // Validate link select field and reason textarea
        $("#link-title").parsley().validate();
        $("#link-url").parsley().validate({
{#            onfocusout: false,#}
{#            onkeyup: false, //turn off auto validate whilst typing#}
{#            onsubmit: true#}
        });
        {#        if (!$('#link-title').parsley().isValid()) {#}
        {#            e.preventDefault();#}
        {#            return false;#}
        {#        }#}
        {#        if (!$('#link-url').parsley().isValid()) {#}
        {#            e.preventDefault();#}
        {#            return false;#}
        {#        }#}

        {#        var url = "http://www.google.com";#}
        {#        $.ajax(url,#}
        {#                {#}
        {#                    dataType: "jsonp",#}
        {#                    statusCode: {#}
        {#                        404: function () {#}
        {#                            alert('page not found');#}
        {#                        }#}
        {#                    }#}
        {#                });#}

        {##}

        // If validation fields are valid, proceed with next click function
        if ($('#link-title').parsley().isValid() && $("#link-url").parsley().isValid()) {
            var formData = {
                request_id: "{{ request.id }}",
                template_name: "email_link.html",
                type: "link_email",
                link_title: $('#link-title').val(),
                link_url: $('#link-url').val()
            };

            $.ajax({
                url: "/response/email",
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: false,
                success: function (data) {
                    // Data should be html template page.
                    tinyMCE.get('email-link-content').setContent(data);
                }
            });
            document.getElementById("link-first").style.display = "none";
            document.getElementById("link-second").style.display = "block";
        }
    });

    // Handles click events on the second next button
    $("#link-next-2").click(function () {
        document.getElementById("link-second").style.display = "none";
        document.getElementById("link-third").style.display = "block";
        $("#email-link-summary").html(tinyMCE.get('email-link-content').getContent());
    });

    // Handles click events on the first previous button
    $("#link-prev-1").click(function () {
        document.getElementById("link-first").style.display = "block";
        document.getElementById("link-second").style.display = "none";
    });

    // Handles click events on the second previous button
    $("#link-prev-2").click(function () {
        document.getElementById("link-third").style.display = "none";
        document.getElementById("link-second").style.display = "block";
    });

    // Apply parsley data required validation to link title and url
    $('#link-title').attr('data-parsley-required', '');
    $('#link-url').attr('data-parsley-required', '');

    // Apply parsley max length validation to link title and url
    $('#link-title').attr('data-parsley-maxlength', '90');
    $('#link-url').attr('data-parsley-maxlength', '254');

    $('#link-url').attr('data-parsley-type', 'url');

    // Apply parsley remote validation to link url
    $('#link-url').attr('data-parsley-remote', '');
    $('#link-url').attr('data-parsley-remote-validator', 'url_checker');

    // Create parsley asynchronous remote validator
    window.Parsley.addAsyncValidator('url_checker', function(xhr) {
        console.log(this.$element);
        return 200 === xhr.status;
    }, '/response/url_checker');

{#    $('#link-url input[type=text]').on('keyup keydown', function () {#}
{#        $('#link-url').parsley().destroy();#}
{#    });#}

{#    window.ParsleyValidator#}
{#            .addValidator('vatid', function (value, requirement) {#}
{#                var response = false;#}
{##}
{#                $.ajax({#}
{#                    url: '/response/url_checker',#}
{#                    data: $('#link-url').val(),#}
{#                    type: 'get',#}
{#                    async: false,#}
{#                    success: function (data) {#}
{#                        response = 200;#}
{#                    },#}
{#                    error: function () {#}
{#                        response = false;#}
{#                    }#}
{#                });#}
{##}
{#                return response;#}
{#            }, 32)#}
{#            .addMessage('en', 'vatid', 'Vatid is invalid.');#}

    // Apply custom validation messages
    $('#link-title').attr('data-parsley-required-message', 'Link title must be provided');
    $('#link-url').attr('data-parsley-required-message', 'URL link must be provided');
    $('#link-title').attr('data-parsley-maxlength-message', 'Link title must be less than 90 characters');
    $('#link-url').attr('data-parsley-maxlength-message', 'URL link must be less than 254 characters');

});
</script>
