<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">x</span></button>
                <h4 class="modal-title">Contact the Agency</h4>
            </div>
            <div class="modal-body">
                <form id="contact-form" role="form" action="/request/contact/{{ request.id }}" method="POST"
                    data-parsley-focus="first">
                    {{ contact_agency_form.csrf_token }}

                    {{ contact_agency_form.first_name.label }}
                    {{ contact_agency_form.first_name(id="first-name", class="form-control", maxlength="32") }}
                    <p id="first-name-character-count" class="character-counter">32 characters remaining</p>
                    <br/>

                    {{ contact_agency_form.last_name.label }}
                    {{ contact_agency_form.last_name(id="last-name", class="form-control", maxlength="64") }}
                    <p id="last-name-character-count" class="character-counter">64 characters remaining</p>
                    <br/>

                    {{ contact_agency_form.email.label }}
                    {{ contact_agency_form.email(id="email", class="form-control", type="email", maxlength="254") }}
                    <br/>

                    {{ contact_agency_form.subject.label }}
                    {{ contact_agency_form.subject(id="subject", class="form-control", readonly=true) }}
                    <br/>

                    {{ contact_agency_form.message.label }}
                    {{ contact_agency_form.message(id="message", class="form-control", rows="10", maxlength="5000") }}
                    <p id="message-character-count" class="character-counter">5000 characters remaining</p>

                    <br/>
                    {{ contact_agency_form.submit(id="submit") }}
                </form>
            </div>
        </div>
    </div>
</div>