<div id="request-responses-table">
<table class="table">
    <thead>
    <tr>
        <th>Responses</th>
    </tr>
    </thead>
    <tbody>
    {% for response in request_responses_section %}
        {% if response.type ==  'Note' %}

        {% elif response.type ==  'File' %}

        {% elif response.type ==  'Link' %}

        {% elif response.type ==  'Offline Instruction' %}

        {% elif response.type ==  'Notification' %}

        {% elif response.type ==  'Extension' %}

        {% endif %}
    {% endfor %}
    {% for response in request_responses_section %}
        <tr>
            <td>
                {{ response }}
                <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
            </td>
        </tr>
    {% endfor %}
{#    <tr>#}
{#        <td>#}
{#            File#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Link#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Instruction#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    <tr>#}
{#        <td>#}
{#            Note#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Extension#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Email#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            SMS#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Push#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            Visibility#}
{#            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>#}
{#        </td>#}
{#    </tr>#}
    </tbody>
</table>
</div>

<div class="navigation-arrows" style="text-align: center;">
    <div class="responses-active">
        <a onclick="previous_responses()">&#9668;</a>
        <a onclick="next_responses()">&#9658;</a>
    </div>
</div>

<div class="load-more-responses" style="text-align: center;">
    <a onclick="load_more_responses()">Load More</a>
</div>