<table class="table">
    <thead>
      <tr>
        <th>History</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <td>User {{ event.user }} did {{ event.response }} on {{ event.timestamp }}.</td>
      {% endfor %}
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
      <tr>
        <td>User user did response on timestamp.</td>
      </tr>
    </tbody>
</table>