<div class="request-info">
    <div class="well col-sm-9">
        <div class="control-widget">
            <h3 class="text-muted" id="request-id">{{ request.id }}</h3>
            <div class="row">
                <div class="request-label lead col-sm-1">Title:</div>
                <!-- privacy options for request title -->
                <div class="btn-group col-sm-push-8" data-toggle="buttons">
                    {% if request.privacy['title'] %}
                        <label class="title-privacy-btn btn btn-default" data-active-class="primary">
                            <input type="radio" value="false">Public
                        </label>
                        <label class="title-privacy-btn btn btn-default active" data-active-class="primary">
                            <input type="radio" value="true">Private
                        </label>
                    {% else %}
                        <label class="title-privacy-btn btn btn-default active" data-active-class="primary">
                            <input type="radio" value="false">Public
                        </label>
                        <label class="title-privacy-btn btn btn-default" data-active-class="primary">
                            <input type="radio" value="true">Private
                        </label>
                    {% endif %}
                </div>
                <div class="request-title-text lead">
                    <!-- editable area for request title -->
                    <a href="#" class="xedit" id="title">{{ request.title }}</a>
                </div>
            </div>
            <br>
            <div class="request-label lead">Description:</div>
            <div class="request-description-text lead">{{ request.description }}</div>
            <br>
            <div class="request-label lead col-sm-4">Agency Description:</div>
            <!-- privacy options for agency description -->
            <div class="btn-group col-sm-push-5" data-toggle="buttons">
                {% if request.privacy['agency_description'] %}
                    <label class="desc-privacy-btn btn btn-default" data-active-class="primary">
                        <input type="radio" value="false">Public
                    </label>
                    <label class="desc-privacy-btn btn btn-default active" data-active-class="primary">
                        <input type="radio" value="true">Private
                    </label>
                {% else %}
                    <label class="desc-privacy-btn btn btn-default active" data-active-class="primary">
                        <input type="radio" value="false">Public
                    </label>
                    <label class="desc-privacy-btn btn btn-default" data-active-class="primary">
                        <input type="radio" value="true">Private
                    </label>
                {% endif %}
            </div>
            <div class="agency-desc-text lead">
                <!-- editable area for agency description -->
                <a href="#" class="xedit" id="agency_description">{{ request.agency_description or "" }}</a>
            </div>
        </div>
    </div>
</div>
