<table class="table">
    <thead>
      <tr>
        <th>Responses</th>
      </tr>
    </thead>
    <tbody>
      {% for response in request_responses_section %}
        {% if response.type ==  'File' %}

        {% elif response.type ==  'Link' %}

        {% elif response.type ==  'Instruction' %}

        {% elif response.type ==  'Note' %}

        {% elif response.type ==  'Extension' %}

        {% elif response.type ==  'Email' %}

        {% elif response.type ==  'SMS' %}

        {% elif response.type ==  'Push' %}

        {% elif response.type ==  'Visibility' %}

        {% endif %}
      {% endfor %}
      <tr>
        <td>
            File
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr>
        <td>
            Link
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr>
        <td>
            Instruction
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      <tr>
        <td>
            Note
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr>
        <td>
            Extension
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr>
        <td>
            Email
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr>
        <td>
            SMS
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr>
        <td>
            Push
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr>
        <td>
            Visibility
            <button style="float: right;" type="button" class="btn btn-secondary btn-sm">Edit</button>
        </td>
      </tr>
    </tbody>
</table>

<div class="show-more" style="text-align: center;">
    <a onclick="load_more_responses()">Load More</a>
</div>

<div class="navigation-arrows" style="text-align: center;">
    <a onclick="previous_responses()">&#9668;</a>
    <a onclick="next_responses()">&#9658;</a>
</div>