<form id="add_extension" class="extension-form" method="POST">
    <div class="add-extension col-sm-8">
        <div class="test">
            <legend class="extension-header">
                Extend Request
            </legend>
            <div class="Div1 form-group" id="first">
                <label class="extension-label">Length</label>
                <select id="extension-select" name="extension-date" class="form-control">
                    <option value="0" selected="selected" disabled="disabled">None selected</option>
                    <option value="20">20 Days</option>
                    <option value="30">30 Days</option>
                    <option value="60">60 Days</option>
                    <option value="90">90 Days</option>
                    <option value="120">120 Days</option>
                    <option value="-1">Custom Due Date</option>
                </select>
                <br>
                <div class="form-group" style="display:none;" id="custom_due_date">
                    <label class="extension-label">Custom Due Date</label>
                    <input type="text" id="dtpick" name="due_date" value="{{ due_date }}">
                </div>
                <input id="next_btn1" type="button" value="Next">
            </div>
            <div class="Div1 form-group" id="second">
                <textarea name="email-content"></textarea>
                <input id="pre_btn1" onclick="prev_step1()" type="button" value="Previous">
                <input id="next_btn2" name="next" onclick="next_step2()" type="button" value="Next">
            </div>
            <div class="Div1 form-group" id="third">
                <h4>The following will be Submitted to the request:</h4>
                <h5>Email:</h5>
                <div id="email-summary"></div>
                <input type="submit" value="Submit">
                <input id="pre_btn2" onclick="prev_step2()" type="button" value="Previous">
                <input class="submit_btn" type="submit" value="Submit">
            </div>
            {#            <div class="col-sm-1 no-padding">#}
            {#                <a id="previous" role="button">#}
            {#                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"><br>Prev</span>#}
            {#                </a>#}
            {#            </div>#}
            {#            <div class="col-sm-push-5 no-padding">#}
            {#                <a id="next" role="button">#}
            {#                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"><br>Next</span>#}
            {#                </a>#}
            {#            </div>#}
        </div>
    </div>
</form>

<script type="text/javascript">
    window.onload = function () {
        var formData = {
            request_id: "{{ request.id }}",
            template_name: "add_file_email_template.html"
        };

        $.ajax({
            url: "/response/email",
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: false,
            success: function (data) {
                //Data should be html template page.
                tinyMCE.get('email-content').setContent(data);
            }
        });
        $('#previous, #next').click(function () {
            $("#email-summary").html(tinyMCE.get('email-content').getContent());
        });
    };

    function next_step1() {
        document.getElementById("first").style.display = "none";
        document.getElementById("second").style.display = "block";
    }
    // Function that executes on click of first previous button.
    function prev_step1() {
        document.getElementById("first").style.display = "block";
        document.getElementById("second").style.display = "none";
    }
    // Function that executes on click of second next button.
    function next_step2() {
        document.getElementById("second").style.display = "none";
        document.getElementById("third").style.display = "block";
    }
    // Function that executes on click of second previous button.
    function prev_step2() {
        document.getElementById("third").style.display = "none";
        document.getElementById("second").style.display = "block";
    }
</script>