<!-- xeditable scripts for request_info section. Allows for inline editing of a request. -->
<script type="text/javascript">
    "use strict";

    /*
     Sets submit and cancel buttons for xeditable.
     */
    $.fn.editableform.buttons =
        '<button type="submit" id="submitBtn" class="btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button>' +
        '<button type="button" class="btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-ban-circle"></i></button>';
    /*
     Sets request title and agency request summary to be editable inline.
     Sends a PUT request to to view/edit endpoint when data is submitted.
     Data being sent is updated editable content from input textarea.
     */
    $(document).ready(function () {
        $.fn.editable.defaults.mode = 'inline';
        {% if permissions['edit_title'] %}
            $('#title').editable({
                pk: "{{ request.id }}",
                url: '/request/api/v1.0/view/edit',
                ajaxOptions: {
                    type: 'put'
                },
                tpl: '<textarea id="request-title" class="request-editable" data-parsley-required data-parsley-maxlength="90" rows="3"></textarea>'
            });
        {% endif %}
        {% if permissions['edit_agency_request_summary'] %}
            $('#agency_request_summary').editable({
                pk: "{{ request.id }}",
                url: '/request/api/v1.0/view/edit',
                ajaxOptions: {
                    type: 'put'
                },
                tpl: '<textarea id="agency-request-summary" class="request-editable" data-parsley-minlength="20" data-parsley-maxlength="5000" rows="3"></textarea>',
                emptytext: 'Click here to edit the agency request summary'
            });
        {% endif %}
    });

    /*
     Enables parsley to validate on editable submit button.
     */
    $(document).on('click', '.editable-submit', function (e) {
        if ($('.request-editable').parsley().isValid() == false) {
            $('.request-editable').parsley().validate();
            e.preventDefault();
            e.stopPropagation();
        }
    });

    /*
     Do nothing when cancel button is clicked
     */
    $(document).on("mousedown", ".editable-cancel", function(e) {
        e.preventDefault();
        e.stopPropagation();
    });

    /*
     Enables editable textarea to submit on enter.
     */
    $(document).on('keypress', '.request-editable', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            if ($('.request-editable').parsley().isValid() == false) {
                $('.request-editable').parsley().validate();
            }
            else {
                $('.request-editable').submit();
                $(document).off("focusout", ".request-editable");
            }
        }
    });

    /*
     Enables editable textarea to submit on blur (click outside of textarea).
     */
    function bindFocusOut() {
        $(document).off("focusout", ".request-editable");
        $(document).on('focusout', '.request-editable', function (e) {
            if ($('.request-editable').parsley().isValid() == false) {
                $('.request-editable').parsley().validate();
            }
            else {
                $('.request-editable').submit();
            }
        });
    }

    /*
     Rebind focusout event on click of xeditable input fields
     */
    $(".xedit").click(function () {
        bindFocusOut();
    });
</script>
