<div class="request-info">
    <div class="well col-sm-9">
        <div class="control-widget">
            <h3 class="text-muted" id="request-id">{{ request.id }}
                <small data-toggle="popover" data-placement="right" data-trigger="hover" title="FOIL Number"
                       data-content="You can use your FOIL number to track your request on the View Requests page.">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </small>
            </h3>
            <div class="row">
                <div class="request-label lead col-sm-1">Title:</div>
                <!-- privacy options for request title -->
                {% if permissions['edit_title_privacy'] and request.status != status.CLOSED %}
                    <div class="btn-group col-sm-push-8" data-toggle="buttons">
                        {% if request.privacy['title'] %}
                            <label class="title-privacy-btn btn btn-default" data-active-class="primary">
                                <input type="radio" value="false">Public
                            </label>
                            <label class="title-privacy-btn btn btn-default active" data-active-class="primary">
                                <input type="radio" value="true">Private
                            </label>
                        {% else %}
                            <label class="title-privacy-btn btn btn-default active" data-active-class="primary">
                                <input type="radio" value="false">Public
                            </label>
                            <label class="title-privacy-btn btn btn-default" data-active-class="primary">
                                <input type="radio" value="true">Private
                            </label>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="request-title-text lead">
                    {% if permissions['edit_title'] and request.status != status.CLOSED %}
                        <!-- editable area for request title -->
                        <a href="#" class="xedit" id="title">{{ request.title }}</a>
                    {% else %}
                        {{ request.title }}
                    {% endif %}
                </div>
            </div>
            <br>
            {% if current_user.is_agency %}
                <div class="row">
                    <div class="request-label lead">Description:</div>
                    <div class="request-description-text lead">{{ request.description }}</div>
                    <br>
                </div>
            {% endif %}
            <div class="row">
                {% if show_agency_description %}
                    <div class="request-label lead col-sm-4">Agency Description:</div>
                {% endif %}
                <!-- privacy options for agency description -->
                <div class="btn-group col-sm-push-5" data-toggle="buttons">
                    {% if permissions['edit_agency_description_privacy'] and request.status != status.CLOSED  %}
                        {% if request.privacy['agency_description'] %}
                            <label class="desc-privacy-btn btn btn-default" data-active-class="primary">
                                <input type="radio" value="false">Public
                            </label>
                            <label class="desc-privacy-btn btn btn-default active" data-active-class="primary">
                                <input type="radio" value="true">Private
                            </label>
                        {% else %}
                            <label class="desc-privacy-btn btn btn-default active" data-active-class="primary">
                                <input type="radio" value="false">Public
                            </label>
                            <label class="desc-privacy-btn btn btn-default" data-active-class="primary">
                                <input type="radio" value="true">Private
                            </label>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="agency-desc-text lead">
                    {% if permissions['edit_agency_description'] and request.status != status.CLOSED %}
                        <!-- editable area for agency description -->
                        <a href="#" class="xedit" id="agency_description">{{ request.agency_description or "" }}</a>
                    {% else %}
                        {% if show_agency_description %}
                            {{ request.agency_description or "" }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>