<script type="text/javascript">
    $(".title-privacy-btn").click(function () {
        $.post({
            url: "/request/edit_visibility",
            data: {
                title: $(this).find(' :input').val(),
                id: "{{ request.id }}"
            }
        });
    });
    $(".desc-privacy-btn").click(function () {
        $.post({
            url: "/request/edit_visibility",
            data: {
                desc: $(this).find(' :input').val(),
                id: "{{ request.id }}"
            }
        });
    });
</script>