{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload-update" type="text/x-tmpl">x
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="row template-upload fade">
            <div class="col-sm-5">
                <p class="name original-name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </div>
            <div class="col-sm-2">
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            </div>
            <div class="col-sm-5">
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </div>
        </div>
    {% } %}
</script>
<!-- The template to display files after upload -->
<script id="template-download-update" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="row template-download fade" id="{%=file.identifier%}">
            <div class="col-sm-8">
                <span class="original-name hidden">{%=file.original_name%}</span>
                <p class="name">
                    Filename: <strong><span class="secured-name">{%=file.name%}</span></strong>
                </p>

                {% if (file.error) { %}
                    <!-- Error reported using fileupload -->
                    <div><span class="label label-danger upload-error">Error</span> {%=file.error%}</div>
                {% } %}

                <!-- Error reported post upload (fileuploaddone) -->
                <div class="error-post-fileupload hidden">
                    <span class="label label-danger">Error</span>
                    <span class="error-post-fileupload-msg"></span>
                </div>
            </div>
            <div class="col-sm-1">
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </div>
            <div class="col-sm-2">
                {% if (file.error) { %}
                    <!-- CANCEL -->
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } else { %}
                    <!-- PROCESSING -->
                    <img src="/static/img/loading.gif" class="processing-upload" alt="Processing" height="20", width="20">
                    <!-- REMOVE -->
                    <button class="remove-post-fileupload btn btn-warning hidden">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } %}
            </div>
        </div>
    {% } %}
</script>
{% endraw %}

{##}
{#<script type="text/javascript">#}
{#    /* global $, window */#}
{##}
{#$(function () {#}
{#    'use strict';#}
{##}
{#    // Get uploaded file#}
{#    $.ajax({#}
{#        url: '/upload/1',  // {{ response_id }}',#}
{#        dataType: 'json',#}
{#        success: function(response) {#}
{#            $('#uploaded-filename').text(response.filename);#}
{#        }#}
{#    });#}
{##}
{#    // TODO: for 'Edit a File' -> delete updated file when the process of editing a file response is canceled#}
{##}
{#    function deleteUpdated(template) {  // TODO: can be 'abstracted' as well#}
{#        $.ajax({#}
{#            type: 'DELETE',#}
{#            url: '/upload/request/' +#}
{#                '{{ request.id }}/' +#}
{#                template.attr('id'),#}
{#            data: {#}
{#                updated_only: true#}
{#            }#}
{#        });#}
{#    }#}
{##}
{#    function setRemoveBtn(button, sendDelete) {#}
{#        sendDelete = typeof sendDelete !== 'undefined' ? sendDelete : true;#}
{#        button.removeClass('hidden');#}
{#        button.click(function(e) {#}
{#            e.preventDefault();#}
{#            var template = $(this).closest('.template-download');#}
{#            if (sendDelete) {#}
{#                deleteUpdated(template)#}
{#            }#}
{#            template.remove();#}
{#        });#}
{#    }#}
{##}
{#    function pollUploadStatus(upload_filename, htmlId) {#}
{#        /*#}
{#        Sends a request to the upload status endpoint#}
{#        every 2 seconds until it receives a message indicating#}
{#        the upload has completed or until it receives an error#}
{#        message, then updates the download template.#}
{#         */#}
{#        $.ajax({#}
{#            type: 'GET',#}
{#            url: '/upload/status',#}
{#            data: {#}
{#                request_id: '{{ request.id }}',#}
{#                filename: upload_filename,#}
{#                for_update: true#}
{#            },#}
{#            dataType: 'json',#}
{#            success: function(response) {#}
{#                if (response.error) {#}
{#                    // Reveal error message#}
{#                    var tr = $('#'.concat(htmlId));#}
{#                    tr.find(".error-post-fileupload").removeClass('hidden');#}
{#                    tr.find(".error-post-fileupload-msg").text("Error processing file.");  // scanning, really#}
{#                    tr.find(".processing-upload").remove();#}
{#                    setRemoveBtn(tr.find(".remove-post-fileupload"),#}
{#                        false);  // file already deleted#}
{#                }#}
{#                else if (response.status != "ready") {#}
{#                    setTimeout(pollUploadStatus.bind(#}
{#                        null, upload_filename, htmlId#}
{#                    ), 2000);#}
{#                }#}
{#                else {#}
{#                    // Reveal full template#}
{#                    var tr = $('#'.concat(htmlId));#}
{#                    tr.find(".fileupload-input-fields").removeClass('hidden');#}
{#                    tr.find(".processing-upload").remove();#}
{#                    setRemoveBtn(tr.find(".remove-post-fileupload"));#}
{#                    // TODO: for 'Edit a File' -> enable Submit button now that new upload has been approved#}
{#                }#}
{#            }#}
{#        });#}
{#    }#}
{##}
{#    function encodeName(name) {  // TODO: can be 'abstracted'#}
{#        /*#}
{#        Returns an encoded (base64 without padding) version of 'name' intended#}
{#        for use as/in an html id attribute or for use in a url.#}
{#        Padding is removed because '=' is an invalid character for an html id#}
{#        and it is reserved character for urls.#}
{#         */#}
{#        return window.btoa(name).replace(/=/g, '');#}
{#    }#}
{##}
{#    $('.fileupload-update').fileupload({#}
{#        // Uncomment the following to send cross-domain cookies:#}
{#        //xhrFields: {withCredentials: true},#}
{#        uploadTemplateId: 'template-upload-update',#}
{#        downloadTemplateId: 'template-download-update',#}
{#        url: '/upload/' + '{{ request.id }}',#}
{#        formData: {#}
{#            update: true#}
{#        },#}
{#        maxChunkSize: 512000,  // 512 kb#}
{#        maxFileSize: 500000000,  // 500 mb#}
{#        // autoUpload: true,#}
{#        chunksend: function (e, data) {#}
{#            if (data.context[0].abortChunkSend) {#}
{#                return false;#}
{#            }#}
{#        },#}
{#        chunkdone: function (e, data) {#}
{#            // stop sending chunks on error#}
{#            if (data.result) {#}
{#                if (data.result.files[0].error) {#}
{#                    data.context[0].abortChunkSend = true;#}
{#                    data.files[0].error = data.result.files[0].error#}
{#                }#}
{#            }#}
{#        },#}
{#        chunkfail: function (e, data) {#}
{#            // remove existing partial upload#}
{#            $.ajax({#}
{#                type: "DELETE",#}
{#                url: '/upload/request/' +#}
{#                '{{ request.id }}/' +#}
{#                encodeName(data.files[0].name),#}
{#                data: {#}
{#                    quarantined_only: true#}
{#                }#}
{#            });#}
{#        }#}
{#    }).bind('fileuploaddone', function (e, data) {#}
{#        var filename = data.result.files[0].name;#}
{#        var htmlId = encodeName(filename);#}
{#        data.result.files[0].identifier = htmlId;#}
{#        setTimeout(#}
{#                pollUploadStatus.bind(null, filename, htmlId),#}
{#                4000); // McAfee Scanner min 3+ sec startup#}
{#    }).bind('fileuploadadd', function (e, data) {#}
{#        // Delete already added file#}
{#        var elem_files = $('#fileupload-update').find('.files');#}
{#        var templates_upload = elem_files.children('.template-upload');#}
{#        var templates_download = elem_files.children('.template-download');#}
{#        if (templates_upload.length > 0) {#}
{#            templates_upload.remove();#}
{#        }#}
{#        if (templates_download.length > 0) {#}
{#            for (var i = 0; i < templates_download.length; i++) {#}
{#                var file_identifier = $(templates_download[i]).attr('id');#}
{#                // if this template is for a successful upload#}
{#                if (typeof file_identifier != 'undefined') {#}
{#                    deleteUpdated($(templates_download[i]));#}
{#                }#}
{#                $(templates_download[i]).remove();#}
{#            }#}
{#        }#}
{#        $('.fileupload-loading').hide();#}
{#        $('.fileupload-process').hide();#}
{#    });#}
{#    // TODO: for 'Edit a File' -> on upload start, disable Submit button#}
{##}
{#});#}
{#</script>#}
