{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/new_request/new-request.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/jquery-ui.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/parsley.css') }}"/>
{% endblock %}

{% block content %}
    <div id="container-fluid">
        <div class="col-sm-10 col-sm-push-1">
            <form method="post" class="form" role="form" id="request-form" enctype=multipart/form-data
                  data-parsley-validate>
                {{ form.hidden_tag() }}
                <h1>Request a Record</h1>

                <p>Please make your request specific so you receive the fastest service. After you submit a FOIL request
                    you
                    will receive a confirmation number so you can track the status of the response. The agency will
                    notify
                    you about how much time is required to
                    respond to your request.</p>
                {# Dropdown field Category for a Request #}
                {{ form.request_category.label(class='request-heading') }}
                {{ form.request_category(id='request-category', class='input-block-level') }}<br>
                {# Field for the agency that the request will be submitted to #}
                {{ form.request_agency.label(class='request-heading') }}
                {{ form.request_agency(id='request-agency', class='input-block-level') }}<br>
                {# Title of request #}
                {{ form.request_title.label(class='request-heading') }}
                {{ form.request_title(id='request-title', class='input-block-level',
                        placeholder='Please provide a short summary of your request.', maxlength="90") }}
                <h5 id="title-character-count">90 characters remaining</h5>
                <div class="alert alert-info">
                    <p><b>Note: The agency, category, and topic of your request will be visible to the public. Do not
                        enter personal information here.</b></p>
                </div>

                {# Description of Request #}
                {{ form.request_description.label(class='request-heading') }}
                {{ form.request_description(id='request-description', class='input-block-level',
                    placeholder="Provide more information about your request to help the City locate the record. If you don't know the record name, describe the type of information you think it would contain and the approximate date range. Do not include provide information such as a social security # or credit card.",
                        maxlength="5000") }}
                <h5 id="description-character-count" class="required">5000 characters remaining</h5>
                <div class="alert alert-info">
                    <p><b>Note: The request details you write here will not be visible to the public. However, the
                        agency may post a description of the records provided.</b></p>
                </div>
                {# Upload field for user to add files #}
                <div class="col-sm-12">
                    {{ form.request_file.label(class='request-heading') }}
                    &nbsp;<span class="request-heading">(Must be less than 20 Mb)</span>
                    {{ form.request_file(id='request-file') }}
                    {% if form.request_file.errors %}
                        {% for error in form.request_file.errors %}
                            <div class="alert alert-danger upload-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <br>
                </div>

                <h1>Personal Information</h1>

                <p>This information will not be publicly viewable on this site. You must provide contact
                    information so that the agency can respond to your request for records.</p>
                {# First name field #}
                {{ form.first_name.label(class='request-heading') }}
                {{ form.first_name(id='first-name', class='input-block-level',
                placeholder='John') }}<br>
                {# Last name field #}
                {{ form.last_name.label(class='request-heading') }}
                {{ form.last_name(id='last-name', class='input-block-level',
                placeholder='Doe') }}<br>
                {# Email field #}
                {{ form.email.label(class='request-heading') }}
                {{ form.email(id='email', class='input-block-level',
                placeholder='requester@email.com') }}<br>

                <div class="contact-form-error-message"></div>
                <h1>Alternate Contact Information</h1>
                <p>No information entered in this section will be visible to the public.</p>
                {# Title of user #}
                {{ form.user_title.label(class='request-heading') }}
                {{ form.user_title(id='user-title', class='input-block-level',
                placeholder='Your role in your organization (if applicable)') }}<br>
                {# Organization user belongs to #}
                {{ form.user_organization.label(class='request-heading') }}
                {{ form.user_organization(id='user-organization', class='input-block-level',
                placeholder='Your organization (if applicable)') }}<br>
                {# User's phone number #}
                {{ form.phone.label(class='request-heading') }}
                {{ form.phone(id='phone', class='input-block-level',
                placeholder='(555) 555-5555') }}<br>
                {# User's fax number #}
                {{ form.fax.label(class='request-heading') }}
                {{ form.fax(id='fax', class='input-block-level',
                placeholder='(555) 555-5555') }}<br>
                {# Address of user #}
                <div class="request-heading">Address</div>
                Address Line 1
                {{ form.address(id='address-line-1', class='input-block-level',
                placeholder='123 Main Street') }}<br>

                Address Line 2
                {{ form.address_two(id='address_two', class='input-block-level',
                placeholder='Apartment 3D') }}<br>
                <div class="row-fluid">
                    <div class="col-sm-4 no-padding-left">
                        {{ form.city.label(class='request-heading') }}
                        {{ form.city(id='city', class='input-block-level',
                        placeholder='New York') }}<br>
                    </div>
                    <div class="col-sm-4">
                        {{ form.state.label(class='request-heading') }}
                        {{ form.state(id='state', class='input-block-level') }}<br>
                    </div>
                    <div class="col-sm-4">
                        {{ form.zipcode.label(class='request-heading', selected='New York') }}
                        {{ form.zipcode(id='zipcode', class='input-block-level',
                        placeholder='12345') }}<br>
                    </div>
                </div>
{#                <div class="col-sm-12 captcha">#}
{#                    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>#}
{#                </div>#}
{#                <div class="recaptcha-error" id="recaptcha-error" style="display: none">#}
{#                    <p>*Please Complete reCAPTCHA</p>#}
{#                </div>#}

                {{ form.submit(id='submit', class='btn-primary') }}
                <span id="processing-submission" hidden>
                    <img src="{{ url_for("static", filename="img/loading.gif") }}"
                         alt="Processing" height="40" width="40">
                </span>
                <br>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/validation/custom_validators.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/new-request-anon.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{#    <script type="text/javascript"#}
{#            src="{{ url_for('static', filename='js/request/validate-recaptcha.js') }}"></script>#}
{% endblock %}