{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/new_request/new-request.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/parsley.css') }}"/>
{% endblock %}

{% block content %}
    <div id="container-fluid">
        <div class="col-sm-10 col-sm-push-1">
            <form method="post" class="form" role="form" id="request-form" enctype=multipart/form-data data-parsley-validate>
                {{ form.csrf_token }}

                <h1>Request a Record</h1>

                <p>Please make your request specific so you receive the fastest service. After you submit a FOIL request
                    you
                    will receive a confirmation number so you can track the status of the response. The agency will
                    notify
                    you about how much time is required to
                    respond to your request.</p>
                {# Category of requests #}
                {{ form.request_category.label(class='request-heading') }}
                <span data-toggle="popover" data-placement="right" data-trigger="hover" title="Category Field"
                      data-content="Selecting a category helps clarify which agency will receive the request."
                      class="glyphicon glyphicon-question-sign">
                </span>
                {{ form.request_category(id='request-category', class='input-block-level') }}<br>
                {# Agency request belongs to #}
                {{ form.request_agency.label(class='request-heading agency-label') }}
                <span data-toggle="popover" data-placement="right" data-trigger="hover" title="Agency Field"
                      data-content="List of agencies that would handle your request."
                      class="glyphicon glyphicon-question-sign">
                </span>
                {{ form.request_agency(id='request-agency', class='input-block-level') }}<br>
                {# Title of the request #}
                {{ form.request_title.label(class='request-heading title-label') }}
                <span data-toggle="popover" data-placement="right" data-trigger="hover" title="Title Field"
                      data-content="Enter a brief title for your request, title will be made public and limited to 90 characters."
                      class="glyphicon glyphicon-question-sign">
                </span>
                        {{ form.request_title(id='request-title', class='input-block-level',
                        placeholder='Please provide a short summary of your request.', maxlength="90") }}
                <h5 id="title-character-count">90 characters remaining</h5>
                <div class="alert alert-info">
                    <p><b>Note: The agency, category, and topic of your request will be visible to the public. Do not
                            enter personal information here.</b></p>
                </div>
                {# Description of the request #}
                {{ form.request_description.label(class='request-heading description-label') }}
                <span data-toggle="popover" data-placement="right" data-trigger="hover" title="Description Field"
                      data-content="Enter a detailed description of the request"
                      class="glyphicon glyphicon-question-sign">
                </span>
                {{ form.request_description(id='request-description', class='input-block-level',
                    placeholder="Provide more information about your request to help the City locate the record. If you don't know the record name, describe the type of information you think it would contain and the approximate date range. Do not include private information such as a social security # or credit card.",
                        maxlength="5000") }}
                <h5 id="description-character-count">5000 characters remaining</h5>

                <div class="alert alert-info">
                    <p><b>Note: The request details you write here will not be visible to the public. However, the agency may post a description of the records provided.</b></p>
                </div>

                {# Upload field for user to add files #}
                <div id="upload-control" class="col-sm-12">
                    {{ form.request_file.label(class='request-heading') }}
                    &nbsp;<span class="request-heading">(Must be less than 20 Mb)</span>
                    <br>
                    <div class="alert alert-danger file-error" hidden></div>
                    <label class="btn btn-info">Choose File
                        {{ form.request_file(id='request-file', style="display:none") }}
                    </label>
                    <button type="button" id="clear-file" class="btn btn-danger pull-right">Clear File</button>
                    <div id="filename"></div>
                    {% if form.request_file.errors %}
                        {% for error in form.request_file.errors %}
                            <div class="alert alert-danger upload-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <br><br>
                <input type="hidden" name="tz-name">
                {{ form.submit(id='submit', class='btn-primary') }}
                <span id="processing-submission" hidden>
                    <img src="{{ url_for("static", filename="img/loading.gif") }}"
                         alt="Processing" height="40" width="40">
                </span>
                <br>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/validation/custom_validators.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/new-request-user.js') }}"></script>
{% endblock %}
