{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/new_request/new-request.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/jquery-ui.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/parsley.css') }}"/>
{% endblock %}
{% block content %}
    <div id="container-fluid">
        <div class="col-sm-8">
            <form method="post" class="form" role="form" id="request-form" enctype=multipart/form-data data-parsley-validate>
                {{ form.hidden_tag() }}

{#                <div class="glyphicon-circle-arrow-right"></div>#}
                <h1>Request a Record</h1>

                <p>Please make your request specific so you receive the fastest service. After you submit a FOIL request
                    you
                    will receive a confirmation number so you can track the status of the response. The agency will
                    notify
                    you about how much time is required to
                    respond to your request.</p>
                {{ form.request_category.label(class='request-heading') }}
                {{ form.request_category(id='request-category', class='input-block-level') }}<br>

                {{ form.request_agency.label(class='request-heading') }}
                {{ form.request_agency(id='request-agency', class='input-block-level') }}<br>

                {{ form.request_title.label(class='request-heading') }}
                        {{ form.request_title(id='request-title', class='input-block-level',
                        placeholder='Please provide a short summary of your request.') }}
                <p><b>Note: The agency, category, or topic of your request will be visible to the public. Do not
                        enter personal information here.</b></p>


                {{ form.request_description.label(class='request-heading top-padding') }}
                {{ form.request_description(id='request-description', class='input-block-level',
                    placeholder="Provide more information about your request to help the City locate the record. If you don't know the record name, describe the type of information you think it would contain and the approximate date range. Do not include provide information such as a social security # or credit card.") }}<br>
                <p><b>Note: The request details you write here will not be visible to the public. However, the agency may post a description of the records provided.</b></p>

                <h1>Personal Information</h1>

                <p>This information will not be publicly viewable on this site. You must provide contact
                    information so that the agency can respond to your request for records.</p>
                {{ form.first_name.label(class='request-heading') }}
                {{ form.first_name(id='first-name', class='input-block-level',
                placeholder='John') }}<br>

                {{ form.last_name.label(class='request-heading') }}
                {{ form.last_name(id='last-name', class='input-block-level',
                placeholder='Doe') }}<br>

                {{ form.email.label(class='request-heading') }}
                {{ form.email(id='email', class='input-block-level',
                placeholder='requester@email.com') }}<br>

                <div class="contact-form-error-message"></div>
                <div class="row-fluid">
                    <div class="span8">
                        <h1>Alternate Contact Information</h1>

                        <p>No information entered in this section will be visible to the public.</p>
                    </div>
                </div>

                {{ form.user_title.label(class='request-heading') }}
                {{ form.user_title(id='user-title', class='input-block-level',
                placeholder='Your role in your organization (if applicable)') }}<br>

                {{ form.user_organization.label(class='request-heading') }}
                {{ form.user_organization(id='user-organization', class='input-block-level',
                placeholder='Your organization (if applicable)') }}<br>

                {{ form.phone.label(class='request-heading') }}
                {{ form.phone(id='phone', class='input-block-level',
                placeholder='(555) 555-5555') }}<br>

                {{ form.fax.label(class='request-heading') }}
                {{ form.fax(id='fax', class='input-block-level',
                placeholder='(555) 555-5555') }}<br>

                <div class="request-heading">Address</div>
                Address Line 1
                {{ form.address(id='address-line-1', class='input-block-level',
                placeholder='123 Main Street') }}<br>

                Address Line 2
                {{ form.address_2(id='address_2', class='input-block-level',
                placeholder='Apartment 3D') }}<br>
                <div class="row-fluid">
                    <div class="span5">
                        {{ form.city.label(class='request-heading') }}
                        {{ form.city(id='city', class='input-block-level',
                        placeholder='New York') }}<br>
                    </div>
                    <div class="span4">
                        {{ form.state.label(class='request-heading') }}
                        {{ form.state(id='state', class='input-block-level') }}<br>
                    </div>
                    <div class="span3">
                        {{ form.zipcode.label(class='request-heading', selected='New York') }}
                        {{ form.zipcode(id='zipcode', class='input-block-level',
                        placeholder='12345') }}<br>
                    </div>
                </div>

                {{ form.request_file.label(class='request-heading') }}
                {{ form.request_file(id='request-file') }}

                {{ form.submit(id='submit', class='btn-primary') }}<br>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/jquery.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/new-request-anon.js') }}"></script>
{% endblock %}