<h4>The {{ agency.name }} is not currently using the OpenRecords program to respond to requests.</h4> <br>
<p>Your FOIL request has been automatically sent to the agency. They will contact you
    directly. Information about this request will not be maintained in this program. For your convenience, a full copy
    of your request has been emailed to you.</p> <br>
<p>You can find the Agency FOIL Office contact information in the following listing: <a
        href="http://www.nyc.gov/html/records/downloads/pdf/FOIL%20Officer%20Contact%20Information_February%202015.pdf">NYC
    Agency FOIL Officers (February 2015)</a> (in <a
        href="http://www.nyc.gov/cgi-bin/exit.pl?url=http://www.adobe.com/products/acrobat/readstep2.html">PDF</a>)</p>