<script type="text/javascript">
    $.fn.editableform.buttons =
            '<button type="submit" class="btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button>' +
            '<button type="button" class="btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-ban-circle"></i></button>';
    $(document).ready(function () {
        $.fn.editable.defaults.mode = 'inline'
        $('#title').editable({
            type: 'text',
            pk: "{{ request.id }}",
            url: '/request/view/edit',
            send: 'always'
        })
        $('#description').editable({
            type: 'text',
            pk: "{{ request.id }}",
            url: '/request/view/edit',
            send: 'always'
        })
    })
</script>
