<div class="container-fluid">
    {% if request.status == status.IN_PROGRESS %}
        <h1><span class="in-progress">In Progress</span></h1>
    {% elif request.status == status.OVERDUE %}
        <h1><span class="overdue">Overdue</span></h1>
    {% elif request.status == status.DUE_SOON %}
        <h1><span class="duesoon">Due Soon</span></h1>
    {% elif request.status == status.OPEN %}
        <h1><span class="open">Open</span></h1>
    {% elif request.status == status.CLOSED %}
        <h1><span class="closed">Closed</span></h1>
    {% endif %}

    <hr>
    <h4>{{ request.agency.name }} </h4>

    {% if current_user.is_agency %}
        {% if request.requester.is_anonymous_requester %}
            {% include 'request/_edit_requester_info.html' %}
        {% endif %}
        <hr>
        <h3>
            <a data-target="#assignedUserModal" data-toggle="modal" class="MainNavText" id="MainNavHelp"
               href="#assignedUserModal">Assigned Users</a>
        </h3>
        {# Modal content for assigned users #}
        <div class="modal fade" id="assignedUserModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Agency Users </h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-group" id="accordion">
                            {% for user in agency_users %}
                                <div class="panel panel-default" id="panel_{{ user.guid }}">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-target="#collapse_{{ user.guid }}"
                                               href="#collapse_{{ user.guid }}">
                                                {{ user.name }}
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapse_{{ user.guid }}" class="panel-collapse collapse out">
                                        <div class="panel-body">
                                            {% if user.email %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        Email
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{ user.email }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if user.phone_number %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        Phone
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{ user.phone_number }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <p>
        {% if request.status == status.OPEN %}
            Acknowledgment<br>
        {% endif %}
        Due Date: {{ moment(request.due_date).format('MM/DD/YYYY') }}
    </p>
</div>
