<class="container-fluid">
{% if request.current_status == statuses.IN_PROGRESS %}
    <h1><span class="in-progress">In Progress</span></h1>
{% elif request.current_status == statuses.OVERDUE %}
    <h1><span class="overdue">Overdue</span></h1>
{% elif request.current_status == statuses.DUE_SOON %}
    <h1><span class="duesoon">Due Soon</span></h1>
{% elif request.current_status == statuses.OPEN %}
    <h1><span class="open">Open</span></h1>
{% elif request.current_status == statuses.RE_OPENED %}
    <h1><span class="reopened">Re-Opened</span></h1>
{% elif request.current_status == statuses.CLOSED %}
    <h1><span class="closed">Closed</span></h1>
{% endif %}
<hr>
<h4>{{ agency.name }} </h4>


<h4><a data-target="#requesterModal" data-toggle="modal" class="MainNavText" id="MainNavHelp"
       href="#myModal">{{ requester.name }}</a></h4>
{# Modal content for anon requesters #}
<div class="modal fade" id="requesterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Requester Information</h4>
            </div>
            <div class="modal-body">
                <form id="user-info" action="/request/view/{{ request_id }}" method="POST">
                    <h3>{{ requester.name }}</h3>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail"
                               placeholder="john.doe@example.com">
                    </div>
                    <div class="form-group">
                        <label for="inputTelephone">Phone Number</label>
                        <input type="text" name="phone" class="form-control" id="inputTelephone"
                               data-format="1 (ddd) ddd-dddd"
                               placeholder="1(234)-467-8901">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" name="address" class="form-control" id="inputAddress"
                               placeholder="123 Main Street Apt 1A 12345">
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        {#                        <button type="submit" class="btn btn-primary">Confirm</button>#}
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<hr>
<h4><a data-target="#userModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#myModal"> Assigned
    User </a></h4>
{# Modal content for assigned users #}
<div class="modal fade" id="assignedUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agency User Information</h4>
            </div>
            <div class="modal-body">
                <div></div>
                <div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<p>Due Date: {{ request.get_due_date() }}</p>
</div>


