{% extends "base.html" %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/bootstrap-editable.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/parsley.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/jquery-ui.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/jquery.fileupload.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/jquery.fileupload-ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/request_info.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/status.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/view_request.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/add_file.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/add_extension.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/add_link.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/add_note.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/add_instruction.css') }}"/>
{% endblock %}

{% block title %}
    {{ request.id }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <!-- Request Info Column -->
            {% include 'request/_view_request_info.html' %}

            <!-- Status Column -->
            <div class="col-sm-3">
                {% include 'request/status.html' %}
            </div>

            <!-- Action Button Column -->
            <div class="col-md-12"><h3>Actions</h3>
                <div class="tabbable tabs-left" id="mobile-toggle">
                    <ul class="nav nav-tabs">
                        {% if request.status != status.CLOSED %}
                            {% if request.status == status.OPEN  %}
                                <li class="active"><a href="#acknowledge-request" data-toggle="tab">Acknowledge</a></li>
                                <li><a href="#deny-request" data-toggle="tab">Deny</a></li>
                                <li>
                            {% else %}
                                <li class="active"><a href="#add-file" data-toggle="tab">Add File</a></li>
                                <li><a href="#add-link" data-toggle="tab">Add Link</a></li>
                                <li><a href="#add-instructions" data-toggle="tab">Add Instructions</a></li>
                                <li><a href="#add-note" data-toggle="tab">Add Note</a></li>
                                <li><a href="#extend-request" data-toggle="tab">Extend</a></li>
                                <li><a href="#close-request" data-toggle="tab">Close</a></li>
                                <li><a href="#add-user" data-toggle="tab">Add User</a></li>
                                <li><a href="#edit-user" data-toggle="tab">Edit User</a></li>
                                <li><a href="#remove-user" data-toggle="tab">Remove User</a></li>
                            {% endif %}
                        {% else %}
                            <li class="active"><a href="#reopen-request" data-toggle="tab">Re-Open</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content content-min-height">
                        {% if request.status != status.CLOSED %}
                            {% if request.status == status.OPEN  %}
                                <div class="tab-pane active" id="acknowledge-request">
                                    {% include "response/add_acknowledgment.html" %}
                                </div>
                                <div class="tab-pane" id="deny-request">
                                    {% include "response/add_denial.html" %}
                                </div>
                            {% else %}
                                <div class="tab-pane active" id="add-file">
                                    {% include "response/add_file.html" %}
                                </div>
                                <div class="tab-pane" id="add-link">
                                    {% include "response/add_link.html" %}
                                </div>
                                <div class="tab-pane" id="add-instructions">
                                    {% include "response/add_instruction.html" %}
                                </div>
                                <div class="tab-pane" id="add-note">
                                    {% include "response/add_note.html" %}
                                </div>
                                <div class="tab-pane" id="extend-request">
                                    {% include "response/add_extension.html" %}
                                </div>
                                <div class="tab-pane" id="close-request">
                                    {% include "response/add_closing.html" %}
                                </div>
                                <div class="tab-pane" id="add-user">
                                    Add User Content
                                </div>
                                <div class="tab-pane" id="edit-user">
                                    Edit User Content
                                </div>
                                <div class="tab-pane" id="remove-user">
                                    Remove User Content
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="tab-pane active" id="reopen-request">
                                {% include "response/add_reopening.html" %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Response Column -->
            <div class="col-sm-9">
                <h3 class="wrap-text">Responses</h3>
                {% include 'request/_view_request_responses.html' %}
            </div>

            <!-- History Column -->
            <div class="col-sm-3">
                <h3 class="wrap-text">History</h3>
                {% include 'request/_view_request_history.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <!-- TODO: plugins should be minified versions... really hope their standard versions have not been altered -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/sprintf.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/action-buttons-mobile-toggle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/tmpl.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.fileupload-process.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.fileupload-validate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.fileupload-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/view-request-responses.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/view-request-history.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload/fileupload.js') }}"></script>
    {% if current_user.is_agency and request.requester.is_anonymous %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/request/edit_requester_info.js') }}"></script>
    {% endif %}
    {% include "request/fileupload_add_file.js.html" %}
    {% include "request/fileupload_update_templates.js.html" %}
    {% if current_user.is_agency and request.requester.is_anonymous_requester %}
        {% include 'request/edit_requester_info.js.html' %}
    {% endif %}
    {% include 'request/_view_request_edit_visibility.js.html' %}
    {% include 'request/_view_request_info_x-editable.html' %}
    {% include 'response/add_extension.js.html' %}
    {% include 'response/add_link.js.html' %}
    {% include 'response/add_file.js.html' %}
    {% include 'response/add_note.js.html' %}
    {% include 'response/add_instruction.js.html' %}
    {% include 'response/add_acknowledgment.js.html' %}
    {% include 'response/add_denial.js.html' %}
    {% include 'response/add_closing.js.html' %}
    {% include 'response/add_reopening.js.html' %}
{% endblock %}