<!-- Used for TESTING file response -->
{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>{{ request }}</h1>
    </div>
    <body>
    {% for message in get_flashed_messages() %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <form method="post" class="form" role="form" id="note-form">
{#        <div class="form-group">#}
{#            {{ form.note.label(class='request-heading') }}#}
{#            {{ form.note(id='note', class='input-block-level') }}#}
{#            <br>#}
            {{ form.submit_file(id='submit', class='btn-primary') }}
{#        </div>#}
    </form>
    </body>
{% endblock %}