<script type="text/javascript">
    "use strict";

    // Initialize tinymce HTML editor
    tinymce.init({
        menubar: false,
        // sets tinymce to enable only on specific textareas classes
        mode: 'specific_textareas',
        // selector for tinymce textarea classes is set to 'tinymce-area'
        editor_selector: 'tinymce-area',
        elementpath: false,
        convert_urls: false,
        height: 300,
        plugins: ['noneditable', 'preventdelete', 'lists'],
        toolbar: ['undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent add_check'],
        setup: function (editor) {
            editor.ui.registry.addButton('add_check', {
                text: 'Add  ✔',
                onAction: function () {
                    editor.insertContent('&nbsp;&#10004;&nbsp;');
                }
            });
        }
    });
</script>