{% extends "base.html" %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}"/>
{% endblock %}

{% block title %}
    View Request
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="jumbotron col-md-9">
                <h3 class="wrap-text">Request Information</h3>
                <h3 class="wrap-text">FOIL Number</h3>
                <h3 class="wrap-text">Title</h3>
                <h3 class="wrap-text">Request</h3>
            </div>
            <div class="col-md-3">
                <h3 class="wrap-text">Status</h3>
                <h3 class="wrap-text">In Progress</h3>
                <h3 class="wrap-text">Assigned Agency</h3>
                <h3 class="wrap-text">Assigned User</h3>
                <h3 class="wrap-text">Helpers</h3>
                </div>
            </div>
        </div>
        <div class="row-fluid col-md-12">
            <button type="button" class="btn btn-primary btn-sm">Add Record</button>
            <button type="button" class="btn btn-primary btn-sm">Add Note</button>
            <button type="button" class="btn btn-primary btn-sm">Extend Request</button>
            <button type="button" class="btn btn-primary btn-sm">Generate Letter</button>
            <button type="button" class="btn btn-primary btn-sm">Close Request</button>
            <button type="button" class="btn btn-primary btn-sm">Manage Helpers</button>
            <button type="button" class="btn btn-primary btn-sm">Edit Assignee</button>
        </div>
        <div class="row-fluid">
            <div class="col-md-8">
                {% include 'request/_view_request_responses.html' %}
            </div>
            <div class="col-md-4">
                {% include 'request/_view_request_history.html' %}
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
        type: "POST",
        url: '/_get_request_history',
        dataType: 'json',
        data: JSON.stringify(request_history),
        success: function (response) {
            console.log(response)
        },
        error: function (error) {
            console.log(error);
        }
        })
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
        type: "POST",
        url: '/_get_request_responses',
        dataType: 'json',
        data: JSON.stringify(request_responses),
        success: function (response) {
            console.log(response)
        },
        error: function (error) {
            console.log(error);
        }
        })
    });
</script>
<script type="text/javascript">
    function previous_history() {}
</script>
<script type="text/javascript">
    function previous_history() {}
</script>
<script type="text/javascript">
    function next_history() {}
</script>
<script type="text/javascript">
    function previous_responses() {}
</script>
<script type="text/javascript">
    function next_responses() {}
</script>