<span class="mceNonEditable">
    <div class="letter-head-wrapper">
        <span class="mceNonEditable">
            <div class="letter-head-image">
                <span class="mceNonEditable">
                    <img title="City of New York Logo"
                         src="{{ url_for('static', filename='img/nyc_seal_letterhead.png') }}"
                         alt="City of New York Logo" width="110" height="97" style="vertical-align: text-top; float: left; width: 110px;"
                         class="mceNonEditable"/>
                </span>
            </div>
        </span>
        <span class="mceNonEditable">
            <div class="letter-head-text">
                <span class="mceNonEditable">
                    <span class="mceNonEditable">Department of Umbrellas</span>
                    <span class="mceNonEditable"><br/></span>
                    <span class="mceNonEditable">LEGAL BUREAU</span>
                    <span class="mceNonEditable"><br/></span>
                    <span class="mceNonEditable">F.O.I.L Unit</span>
                    <span class="mceNonEditable"><br/></span>
                    <span class="mceNonEditable">1 Main Street</span>
                    <span class="mceNonEditable"><br/></span>
                    <span class="mceNonEditable">Sunnyvale, CA 12345</span>
                </span>
            </div>
        </span>
    </div>
</span>