
<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
    <script src="/static/js/plugins/html5.js"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css
          href="/static/style/css/screen.css">

    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css
          href="/static/style/css/ie.css">
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/images/favicon-32x32.png"/>




    <!-- modernizr -->
    <script type="text/javascript"
            src="/static/js/plugins/modernizr-latest-min.js"></script>

    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript"
            src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript"
            src="/static/js/plugins/include.js"></script>

    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript"
            src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript"
            src="/static/js/plugins/selectivizr-min.js"></script>
    <noscript>
        <link rel="stylesheet" href="[fallback css]"/>
    </noscript>
    <![endif]-->


      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- transform and other prefixes polyfill -->
    <script src="/static/js/plugins/jquery.css3finalize.min.js"></script>

    <!-- REM unit polyfill -->
    <script type="text/javascript"
            src="/static/js/plugins/rem.min.js"></script>

    <script type='text/javascript'
            src="/static/js/plugins/d3.v3.min.js"
            charset="utf-8"></script>

</head>
<style>
html,body{
    height: 100%;
}

body.wait, body.wait *{
 cursor: wait !important;
}

div{
   cursor: pointer;
}
#dimScreen
{
    width: 100%;
    height: 84em;
    background:rgba(255,255,255,0.5);
    position: absolute;
    z-index: 1100;
}
#dimModal
{
    width: 100%;
    height: 84em;
    background:rgba(255,255,255,1);
    position: absolute;
    z-index: 1100;
}
</style>
<body>






<div id="dimScreen" style="display:none">
        <div style="position:absolute; top:20%; left:45%;">
            <p style="text-align: center;">Uploading file(s) please wait...</p>
            <img src="/static/images/ring-alt.gif" alt="Loading Screen" style="margin-left:20%;">
        </div>
</div>
<div class="agency-header">
    <div class="upper-header-black">
        <div class="container">
          <span class="upper-header-left">
            <a href="http://www1.nyc.gov"><img
                    src="http://www1.nyc.gov/assets/home/images/global/nyc_white.png"
                    alt="NYC" class="small-nyc-logo"/></a>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif"
                 alt=""/>
            <span class="upper-header-black-title">OpenRecords</span>
          </span>
            <span class="upper-header-padding"></span>
          <span class="upper-header-right">
            <span class="upper-header-three-one-one">
              <a href="http://www1.nyc.gov/311/index.page">311</a>
            </span>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif"
                 alt=""/>
            <span class="upper-header-search">
              <a href="http://www1.nyc.gov/home/search/index.page">Search all
                  NYC.gov websites</a>
            </span>
          </span>
        </div>
    </div>
</div>
<div class="wrapper" style="">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>





            <a class="brand" href="/"><img id="logo_nav"
                                           src="/static/images/logo.png"
                                           alt="City of New York logo"/></a>


            <div class="nav-collapse navbar-responsive-collapse collapse"
                 style="height: 0px;">

            <div id ="translate-non-mobile">
                <div class="google_translate" style="background-color:white;">
                    <div id="google_translate_element" class="center-mobile"></div>
                    <script type="text/javascript">
                        if (window.screen.width > 973){
                            function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                            }
                        }
                        else{
                            function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
                            }
                        }
                    </script>
                    <script type="text/javascript"
                            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                    </script>
                </div>
            </div>
                <div class="center-mobile-nav">
                    <ul class="nav nav-pills">

                        <li
                                >
                            <a class="openrecords_nav" href="/new">Request a Record</a></li>

                        <li
                                >
                            <a class="openrecords_nav" href="/view_requests">View Requests</a></li>

                        <li
                                >
                            <a class="openrecords_nav" href="/track">Track an Existing Record</a></li>

                        <li
                                >
                            <a class="openrecords_nav" href="/report">Report</a></li>

                        <li
                                >
                            <a class="openrecords_nav" href="/faq">FAQ</a></li>

                        <li
                                >
                            <a class="openrecords_nav" href="/about">About</a></li>

                        <li
                                >
                            <a class="openrecords_nav" href="/contact">Contact</a></li>

                    </ul>
                </div>
                <ul class="nav pull-right">
                </ul>

            </div>
        </div>
    </div>
    <div id="container-fluid">

    <!-- main content -->
    <h2>Contact</h2>



        <form action="/contact" method=post>
            <input name=_csrf_token type=hidden value="f7e733ba-d880-4166-beb3-c021f41dd1a0">


            <label for="name">Name</label>
            <input id="name" name="name" type="text" value="">

            <label for="email">Email</label>
            <input id="email" name="email" type="text" value="">

            <label for="subject">Subject</label>
            <input id="subject" name="subject" type="text" value="">

            <label for="message">Message</label>
            <textarea id="message" name="message"></textarea>

            <input id="submit" name="submit" type="submit" value="Send">
        </form>




    </div>
    <div class="push"></div>
</div>
<!-- // Wrapper -->
<div class="iw_component" id="1422284559235">
    <div class="row">
        <footer>
            <div class="container">
                <div class="span9 footer-links">
                    <a href="http://www1.nyc.gov/nyc-resources/agencies.page">Directory
                        of City Agencies</a>
                    <a href="http://www1.nyc.gov/home/contact-us.page">Contact
                        NYC Government</a>
                    <a href="https://a127-ess.nyc.gov">City Employees</a>
                    <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
                    <a href="http://a856-citystore.nyc.gov/">CityStore</a>
                    <a href="http://www1.nyc.gov/connect/social-media.page">Stay
                        Connected</a>
                    <a href="http://www1.nyc.gov/connect/applications.page">NYC
                        Mobile Apps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/nyc-maps.page">Maps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/resident-toolkit.page">Resident
                        Toolkit</a>
                </div>
                <div class="span3">
                    <span class="logo-nyc">NYC</span>

                    <form class="form-search" method="get"
                          action="http://www1.nyc.gov/home/search/index.page">
                        <input placeholder="Search"
                               class="input-search placeholder"
                               name="search-terms" type="text"/>
                        <input name=_csrf_token type=hidden value="f7e733ba-d880-4166-beb3-c021f41dd1a0">
                        <button class="ico-search">Search</button>
                    </form>
                    <div class="copyright">
                        <p>City of New York. 2015 All Rights Reserved,</p>

                        <p>NYC is a trademark and service mark of the City of
                            New York</p>

                        <p>
                            <a href="http://www1.nyc.gov/home/privacy-policy.page"
                               title="Privacy">Privacy Policy</a>.
                            <a href="http://www1.nyc.gov/home/terms-of-use.page"
                               title="TOU">Terms of Use</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript"
        src="/static/js/plugins/jquery.placeholder.js"></script>
<script type="text/javascript"
        src="/static/js/plugins/jquery.validate.js"></script>
<script type="text/javascript"
        src="/static/js/plugins/bootstrap.js"></script>
<script type="text/javascript"
        src="/static/js/ckeditor.js"></script>


<form method=post action="" style="display:none;">
    <input name=_csrf_token type=hidden value="f7e733ba-d880-4166-beb3-c021f41dd1a0">
</form>
</body>
</html>