{% extends "base.html" %}
{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/reports.css') }}"/>
{% endblock %}
{% block title %}OpenRecords - Reports{% endblock %}
{% set active_page="report" %}
{% block content %}
    <canvas id="reportChart" width="500" height="500"></canvas>
    <div class="container" style="padding-top:20px">
        {{ report_filter_form.agency.label }}
        {{ report_filter_form.agency(id="agency-filter", class="input-block-level") }}
    </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/Chart.min.js') }}"></script>
    <script type="text/javascript">
        var ctx = document.getElementById("reportChart");
        var reportChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in labels %}
                    "{{item}}",
                {% endfor %}],
                datasets: [{
                    data: [{% for num in values %}
                        "{{ num }}",
                    {% endfor %}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        '#e5efe5'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        '#328332'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Number of Requests"
                        },
                        ticks: {
                            max: 5,
                            stepSize: 1,
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Request Status"
                        }
                    }]
                },
                responsive: false,
                legend: {
                    display: false
                }
            }
        });

        $("#agency-filter").change(function() {
            $.ajax({
                url: "/report",
                type: "GET",
                data: {
                    agency: $(this).val()
                },
                success: function(data) {
                    reportChart.destroy();
                }
            });
    </script>
{% endblock %}
