{% extends "base.html" %}
{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/reports.css') }}"/>
{% endblock %}
{% block title %}OpenRecords - Reports{% endblock %}
{% set active_page="report" %}
{% block content %}
    <h2 class="text-center">FOIL Request Stats</h2>
    <br>
    <canvas id="reportChart" width="500" height="500"></canvas>
    <div class="container" style="padding-top:20px">
        <div class="form-group">
            {{ report_filter_form.agency.label }}
            {{ report_filter_form.agency(id="agency-filter", class="input-block-level") }}
        </div>

        {% if current_user.is_agency %}
        <div id="user-filter" hidden>
            {{ report_filter_form.user.label }}
            {{ report_filter_form.user(id="agency-user-filter", class="input-block-level") }}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block custom_script %}
    <!-- TODO: JS.HTML -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/Chart.min.js') }}"></script>
    <script type="text/javascript">
        var ctx = document.getElementById("reportChart");
        var reportChart;

        function drawChart(labels, values) {
            reportChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values,
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            '#e5efe5'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            '#328332'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Number of Requests"
                            },
                            ticks: {
{#                                max: 5,#}
                                maxTicksLimit: Math.min(Math.min.apply(null, values), 10),
{#                                stepSize: Math.ceil((Math.max.apply(null, values))),#}
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Request Status"
                            }
                        }]
                    },
                    responsive: false,
                    legend: {
                        display: false
                    }
                }
            });
        }

        $.ajax({
            url: "/report",
            type: "GET",
            data: {
                agency_ein: $("#agency-filter").val()
            },
            success: function(data) {
                drawChart(data.labels, data.values)
            }
        });

        $("#agency-filter").change(function() {
            $.ajax({
                url: "/report",
                type: "GET",
                data: {
                    agency_ein: $(this).val()
                },
                success: function (data) {
                    for (var i = 0; i < (data.values).length; ++i) {
                        reportChart.data.datasets[0].data[i] = data.values[i]
                    }
                    var maxTicks = Math.min(Math.min.apply(null, data.values), 10);
                    reportChart.options.scales.yAxes[0].ticks.maxTicksLimit = maxTicks;
                    reportChart.options.scales.yAxes[0].ticks.stepSize = maxTicks < 10 ? 1 : 10;
                    reportChart.update();

                    if (data.active_users.length > 0 ) {
                        var sel = $("#agency-user-filter");
                        sel.empty();
                        for (i = 0; i < (data.active_users).length; i++) {
                            var opt = document.createElement("option");
                            opt.innerHTML = data.active_users[i][1];
                            opt.value = data.active_users[i][0];
                            sel.append(opt);
                        }
                        $("#user-filter").show();
                    }
                    else {
                        $("#user-filter").hide();
                    }
                }
            });
        });

        {% if current_user.is_agency %}
        $("#agency-user-filter").change(function(){
           $.ajax({
               url: "/report",
               type: "GET",
               data: {
                   user_guid: $(this).val()
               },
               success: function (data) {
                   for (var i = 0; i < (data.values).length; ++i) {
                       reportChart.data.datasets[0].data[i] = data.values[i]
                   }
                   reportChart.update();
               }
           })
        });
        {% endif %}

    </script>
{% endblock %}
