{% extends "base.html" %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/parsley.css') }}"/>
{% endblock %}

{% block content %}
<h2 class="text-center">Contact Us</h2>

<div>
    <form id="contact-info" action="{{ url_for('main.contact') }}" method="POST">
        <label for="name">Name</label>
        <input id="name" class="form-control" name="name" maxlength="32" type="text">
        <h5 id="name-character-count">32 characters remaining</h5>
        <br>
        <label for="email">Email</label>
        <input id="email" class="form-control" name="email" type="email">
        <br>
        <label for="subject">Subject</label>
        <input id="subject" class="form-control" name="subject" maxlength="90" type="text">
        <h5 id="subject-character-count">90 characters remaining</h5>
        <br>
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="10" maxlength="5000"></textarea>
        <h5 id="message-character-count">5000 characters remaining</h5>

        <br>
        <input id="submit" name="submit" type="submit" value="Send">
    </form>
</div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/contact.js') }}"></script>
{% endblock %}
