{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/faq.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container-fluid" role="main">

        <h1 class="text-center" id="faq-header" tabindex="0">Frequently Asked Questions</h1>
        <ul>
            <li><a class="faq-link" id="faq-link-1" href="">What does FOIL mean?</a><br></li>
            <li><a class="faq-link" id="faq-link-2" href="">What kinds of records do I have the right to see?</a><br></li>
            <li><a class="faq-link" id="faq-link-3" href="">Are there any public records that I can’t see?</a><br></li>
            <li><a class="faq-link" id="faq-link-4" href="">Do I have to explain why I want the records?</a><br></li>
            <li><a class="faq-link" id="faq-link-5" href="">How much does it cost to get access to government records?</a><br></li>
            <li><a class="faq-link" id="faq-link-6" href="">How long does it take to get access to government records?</a><br></li>
            <li><a class="faq-link" id="faq-link-7" href="">Can I make an anonymous request?</a><br></li>
            <li><a class="faq-link" id="faq-link-8" href="">How do I know which agency handles the records I need?</a><br></li>
            <li><a class="faq-link" id="faq-link-9" href="">How do I make a request?</a><br></li>
            <li><a class="faq-link" id="faq-link-10" href="">I asked for a copy of public records and the agency refused my request, saying that
                it was too broad. What can I do?</a><br></li>
            <li><a class="faq-link" id="faq-link-11" href="">How do I track a request?</a><br></li>
            <li><a class="faq-link" id="faq-link-12" href="">What if I have multiple requests that I want to track or would like to see what other
                requests have been submitted?</a><br></li>
            <li><a class="faq-link" id="faq-link-13" href="">What if I don’t agree with an agency’s response?</a><br></li>
            <li><a class="faq-link" id="faq-link-14" href="">How does OpenRecords calculate dates for the 5 day
                acknowledgement period for a request and the response time for an appeal?</a><br></li>
            <li><a class="faq-link" id="faq-link-15" href="">What if a request or appeal is submitted electronically
                over the weekend? How does OpenRecords calculate the 5 day acknowledgement period or the appeal response
                time?</a><br></li>
            <li><a class="faq-link" id="faq-link-16" href="">What if a request is submitted to OpenRecords on a holiday?
                How does OpenRecords calculate the 5 day acknowledgement period or the appeal response time?</a></li>
        </ul>
        <br>

        <h2 class="faq-question" id="faq-1">What does FOIL mean?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-1">FOIL stands for the Freedom of Information Law. The New York State Freedom of Information Law
            requires government agencies to provide records to the public upon request. Government records
            affect the lives of each New Yorker, and providing easy access to the records makes government work
            better.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-2">What kinds of records do I have the right to see?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-2">The FOIL definition of records is very broad and includes information found in paper and electronic
            documents and audio and visual recordings. All records are available upon request, unless an
            exception in FOIL permits an agency to deny access to a record.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-3">Are there any public records that I can’t see?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-3">Yes, there are exceptions in FOIL. Most of the exceptions are based upon common sense and the
            potential for harm that would arise if the contents of the record were disclosed to unauthorized
            people. If disclosure of a record would be damaging to an individual or prevent a government agency
            from carrying out its duties, it is likely that some or all of the record may be withheld. You can
            read the law, including the exceptions, by clicking here. <a
                    href="https://law.justia.com/codes/new-york/2015/pbo/article-6/87/">See FOIL &sect;87(2)</a></p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-4">Do I have to explain why I want the records?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-4">No, unless you are a business or other organization that is requesting a list of names and
            addresses.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-5">How much does it cost to get access to government records?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-5">There is no charge to submit a FOIL request or to look at
            records in the office of an agency.
            However, you may be charged by an agency for the cost of reproducing the records you requested. FOIL
            limits the amount that can be charged. You may always include in your request letter a specific statement
            limiting the amount that you are
            willing to pay. If an agency estimates that the total cost will exceed that amount, you may narrow
            your request in order to reduce the cost.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-6">How long does it take to get access to government records?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-6">The agency will acknowledge your request within five (5) business days of receiving it. The actual
            time to complete a request will vary depending on many factors, such as the number of records
            requested and the difficulty involved in locating and reviewing the records. You will be notified of
            the amount of time the agency needs to complete your request.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-7">Can I make an anonymous request?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-7">On the OpenRecords portal, your name will not be viewable by the public. The topic of the request
            will be shown.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-8">How do I know which agency handles the records I need?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-8">The OpenRecords portal has a field named “categories” that will help you identify the correct agency.
            When you choose one of the categories, the list of possible agencies will be narrowed to those that
            may have the records you want. You can select the agency from the list provided to start the FOIL
            request process. If you submit a records request to the wrong agency, you will be notified within
            five days that the request should be resubmitted to a different agency.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-9">How do I make a request?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-9">You can submit a FOIL request at the OpenRecords portal for all NYC agencies. Visit <a
                href="{{ url_for('request.new') }}">{{ request.url_root }}request/new</a> and follow
            the prompts and directions provided in order to make your request.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-10">I asked for a copy of public records and the agency refused my request, saying that
            it was too broad. What can I do?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-10">An agency may deny a request that does not "reasonably describe" records. If the request is too
            vague, the agency may ask for clarification. You may then submit a new request with a more specific
            description of the records you would like.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-11">How do I track a request?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-11">After your request has been submitted, a message will display verifying the submission and providing
            a request number. Select Search Requests from the top menu and enter your request number,
            then press the Search button. The status of your request will be displayed.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-12">What if I have multiple requests that I want to track or would like to see what other
            requests have been submitted?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-12">Select View Requests from the top menu. You can then search existing requests using text from the
            request, the current status, the date range and the agency.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-13">What if I don’t agree with an agency’s response?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-13">You may appeal a decision to deny your request within 30 days of receiving the denial or partial
            denial. The denial or partial denial should provide the contact information for the Agency Appeals
            Officer. Your appeal letter should state the reason you are appealing and why the agency's response
            to the request was improper.</p>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-14">How does OpenRecords calculate dates for the 5 day acknowledgement period
            for a request and the response time for an appeal?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-14">Any request or appeal that comes in electronically between
            midnight and midnight on a weekday is counted by OpenRecords as received that day, and the time period
            begins to run the next day the office is open.</p><br>
        <p>Examples:</p>
        <ul>
            <li>For requests received through the portal Monday 1 AM, 5 AM, 9 AM, 4:30 PM, 8 PM, or 11:59 PM,
                OpenRecords would calculate the due date for acknowledgment as the following Monday.
            </li>
            <li>Responses to appeals received through the portal Monday 1 AM, 5 AM, 9 AM, 4:30 PM, 8 PM, or 11:59PM,
                OpenRecords would calculate the due date for acknowledgment as two Mondays later.
            </li>
            <li>If a request is received through the portal any time on the day before a holiday, the period for
                acknowledgment begins to run the next work day. If a request is received any time on Wednesday and the
                next day, Thursday, is a holiday, the period for acknowledgment would begin to run on Friday and
                OpenRecords would calculate the due date for acknowledgment as the following Thursday.
            </li>
        </ul>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-15">What if a request or appeal is submitted electronically over the weekend?
            How does OpenRecords calculate the 5 day acknowledgement period or the appeal response time?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-15">Any request or appeal received electronically over the
            weekend is counted by OpenRecords as received that day, and the 5-day acknowledgement period or the appeal
            response time begins to run the next day the agency is open.</p><br>
        <p>Examples:</p>
        <ul>
            <li>OpenRecords calculates the due date for acknowledgment for requests received through the portal any time
                on a Friday as due by the end of day on the next Friday.
            </li>
            <li>OpenRecords calculates the due date for acknowledgment for requests received through the portal on
                Saturday or Sunday, at any time, as due by end of day on Friday.
            </li>
            <li>OpenRecords calculates the due date for acknowledgment for requests received through the portal on
                Monday at 1 AM as due by the end of day on the next Monday.
            </li>
        </ul>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>

        <h2 class="faq-question" id="faq-16">What if a request is submitted to OpenRecords on a holiday? How does
            OpenRecords calculate the 5 day acknowledgement period or the appeal response time?</h2>
        <p class="faq-answer" tabindex="0" id="faq-answer-16">The acknowledgement period or appeal response time for any
            request or appeal received through OpenRecords on a holiday begins to run the next day the office is
            open.</p><br>
        <p>Examples:</p>
        <ul>
            <li>Request is received through the portal on Thursday, Christmas Day. The acknowledgement period begins to
                run on Friday and OpenRecords calculates the due date for acknowledgment as the following Thursday.
            </li>
            <li>A request is received by through the portal on Friday, New Year’s Day. The acknowledgement period begins
                to run the following Monday and OpenRecords calculates the due date for acknowledgment as the following
                Friday.
            </li>
        </ul>
        <a class="back-to-top" href="#"><span class="glyphicon glyphicon-chevron-up"></span>Back to top</a>
        <br><br>
    </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/request/faq.js') }}"></script>
{% endblock %}
