{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/home.css') }}"/>
{% endblock %}
{% block content %}
    <div class="container col-sm-12">
        <div class="alert alert-info home-page-description">Don’t forget the census. Take a few minutes to help NYC get its fair share of
            federal funds. Go to <a href="https://my2020census.gov/">my2020census.gov</a> to complete the census.
        </div>
        <div class=" col-sm-8" role="main">
            <h1 class="home-page-header">Welcome to NYC Government’s home for filing Freedom of Information Law (FOIL)
                requests.
            </h1>
            <p class="home-page-description">On this site you can request records from every New York City agency by
                filing a Freedom of Information Law (FOIL)
                request. But, some government information is already available online and you wouldn’t need to go
                through the
                FOIL process. Check out these links to sites that host government reports and data. You may find what
                you are
                looking for without FOIL.
            </p>
            <p class="home-page-description">
                <strong>Government Reports and Data are available here</strong>
            </p>
            <ul class="nyc-gov-links home-page-description">
                <li>
                    <a href="http://nyc.gov/publications">NYC Government Publications Portal</a> Get copies of reports
                    and other publications issued by City agencies.
                </li>
                <li>
                    <a href="https://data.cityofnewyork.us/">NYC OpenData Portal</a> Discover open datasets for your
                    use.
                </li>
                <li>
                    <a href="http://www1.nyc.gov/">NYC.gov</a> The official website of the City of New York.
                </li>
                <li>
                    <a href="http://www1.nyc.gov/311/index.page">NYC 311</a> Get information about your neighborhood,
                    and check the status of existing requests.
                </li>
            </ul>
            <p class="home-page-description">Almost all City agencies also use this platform to respond to FOIL requests
                and publish records not covered by privacy
                and other protections.
            </p>
        </div>
        <div class="col-sm-4 well public-authorities" role="complementary">
            <h2 class="public-authorities-header">
                Local Public Authorities and Agencies not using OpenRecords
            </h2>
            <ul class="nyc-gov-links">
                <li>
                    <a class="non-portal-agency-link" href="http://www.nyc.gov/health">Department of Health and Mental Hygiene (DOHMH)</a>
                </li>
                <li>
                    <a class="non-portal-agency-link" href="http://www.nycedc.com">NYC Economic Development Corporation (NYEDC)</a>
                </li>
                <li>
                    <a class="non-portal-agency-link" href="http://www.nychealthandhospitals.org/">NYC Health and Hospitals Corporation (HHC)</a>
                </li>
                <li>
                    <a class="non-portal-agency-link" href="http://www.nyc.gov/nycha">New York City Housing Authority (NYCHA)</a>
                </li>
                <li>
                    <a class="non-portal-agency-link" href="http://www.snpnyc.org">Office of the Special Narcotics Prosecutor (SNP)</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 request-record-button" role="navigation" aria-label="Search or request a record">
            <div class="col-sm-6">
                <a href="{{ url_for('request.view_all') }}">
                    <button class="btn btn-primary btn-lg btn-block request-record-button-size">Check for Similar
                        Requests
                    </button>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{{ url_for('request.new') }}">
                    <button class="btn btn-primary btn-lg btn-block request-record-button-size">Request a Record
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %} {% block custom_script %}
    <script type="text/javascript">
        "use strict";

        /* Redirect to OAuth callback if authorization location intended
         * (i.e. includes 'access_token=' after fragment identifier).
         * Also include 'next' url (or any other querystring parameters)
         * if present in the redirect uri.
         */
        if (window.location.hash.indexOf('access_token=') !== -1) {
            $('#login-processing-modal').modal("show");
            var url = window.location.origin +
                '/auth/authorize?' +
                window.location.hash.substring(1) // remove leading '#'
                +
                (window.location.search ? '&' + window.location.search.substring(1) : ''); // remove leading '?'
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    window.location = data['next']
                }
            });
        }
    </script>
{% endblock %}