{% extends "base.html" %}
{% block title %}OpenRecords - Report {% endblock %}
{% set active_page="report" %}


{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/d3.js') }}"></script>
<div>
    <!--<script type="text/javascript">-->


    <!--//Width and height-->
    <!--var w = 850;-->
    <!--var h = 650;-->
    <!--var barPadding = 20;-->

    <!--var dataset = [40, 70];-->


    <!--//Create SVG element-->
    <!--var svg = d3.select(".wrapper")-->
    <!--.append("svg")-->
    <!--.attr("width", w)-->
    <!--.attr("height", h);-->


    <!--svg.selectAll("rect")-->
    <!--.data(dataset)-->
    <!--.enter()-->
    <!--.append("rect")-->
    <!--.attr("x", function (d, i) {-->
    <!--return i * (w / dataset.length);-->
    <!--})-->
    <!--.attr("y", function (d) {-->
    <!--return h - (d * 4);-->
    <!--})-->
    <!--.attr("width", w / dataset.length - barPadding)-->
    <!--.attr("height", function (d) {-->
    <!--return d * 4;-->
    <!--})-->
    <!--.attr("fill", "dodgerblue");-->

    <!--svg.selectAll("text")-->
    <!--.data(dataset)-->
    <!--.enter()-->
    <!--.append("text")-->
    <!--.text(function (d) {-->
    <!--return d;-->
    <!--})-->
    <!--.attr("text-anchor", "middle")-->
    <!--.attr("x", function (d, i) {-->
    <!--return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;-->
    <!--})-->
    <!--.attr("y", function (d) {-->
    <!--return d - 5;-->
    <!--})-->
    <!--.attr("font-family", "sans-serif")-->
    <!--.attr("font-size", "18px")-->
    <!--.attr("fill", "white");-->

    <!--d3.select(".axis")-->
    <!--.call(d3.axisBottom(x));-->

    <!--</script>-->
</div>
<script type="text/javascript">

    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

    // set the ranges
    var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);
    var y = d3.scaleLinear()
            .range([height, 0]);

    // append the svg object to the body of the page
    // append a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select(".wrapper").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

    var maxTicks = 10;
    var minTicks = 5;


    // get the data
    d3.csv("/search/basic_report", function (error, data) {
        if (error) throw error;

        // format the data
        data.forEach(function (d) {
            d.num = +d.num;
        });

        // Scale the range of the data in the domains
        x.domain(data.map(function (d) {
            return d.status;
        }));
        y.domain([0, d3.max(data, function (d) {
            return d.num;
        })]);

        // append the rectangles for the bar chart
        svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("fill", "red")
                .attr("x", function (d) {
                    return x(d.status);
                })
                .attr("width", x.bandwidth())
                .attr("y", function (d) {
                    return y(d.num);
                })
                .attr("height", function (d) {
                    return height - y(d.num);
                });

        svg.selectAll("text")
                .data(data)
                .enter().append("text")
                .text(function (d) {
                    return d.num;
                })
                .attr("text-anchor", "middle")
                .attr("x", function (d, i) {
                    return i * (width / data.length) + ((width / data.length) / 2);
                })
                .attr("y", function (d) {
                    return height - y(d.num)
                })
                .attr("font-family", "sans-serif")
                .attr("font-size", "18px")
                .attr("fill", "white");

        // add the x Axis
        svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

        // add the y Axis
        svg.append("g")
                .call(d3.axisLeft(y)
                        .tickFormat(d3.format("d")));

    });
</script>
{% endblock %}
