{% extends "base.html" %}
{% block title %}OpenRecords - Report {% endblock %}
{% set active_page="report" %}


{% block content %}
<style>

    .bar {
        fill: steelblue;
    }

    .bar:hover {
        fill: brown;
    }

    .axis--x path {
        display: none;
    }

</style>
<svg width="960" height="500"></svg>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/d3.js') }}"></script>
<div>
    <script type="text/javascript">


        //Width and height
        var w = 850;
        var h = 650;
        var barPadding = 20;

        var dataset = [40, 70];


        //Create SVG element
        var svg = d3.select(".wrapper")
                .append("svg")
                .attr("width", w)
                .attr("height", h);

        svg.selectAll("rect")
                .data(dataset)
                .enter()
                .append("rect")
                .attr("x", function (d, i) {
                    return i * (w / dataset.length);
                })
                .attr("y", function (d) {
                    return h - (d * 4);
                })
                .attr("width", w / dataset.length - barPadding)
                .attr("height", function (d) {
                    return d * 4;
                })
                .attr("fill", "dodgerblue");

        svg.selectAll("text")
                .data(dataset)
                .enter()
                .append("text")
                .text(function (d) {
                    return d;
                })
                .attr("text-anchor", "middle")
                .attr("x", function (d, i) {
                    return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
                })
                .attr("y", function (d) {
                    return h - (d * 4) + 14;
                })
                .attr("font-family", "sans-serif")
                .attr("font-size", "18px")
                .attr("fill", "black");


    </script>
</div>
{% endblock %}
