{% extends "base.html" %}

{% block title %}Verify MFA{% endblock %}

{% block content %}
    <div class="text-center">
        <form id="verify-mfa" action="" method="POST" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="name">Code</label>
            <input id="code" class="form-control" name="code" maxlength="6" type="text">
            <br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock %}

{% block custom_script %}
{% endblock %}