.row-centered {
    text-align: center;
    font-size: 15px;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#nyc-seal {
    float: left;
    padding-right: 3em;
}
