/* sets controlling div to relative position */
.instruction-control {
    position: relative;
    padding-bottom: 5rem;
}

/* sets styles for the labels for the extension form */
.instruction-label {
    font-weight: 400;
    line-height: 20px;
}

/* sets the style for the instruction content textarea */
#instruction-content, .instruction-content {
    height: 10rem;
}