
.nycidm-header .small-nyc-logo {
    top: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.gray-solid-border {
    border: 1px solid #ccc;
}

.wrapper {
    min-height: 100%;
    max-width: calc(940px + 20px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
}

@media (max-width: 979px) and (min-width: 768px) {
    .wrapper, .navbar {
        min-width: calc(940px + 20px);
    }

}

@media (max-width: 767px) {
    #google_translate_element {
        display: none;
    }

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wrapper input, .wrapper select, .wrapper textarea {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: .7rem;
    width: calc(100% - 1.4rem);
    display: block;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.wrapper textarea {
    resize: vertical;
}

.wrapper input[type=text], .wrapper select[type=text], .wrapper textarea[type=text] {
    padding: 1rem .7rem
}

.wrapper input.placeholder, .wrapper select.placeholder, .wrapper textarea.placeholder {
    color: #999
}

.wrapper .combobox-container input {
    width: calc(100% - 4.7rem);
    display: inline-block
}

.request-heading {
    font-weight: 400;
    font-size: 17.5px;
    line-height: 2;
    color: #707070;
}

.contact-form-error-message {
    /*color: indianred;*/
    color: #df0000;
}

footer .form-search .input-search {
    height: 32px;
    font-size: 16px;
}

#google_translate_element {
    padding-top: 4rem;
    padding-left: 4rem;
}

.goog-te-gadget-icon {
    display: none;
}

.goog-te-menu-value {
    display: none;
}

.goog-te-menu-value2 {
    text-decoration: none;
    color: #0000cc;
    white-space: nowrap;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
}

.goog-te-gadget-simple {
    background-color: #fff;
    border: none;
    font-size: 10pt;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
    zoom: 1;
}

.row {
    width: 100%;
    margin-left: 0;
}

.translate-text {
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

footer {
    font-size: 16px;
}

.navbar-nav > li > a {
    padding: 25px 15px 30px 15px !important;
}

.navbar {
    min-height: 75px !important
}

.openrecords_nav {
    font-size: 20px;
    /*font-size: 1.4em*/
}
.openrecords_nav:hover {
    font-size: 20px;
    /*font-size: 1.4em*/
}

.navbar-default .navbar-nav > li > a.openrecords-nav-anchor {
    color: #707070;
}

.navbar-default .navbar-nav > li > a.openrecords-nav-anchor:hover {
    color: #333333;
}

.active {
    min-height: 15px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

.footer-wrapper {
    margin-top: 25rem;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.close {
    color: black;
    opacity: 1;
}

.btn-success {
    background-color: green;
    border-color: green;
}

.character-counter {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parsley-errors-list.filled {
    font-size: 14px;
    color: #df0000;
}