.home-page-header {
    font-weight: bold;
}

.home-page-description {
    font-size: 1.8rem;
    padding-top: 1rem;
}

.public-authorities {
    top: 2.5rem;
    padding-top: 0;
    padding-bottom: 1rem;
}

.public-authorities-header {
    font-size: 2.25rem;
}

.nyc-gov-links {
    padding-left: 1.5rem;
}

.non-portal-agency-link {
    color: #0a5796;
}

.request-record-button {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.request-record-button-size {
    padding-top: 1rem;
    padding-botton: 2rem;
    font-size: 2rem;
}