.home-page-header {
    font-size: 3.5rem;
}

.home-page-description {
    font-size: 1.8rem;
    padding-top: 1rem;
}

.looking-for-something-else {
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.nyc-gov-links {
    padding-left: 1.5rem;
}

.request-record-button {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}