.home-page-header {
    font-size: 3.5rem;
}

.home-page-description {
    font-size: 1.8rem;
    padding-top: 10px;
}

.looking-for-something-ese {
    padding-top: 0px;
    padding-bottom: 10px;
}

.nyc-gov-links {
    padding-left: 15px;
}

.request-record-button {
    padding-top: 15px;
    padding-bottom: 15px;
}