@media all {
    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 2cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-family: "Sofia Pro Soft";
        position: relative
    }

    .sign-line {
        float: right;
        margin-top:16px;
        margin-left:3px;
        height: 1px;
        background-color: black;
    }

    #footer {
        position:absolute;
        bottom:15px;
        width:18cm;
    }
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}


@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
    width: 210mm;
    height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .sign-line {
        float: right;
        margin-top:16px;
        margin-left:3px;
        height: 1px;
        background-color: black;
    }

    #footer {
        position:absolute;
        bottom:15px;
        width:18cm;
    }
}