@font-face {
    font-family: "Sofia Pro Soft";
    src: url('../Sofia Pro Soft Regular.otf');
    font-weight: bold;
}

.navbar-inner {
    /*For IE Compatibility*/
    filter:none;
}

.empty-query {
    border: 1px solid #2a6496;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    float: none;
    margin: 0 auto;
}


body {
    font-family: "Sofia Pro Soft";
}
