/* sets styles for the request_info well*/
.request-info .well {
    min-height: 130px;
}

/* sets the styles for the request id header */
.control-widget h3{
    font-weight: 600;
    margin-top: 0;
}

/* remove padding and margin from lead elements in the well*/
.request-info .lead {
    padding: 0 !important;
    margin: 0 !important;
}

/* sets toggle button to primary when active */
.btn.active[data-active-class="primary"] {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

/* sets privacy buttons (public, private) to a certain size */
.request-info .privacy-btn {
    padding: 3px 9px;
}

/* removes url hyperlink styling */
.request-info .xedit {
    border-bottom: none;
    color: inherit;
    word-wrap: break-word;
}

/* when user hovers over editable content, content is underline */
.request-info .xedit:hover {
    text-decoration: underline;
    border-bottom: none;
}

/* wrap and break word on request title */
.request-title-text {
    word-wrap: break-word;
}

/* wrap and break word on request description */
.request-description-text {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* wrap and break word on agency request summary */
.agency-request-summary-text {
    word-wrap: break-word;
}

/* sets width and font size of request title text input (called in xeditable js) */
#request-title {
    width: 480px;
    font-size: 21px;
    max-height: 10rem;
    resize: none;
}

/* sets padding on xeditable request title textarea */
.request-title-text .editable-container {
    padding-top: 10px;
}

/* sets width and font size of agency request summary text area input (called in xeditable js) */
#agency-request-summary {
    width: 480px;
    font-size: 21px;
    max-height: 17rem;
}

/* sets padding on xeditable agency request summary textarea */
.agency-request-summary-text .editable-container {
    padding-top: 10px;
}

/* sets the font-weight of request labels to be darker than the content */
.request-info .request-label {
    font-weight: 400;
}

/* sets the div of the agency request summary to a max height and enables scrolling if overflow */
.request-info .agency-request-summary-text {
    max-height: 20rem;
    overflow-y: auto;
}

/* disables clear button in xeditable textarea */
.request-info .editable-clear-x {
    display: none !important;
}