.request-info .well {
    min-height: 130px;
}

h3.control-widget {
    font-size: 24.5px;
    font-weight: 600;
    line-height: 20px !important;
    display: inline !important
}

/*#req-title.lead {*/
    /*line-height: 30px;*/
    /*display: inline;*/
    /*padding-right: 50px;*/
/*}*/

#req-title.lead {
    padding: 0 !important;
    /*margin: 0 !important;*/
}

#req-title2.lead {
    padding: 0 !important;
    /*margin: 0 !important;*/
}

/* sets toggle button to primary when active */
.btn.active[data-active-class="primary"] {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.a .title {
    text-decoration: none;
    border-bottom: none;
}

.editable-click,
a.editable-click {
    border-bottom: none;
    color: inherit;
}

a.editable-click:hover {
    text-decoration: underline;
    border-bottom: none;
}
