body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#query, #query-prefix {
    font-size: 2em;
}

#query {
    width: 99%;
}

#query-prefix {
    margin-left: -99%;
}

.highlight {
    background-color: yellow;
    text-decoration: underline;
}

#results li {
    border-bottom: 1px gray solid;
    padding-bottom: 1em;
    padding-top: 1em;
}

.show-raw, .raw {
    cursor: pointer;
}

#results-raw, .raw {
    white-space: pre-wrap;
}

.raw {
    display: none;
}
