h1 span{
    font-size: 29px;
    color: white;
    border-radius: 6px;
    padding: 3px;
    text-align: left;
}

.in-progress {
    background-color: forestgreen;
}

.overdue {
    background-color: red;
}

.duesoon {
    background-color: orange;
}

.open {
    background-color: #2688AD;

}

.closed {
    background-color: black;
}
.reopened{
    background-color: #cc1278;
}
.in-progress {
    border-left: 8px solid forestgreen;
    padding-left: 5px;
    margin-left: 5px;
}

#requester-popover .popover{
    width: 200px;
}

#user-popover .popover{
    width: 200px;
}