.carousel-control{
    background-image: none;
    background-repeat: no-repeat
}

.previous{
    background-image: none;
    background-color:blue;
}

.next-slider{
    height:100%;
    top:50%;
    float:right;
    margin-bottom:1rem;
}

.prev-slider{
    height:100%;
    top:50%;
    float:left;
    margin-bottom:1rem;
}

.no-padding{
    padding-left: 0px;
    width: 0px;
}

#email-summary{
    padding-bottom: 5rem;
}