/* set the position for the previous buttons */
.prev-btn {
    position: absolute;
    left: 0;
}

/* set the position for the next buttons */
.next-btn {
    position: absolute;
    right: 0;
}

/* set the position for the submit button */
.submit-btn {
    position: absolute;
    right: 0;
}

/* set divs to display none */
.hide-div {
    display: none;
}

#request-responses .response-row,
#request-history .event-row {
    border-top: 1px solid lightgray;
    padding-top: 1em;
    padding-bottom: 1em;
    max-height: 200px;
    overflow-y: auto;
}

#request-history .event-row:not(.has-modal) {
    color: #707070;
}


#request-responses .response-row:hover,
#request-history .event-row.has-modal:hover {
    cursor: pointer;
    background-color: lightgray;
}

#responses-nav-buttons,
#history-nav-buttons {
    padding-bottom: 2em;
}

.history-row-content {
    padding-top: 0.5em;
}

.metadata-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.offline-instructions-row {
    font-size:x-small;
    padding-right: 1em;
}

.re-opened-row {
    white-space: nowrap;
}

#add-note-public-user {
    display: inline-block;
    padding-top: 20px;
}

#agency-contact-modal-text .MainNavText {
    font-size: 16px;
}

.no-email-alert {
    margin-bottom: 0px;
}

.loading {
    height: 100px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: 1.5rem 1.5rem;
    text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.summary {
    overflow-y: auto;
    padding-bottom: 5px;
    min-height: 100px;
    margin-bottom: 10px;
}

.tinymce-maxlength-error {
    color: #df0000;
}