/* sets controlling div to relative position */
.note-control {
    position: relative;
}

/* sets styles for the labels for the extension form */
.note-label {
    font-weight: 400;
    line-height: 20px;
}

#note-content {
    height: 10rem;
}