.test {
    position: relative;
}

.extension-label {
    font-weight: 400;
    line-height: 20px;
}

.prev-btn {
    position: absolute;
    left: 0;
}

.next-btn {
    position: absolute;
    right: 0;
}

.submit-btn {
    position: absolute;
    right: 0;
}