{% include "request/events/modal_body/base/heading.html" %}
<ul>
    {% if event.new_value.get('name') %}
        <li>
            The record "{{ event.previous_value['name'] }}" was changed to
            "{{ event.new_value['name'] }}".
        </li>
    {% elif event.new_value.get('hash') %}
        <li>
            The <strong>content</strong> of the record "{{ event.response.name }}" was changed.
        </li>
    {% endif %}

    {% if event.new_value.get('title') %}
        <li>
            The record response <strong>title</strong> was changed from "{{ event.previous_value['title'] }}" to
            "{{ event.new_value['title'] }}".
        </li>
    {% endif %}

    {% if event.new_value.get('privacy') %}
        <li>
            The record response <strong>privacy</strong> was changed from
            {% include "request/events/modal_body/base/privacy_change.html" %}
        </li>
    {% endif %}
</ul>