{% include "request/events/modal_body/base/heading.html" %}
<ul>
    {% if event.new_value.get('name') %}
        <li>
            The file <strong>{{ event.previous_value['name'] }}</strong> was chaanged to
            <strong>{{ event.new_value['name'] }}</strong>.
        </li>
    {% elif event.new_value.get('hash') %}
        <li>
            The content of the file <strong>{{ event.response.name }}</strong> was changed.
        </li>
    {% endif %}

    {% if event.new_value.get('title') %}
        <li>
            The file response title was changed from <strong>{{ event.previous_value['title'] }}</strong> to
            <strong>{{ event.new_value['title'] }}</strong>.
        </li>
    {% endif %}

    {% if event.new_value.get('privacy') %}
        <li>
            The file response privacy was changed from
            {% include "request/events/modal_body/base/privacy_change.html" %}
        </li>
    {% endif %}
</ul>