{% include "request/events/modal_body/base/heading.html" %}
<ul>
    {% if event.new_value.get('url') %}
        <li>
            The link <strong>url</strong> was changed from <a
                href="{{ event.previous_value['url'] }}">{{ event.previous_value['url'] }}</a>
            to <a href="{{ event.new_value['url'] }}">{{ event.new_value['url'] }}</a>.
        </li>
    {% endif %}
    {% if event.new_value.get('title') %}
        <li>
            The link <strong>title</strong> was changed from "{{ event.previous_value['title'] }}"
            to "{{ event.new_value['title'] }}".
        </li>
    {% endif %}
    {% if event.new_value.get('privacy') %}
        <li>
            The link response <strong>privacy</strong> was changed from
            {% include "request/events/modal_body/base/privacy_change.html" %}
        </li>
    {% endif %}
</ul>