{% include "request/events/modal_body/base/heading.html" %}
{{ event.new_value['content'] | safe }}
<ul>
    {% if event.new_value.get('content') %}
        <li>
            <p>
                The <strong>content</strong> of the note was changed from
            </p>
            <p>
                {{ event.previous_value['content'] | safe }}
            </p>
            <p>
                to
            </p>
            <p>
                {{ event.new_value['content'] | safe }}
            </p>
        </li>
    {% endif %}
    {% if event.new_value.get('privacy') %}
        <li>
            The note response <strong>privacy</strong> was changed from
            {% include "request/events/modal_body/base/privacy_change.html" %}
        </li>
    {% endif %}
</ul>