{% extends "base.html" %}

{% block title %}
    {% if status_code == 400 %}
        Bad Request
    {% elif status_code == 403 %}
        Forbidden
    {% elif status_code == 404 %}
        Page Not Found
    {% elif status_code == 500 %}
        Internal Server Error
    {% endif %}
{% endblock %}

{% block content %}
    <div class="text-center">
        {% if status_code in (400, 500) %}
            <h1>Oops! Something appears to have gone awry.</h1>
        {% elif status_code == 403 %}
            <h1>You do not have permission to do this.</h1>
        {% elif status_code == 404 %}
            <h1>Hmmm... it looks like this page can't be found.</h1>
        {% endif %}
        <p class="lead">
            Try again or try refreshing this page. If the issue persists, please
            {% if error_id %}
                <a href="{{ url_for("main.technical_support", error_id="OpenRecords Error: {}".format(error_id)) }}">contact us</a>.
            {% else %}
                <a href="{{ url_for("main.technical_support") }}">contact us</a>
            {% endif %}
            and report this error.
        </p>
        <p class="lead">
            {% if error_id %}
                Include the following id as part of your report:<br><strong>{{ error_id }}</strong>
            {% endif %}
        </p>
        {% if message %}
            <br>
            <p><strong>Additional Information</strong>: {{ message }}</p>
        {% endif %}
    </div>
{% endblock %}