
{#
This template provides the header, footer, and envelope info for all pages except signup.
#}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/plugins/html5shiv.js') }}"></script>
    <![endif]-->
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/screen.css') }}">
    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/ie.css') }}">
    <![endif]-->
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='images/favicon-32x32.png') }}"/>
    {% block custom_css_links %}
    {% endblock custom_css_links %}
    <!-- modernizr -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/modernizr-latest-min.js') }}"></script>
    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/include.js') }}"></script>
    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/jquery-1.11.1.min.js') }}"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/selectivizr-min.js') }}"></script>
    <noscript>
        <link rel="stylesheet" href="[fallback css]"/>
    </noscript>
    <![endif]-->

    {#    jquery for datepicker#}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- transform and other prefixes polyfill -->
    <script src="{{ url_for('static', filename='js/plugins/jquery.css3finalize.min.js') }}"></script>
    <!-- REM unit polyfill -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/rem.min.js') }}"></script>
    <script type='text/javascript'
            src="{{ url_for('static', filename='js/plugins/d3.v3.min.js') }}"
            charset="utf-8"></script>
</head>
<style>
html,body{
    height: 100%;
}

body.wait, body.wait *{
 cursor: wait !important;
}

div{
   cursor: pointer;
}
#dimScreen
{
    width: 100%;
    height: 84em;
    background:rgba(255,255,255,0.5);
    position: absolute;
    z-index: 1100;
}
#dimModal
{
    width: 100%;
    height: 84em;
    background:rgba(255,255,255,1);
    position: absolute;
    z-index: 1100;
}
</style>
{% include "header.html" %}
{% include "navbar.html" %}
{% include "footer.html" %}
{% block container %}

{% block navbar %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

{% endblock %}


<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery.placeholder.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery.validate.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/bootstrap.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/ckeditor.js') }}"></script>
{% block custom_script_links %}
{% endblock custom_script_links %}
<form method=post action="" style="display:none;">
</form>
</body>
</html>
