<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="agency-header">
            <div class="upper-header-black">
                <div class="container">
                  <span class="upper-header-left">
                    <a href="http://{{ config['NYC_GOV_BASE'] }}"><img
                            src="http://{{ config['NYC_GOV_BASE'] }}/assets/home/images/global/nyc_white.png"
                            alt="NYC" class="small-nyc-logo"/></a>
                    <img src="http://{{ config['NYC_GOV_BASE'] }}/assets/home/images/global/upper-header-divider.gif"
                         alt=""/>
                    <span class="upper-header-black-title">OpenRecords</span>
                  </span>
                    <span class="upper-header-padding"></span>
                  <span class="upper-header-right">
                    <span class="upper-header-three-one-one">
                      <a href="http://{{ config['NYC_GOV_BASE'] }}/311/index.page">311</a>
                    </span>
                    <img src="http://{{ config['NYC_GOV_BASE'] }}/assets/home/images/global/upper-header-divider.gif"
                         alt=""/>
                    <span class="upper-header-search">
                      <a href="http://{{ config['NYC_GOV_BASE'] }}/home/search/index.page">Search all
                          NYC.gov websites</a>
                    </span>
                  </span>
                </div>
            </div>
        </div>
    </body>
</html>
{% block container %}
{% endblock %}