<!DOCTYPE html>
<html lang="en">
<body>
{#{% if current_user.is_authenticated %}#}
{% set navigation_bar = [

('/new', 'new', 'Request a Record'),
('/view_requests','view_requests','View Requests'),
('/track','track','Track an Existing Record'),
('/report','report','Report'),
('/city/tutorial/01','tutorial','Tutorial'),
('/faq','faq','FAQ'),
('/about','about','About'),
('/contact', 'contact', 'Contact'),
] -%}
{#{% else %}#}
{#{% set navigation_bar = [#}
{##}
{#('/new', 'new', 'Request a Record'),#}
{#('/view_requests','view_requests','View Requests'),#}
{#('/track','track','Track an Existing Record'),#}
{#('/report','report','Report'),#}
{#('/faq','faq','FAQ'),#}
{#('/about','about','About'),#}
{#('/contact', 'contact', 'Contact'),#}
{#] -%}#}
{#{% endif %}#}
<div class="wrapper" style="">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
{#        {% if current_user.is_authenticed %}#}
{#            <a class="brand" href="/view_requests"><img id="logo_nav"#}
{#                                           src="{{ url_for('static', filename='images/logo.png') }}"#}
{#                                           alt="{{ config['AGENCY_NAME'] }} logo"/></a>#}
{#        {% else %}#}
            <a class="brand" href="/"><img id="logo_nav"
                                           src="{{ url_for('static', filename='images/logo.png') }}"
                                           alt="{{ config['AGENCY_NAME'] }} logo"/></a>
{#        {% endif %}#}

            <div class="nav-collapse navbar-responsive-collapse collapse"
                 style="height: 0px;">
{#                {% if current_user.is_authenticated %}#}
{#                <div class="btn-group nav pull-right">#}
{#                    <button type="button" class="btn btn-default">{{current_user.alias}}</button>#}
{#                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="/logout">Logout</a></li>#}
{#                    </ul>#}
{#                </div>#}
                {# loops through the navigation_bar container for the label and definition of each tab#}
{#                <div class="center-mobile-nav">#}
{#                    <ul class="nav nav-pills">#}
{#                        {% for href, id, caption in navigation_bar %}#}
{#                        <li#}
{#                                {% if id== active_page %} class="active openrecords_nav" {% endif%}>#}
{#                            <a class="openrecords_nav" href="{{ href|e }}">{{ caption|e }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                    <ul class="nav pull-right">#}
{#                    </ul>#}
{#                </div>#}
{#                {% else %}#}
            <div id ="translate-non-mobile">
                <div class="google_translate" style="background-color:white;">
                    <div id="google_translate_element" class="center-mobile"></div>
                    <script type="text/javascript">
                        if (window.screen.width > 973){
                            function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                            }
                        }
                        else{
                            function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
                            }
                        }
                    </script>
                    <script type="text/javascript"
                            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                    </script>
                </div>
            </div>
                <div class="center-mobile-nav">
                    <ul class="nav nav-pills">
                        {% for href, id, caption in navigation_bar %}
                        <li
                                {% if id== active_page %} class="active openrecords_nav" {% endif%}>
                            <a class="openrecords_nav" href="{{ href|e }}">{{ caption|e }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="nav pull-right">
                </ul>
{#                {% endif %}#}
            </div>
        </div>
    </div>
    <div id="container-fluid">
        {% block container %}
        <div class="row-fluid">
            <div class="span10">
                {% block banner %}

                {% endblock banner %}
            </div>
        </div>

        {% endblock container %}
    </div>
    <div class="push"></div>
</div>
</body>
</html>