<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/upload.css') }}">
<link rel="stylesheet" type=text/css
      href="{{ url_for('static', filename='styles/plugins/jquery.fileupload.css') }}">
<link rel="stylesheet" type=text/css
      href="{{ url_for('static', filename='styles/plugins/jquery.fileupload-ui.css') }}">

<form id="fileupload" class="carousel slide" action="/response/file" method="POST" enctype="multipart/form-data"
      data-ride="carousel" data-parsley-validate>
    <div class="col-sm-1 no-padding">
        <a id="prev-slider" class="prev-slider" href="#fileupload" role="button" data-slide="prev">
            <span class="prev-slider glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
    </div>
    <div class="col-sm-7">
        <div class="carousel-inner" role="listbox" style="padding-right: 1rem;">
            <div class="item active">
                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/">
                </noscript>
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="file" multiple>
                </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start All</span>
                        </button>
                        <!-- TODO: cancellation / deletion
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                        <input type="checkbox" class="toggle">
                        -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <table role="presentation" class="table table-striped">
                    <tbody class="files"></tbody>
                </table>
            </div>
            <div class="item">
                <textarea name="email-content"></textarea>
            </div>
            <div class="item">
                <h4>The following will be Submitted to the request:</h4>
                <h5>Email:</h5>
                <div id="email-summary"></div>
                <input type="submit" value="Submit">
            </div>
        </div>
    </div>
    <div class="col-sm-1 no-padding">
        <a id="next-slider" class="next-slider" href="#fileupload" role="button" data-slide="next">
            <span class="next-slider glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</form>

<script type="text/javascript">

    window.onload = function () {
        var formData = {
            request_id: "{{ request.id }}",
            template_name: "add_file_email_template.html"
        };

        $.ajax({
            url: "/response/email",
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: false,
            success: function (data) {
                //Data should be html template page.
                tinyMCE.get('email-content').setContent(data);
            },
            error: function (data) {
                alert('fail.');
            }
        });
        $('.prev-slider,.next-slider').click(function () {
            $("#email-summary").html(tinyMCE.get('email-content').getContent());
        });
    };
</script>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">

    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>

            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}







</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">

    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                {% if (!(file.error)) { %}
                    Title: <input type="text" class="title-field" id="{%=file.name%}" name="{%=file.name%}::title" data-parsley-required>
                    <input type="hidden" id="{%=file.name%}" name="{%=file.name%}" value="{%=file.name%}">
                    <div class="radio">
                        <label><input type="radio" name="{%=file.name%}::privacy" value="release_public">Release and Public</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="{%=file.name%}::privacy" value="release_private">Release and Private</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="{%=file.name%}::privacy" value="private" checked>Private</label>
                    </div>
                    <div class="checkbox">
                      <label><input class="add_to_email" type="checkbox" name="{%=file.name%}::email" value=add_to_email>Add to email
                      <input class="dont_add_to_email" type="hidden" name="{%=file.name%}::email" value=dont_add_to_email>
                      </label>
                    </div>
                {% } %}
                <p>Name of File:</p>
                <p class="name">
                    {% if (file.url) { %}
                        <strong><a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a></strong>
                    {% } else { %}
                        <strong><span>{%=file.name%}</span></strong>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.error) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Remove</span>
                    </button>
                {% } %}
                <!-- TODO: cancellation / deletion
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
                -->
            </td>
        </tr>
    {% } %}







</script>
{% endraw %}
