{% set alias = "Not provided" %}
{% set phone = "Not provided" %}
{% set requester = req.requester() %}
{% if requester %}
    {% set user = requester.user %}
    {% set email = user.email %}
    {% set alias = user.alias %}
    {% set phone = user.phone %}
    {% set fax = user.fax %}
    {% set address1 = user.address1 %}
    {% set address2 = user.address2 %}
    {% set city = user.city %}
    {% set state = user.state %}
    {% set zipcode = user.zipcode %}
{% endif %}
<div class="btn" id="requesterInfoButton">Show Requester Contact Information &#9660;</div>
<br />
<div class="row-fluid hide" id="requester_info">
  <br />
  <btn class='btn btn-default' id='requesterEditButton'>Edit</btn>
  <br />
    <div class="span8">
        <div class="row-fluid">
            <div class="span6">Requester's Name:</div>
            <div class="span6">
                <span class="label" id='requester_alias'>{{ alias or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Email:</div>
            <div class="span6">
                {% if email %}
                    <span class="label" id='requester_email'><a href="mailto:{{ email }}">{{ email }}</a></span>
                {% else %}
                    <span class="label" id='requester_email'>Not provided</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Phone Number:</div>
            <div class="span6">
                {% if phone %}
                    <span class="label" id='requester_phone'>{{ phone or "Not provided" }}</span>
                {% else %}
                    <span class="label" id='requester_phone'>Not provided</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Fax Number:</div>
            <div class="span6">
                {% if fax %}
                    <span class="label" id='requester_fax'>{{ fax or "Not provided" }}</span>
                {% else %}
                    <span class="label" id='requester_fax'>Not provided</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Street Address (line 1):</div>
            <div class="span6">
                <span class="label" id='requester_address_line_one'>{{ address1 or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Street Address (line 2):</div>
            <div class="span6">
                <span class="label" id='requester_address_line_two'>{{ address2 or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's City:</div>
            <div class="span6">
                <span class="label" style="align: left;" id='requester_address_city'>{{ city or "Not provided" }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's State:</div>
            <div class="span6">
                {% if not address1 or not city or not zipcode %}
                    <span class="label" id='requester_address_state'>Not provided</span>
                {% else %}
                    <span class="label" id='requester_address_state'>{{ state }}</span>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">Requester's Zipcode:</div>
            <div class="span6">
                <span class="label" id='requester_address_zipcode'>{{ zipcode or "Not provided" }}</span>
            </div>
        </div>
    </div>
</div>
