{% extends "base.html" %}

{% block title %}Agency Administration{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/admin.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="text-center">
            {% if current_user.is_super or multi_agency_admin %}
                Manage Agencies and Agency Users
            {% else %}
                Manage Agency Users
            {% endif %}
        </h2>
        <hr>
        {% if current_user.is_super %}
            <a href="{{ url_for("admin.add_user") }}" class="btn btn-primary">Add User</a>
            <hr>
        {% endif %}
        {% if current_user.is_super or multi_agency_admin %}
            <div class="row">
                {{ agency_form.agencies.label }}
                <div class="row">
                    <div class="col-sm-8">
                        {{ agency_form.agencies }}
                    </div>
                    {% if current_user.is_super and not agency_is_active %}
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-sm btn-primary" id="activate">Activate</button>
                        </div>
                    {% elif current_user.is_super and agency_is_active %}
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-sm btn-primary" id="deactivate">Deactivate</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endif %}
        {% if user_form.users.choices %}
            <input type="hidden" name="agency-ein" value="{{ agency_ein }}">
            <div class="row" id="add-agency-users">
                {{ user_form.users.label }}
                <div class="row">
                    <div class="col-sm-8">
                        {{ user_form.users }}  <!-- TODO: live search would be nice (bootstrap select) -->
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox no-margin-top">
                            <label>
                                <input type="checkbox" name="is-admin"> Administrator
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-sm" id="add-button">Add</button>
                    </div>
                </div>
            </div>
            <hr>
        {% endif %}
        <div class="row user-fields">
            <div class="col-sm-2">
                ID
            </div>
            <div class="col-sm-3">
                Name
            </div>
            <div class="col-sm-3">
                Email
            </div>
            <div class="col-sm-1 text-center">
                User
            </div>
            <div class="col-sm-1 text-center">
                Admin
            </div>
            {% if current_user.is_super %}
                <div class="col-sm-1 text-center">
                    Super
                </div>
            {% endif %}
            <div class="col-sm-{% if current_user.is_super %}1{% else %}2{% endif %} text-right">
                <button type="button" class="btn btn-danger btn-sm" id="remove">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        {% for user in users %}
            <div id="{{ user.guid }}" class="row user-info break-word">
                <input type="hidden" name="user-id" value="{{ user.get_id() }}">
                <input type="hidden" name="agency-ein" value="{{ agency_ein }}">
                <div class="col-sm-2">
                    {{ user.guid }}
                </div>
                <div class="col-sm-3">
                    {{ user.name }}
                </div>
                <div class="col-sm-3">
                    {{ user.email }}
                </div>
                <div class="col-sm-1 text-center">
                    <div class="radio no-margin-top no-margin-bottom">
                        <label>
                            <input type="radio" name="user-status-{{ loop.index }}"
                                   {% if not user.is_agency_admin(agency_ein) %}checked{% endif %}
                                   value="false">
                        </label>
                    </div>
                </div>
                <div class="col-sm-1 text-center">
                    <div class="radio no-margin-top no-margin-bottom">
                        <label>
                            <input type="radio" name="user-status-{{ loop.index }}"
                                   {% if user.is_agency_admin(agency_ein) %}checked{% endif %}
                                   value="true">
                        </label>
                    </div>
                </div>
                {% if current_user.is_super %}
                    <div class="col-sm-1 text-center">
                        <div class="checkbox no-margin-top no-margin-bottom">
                            <label>
                                <input type="checkbox" name="user-super-{{ loop.index }}"
                                       {% if user.is_super %}checked="checked"{% endif %}
                                       {% if user.guid == current_user.guid %}disabled="disabled"{% endif %}
                                       value="true">
                            </label>
                        </div>
                    </div>
                {% endif %}
                <div class="col-sm-{% if current_user.is_super %}1{% else %}2{% endif %} text-right">
                    <div class="checkbox no-margin-top no-margin-bottom">
                        <label>
                            <input type="checkbox" name="remove-{{ loop.index }}">
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.blockUI.js') }}"></script>
{% endblock %}