<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/simple_search.css') }}"/>
</head>

<body>
    <h1>Simple Search (Requests Only)</h1>
    <h3>Just uses ajax.</h3>
    <form>
        <input id="query" type="text" name="query" placeholder="DO IT!"><br>
        <br>
        Search by:
        <br>
        <label>
            <input type="checkbox" name="foil-id" disabled>
            FOIL ID<br>
        </label>
        <label>
            <input type="checkbox" name="title" checked>
            Title<br>
        </label>
        <label>
            <input type="checkbox" name="description" checked>
            Description<br>
        </label>
        <label>
            <input type="checkbox" name="agency-description" checked>
            Agency Description<br>
        </label>
        <br>
        <label>
            Number of results:
            <select id="size">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </label>
        <br>
        <br>
        <label>
            <input type="checkbox" name="highlight" checked>
            Highlight*
        </label>
        <p>
            <small>
                *Toggle provided only for testing.
                <br>
                Will be set for agency users since they
                can view all fields, public or private,
                and <u>no highlight post-processing is required</u>.
                <br>
                Other users will only see in what fields
                their query matches, but no content from
                that field will be shown (unless of course,
                we decide to always process highlights).
            </small>
        </p>
    </form>
    <hr>
    <div>
        <p id="time-query">Query Execution Time: <strong></strong></p>
        <p id="total">Total: <strong></strong></p>
        <p id="num-result">Result Count: <strong></strong></p>
    </div>
    <div id="results-all">
        <div id="results-raw"></div>
        <ol id="results"></ol>
    </div>
</body>

<script type="text/javascript" src="{{ url_for('static',filename='js/plugins/jquery.js') }}"></script>
<script type="text/javascript">
    $(function() {

        function search() {
            var results = $('#results');
            results.children('li').remove();
            results.text('');
            var query = $('#query').val();
            if (query != '') {
                $.ajax({
                    url: '/search/requests',
                    data: {
                        query: query,
                        foil_id: $('input[name=foil-id]').prop("checked"),
                        title: $('input[name=title]').prop("checked"),
                        description: $('input[name=description]').prop("checked"),
                        agency_description: $('input[name=agency-description]').prop("checked"),
                        size: $('#size').val(),
                        highlight: $('input[name=highlight]').prop("checked")
                    },
                    dataType: 'json',
                    success: function(resp){
                        // uncomment for full raw json response
                        // $('#results-raw').text(JSON.stringify(resp, null, 4));
                        var hits = typeof resp.hits != 'undefined' ? resp.hits.hits : resp;
                        if (hits.length > 0) {
                            for (var i = 0; i < hits.length; i++) {
                                var content = "";
                                if (typeof hits[i].highlight != 'undefined') {
                                    var keys = Object.keys(hits[i].highlight);
                                    for (var j = 0; j < keys.length; j++) {
                                        var key_private = null;
                                        if (keys[j] == "title") {
                                            key_private = hits[i]._source.title_private ?
                                                    "private" : "public";
                                        }
                                        else if (keys[j] == "agency_description") {
                                            key_private = hits[i]._source.agency_description_private ?
                                                    "private" : "public";
                                        }
                                        content += "<p><strong>" + keys[j] + "</strong>";

                                        if (key_private != null) {
                                            content += " <em>" + key_private + "</em>";
                                        }
                                        content += "<br>" + hits[i].highlight[keys[j]] + "</p>";
                                    }
                                }
                                var raw = JSON.stringify(hits[i], null, 4);
                                $('#results').append(
                                        "<li>" +
                                        "<a href='" + "/request/view/" + hits[i]._id + "'>" +
                                        hits[i]._id + "</a> : " + hits[i]._source.public_title +
                                        "<br>" + content +
                                        "<div class='show-raw'>{...}</div>" +
                                        "<div class='raw'>" + raw + "</div></li>");
                            }
                        }
                        else {
                            $('#results').text('No results found.');
                        }
                        $('#time-query').find('strong').text(resp.took);
                        $('#num-result').find('strong').text(hits.length);
                        $('#total').find('strong').text(resp.hits.total);
                    }
                })
            }
        }

        $('#query').on('input', search);
        $(':checkbox').change(search);
        $('#size').change(search);

        // Toggle raw result data
        $('#results-all').on('click', '.show-raw', function () {
            $(this).hide();
            $(this).next('.raw').css('display', 'block');
        });
        $('#results-all').on('click', '.raw', function () {
            $(this).css('display', 'none');
            $(this).prev('.show-raw').show();
        })
    });
</script>
