-i https://pypi.org/simple
alembic==1.13.2; python_version >= '3.8'
amqp==5.2.0; python_version >= '3.6'
appdirs==1.4.4
asn1crypto==1.5.1
async-timeout==4.0.3; python_full_version < '3.11.3'
attrs==23.2.0; python_version >= '3.7'
azure-core==1.30.2; python_version >= '3.8'
azure-storage-blob==12.20.0; python_version >= '3.8'
bcrypt==4.1.3; python_version >= '3.7'
billiard==4.2.0; python_version >= '3.7'
blinker==1.8.2; python_version >= '3.8'
brotli==1.1.0
business-calendar==0.2.1
cached-property==1.5.2
cachelib==0.13.0; python_version >= '3.8'
cairocffi==1.7.1; python_version >= '3.8'
cairosvg==2.7.1; python_version >= '3.5'
celery==5.4.0; python_version >= '3.8'
certifi==2024.7.4; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
chardet==5.2.0; python_version >= '3.7'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
click-didyoumean==0.3.1; python_full_version >= '3.6.2'
click-plugins==1.1.1
click-repl==0.3.0; python_version >= '3.6'
coverage==7.6.0; python_version >= '3.8'
cryptography==42.0.8; python_version >= '3.7'
cssselect2==0.7.0; python_version >= '3.7'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
distlib==0.3.8
dnspython==2.6.1; python_version >= '3.8'
dominate==2.9.1; python_version >= '3.4'
elasticsearch==7.17.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'
email-validator==2.2.0
exceptiongroup==1.2.2; python_version < '3.11'
filelock==3.15.4; python_version >= '3.8'
flask==3.0.3; python_version >= '3.8'
flask-bootstrap==3.3.7.1
flask-login==0.6.3; python_version >= '3.7'
flask-mail==0.10.0; python_version >= '3.8'
flask-migrate==4.0.7; python_version >= '3.6'
flask-moment==1.0.6; python_version >= '3.6'
flask-recaptcha==0.4.2
flask-script==2.0.6
flask-session==0.8.0; python_version >= '3.8'
flask-sqlalchemy==3.1.1; python_version >= '3.8'
flask-tracy==0.1.3
flask-weasyprint==1.0.0; python_version >= '3.7'
flask-wtf==1.2.1; python_version >= '3.8'
fonttools[woff]==4.53.1; python_version >= '3.8'
greenlet==3.0.3; python_version < '3.13' and platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
gunicorn==22.0.0; python_version >= '3.7'
holidays==0.53; python_version >= '3.8'
html5lib==1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.7; python_version >= '3.5'
iniconfig==2.0.0; python_version >= '3.7'
isodate==0.6.1
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
jsonschema==4.23.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
kombu==5.3.7; python_version >= '3.8'
ldap3==2.9.1
lxml==5.2.2; python_version >= '3.6'
lxml-html-clean==0.1.1
mako==1.3.5; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
msgspec==0.18.6; python_version >= '3.8'
oauthlib==3.2.2; python_version >= '3.6'
packaging==24.1; python_version >= '3.8'
paramiko==3.4.0; python_version >= '3.6'
pdfrw==0.4
pillow==10.4.0; python_version >= '3.8'
pkgconfig==1.5.5; python_version >= '3.3' and python_version < '4.0'
platformdirs==4.2.2; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
prompt-toolkit==3.0.47; python_full_version >= '3.7.0'
psycopg2-binary==2.9.9; python_version >= '3.7'
pyasn1==0.6.0; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydyf==0.11.0; python_version >= '3.8'
pynacl==1.5.0; python_version >= '3.6'
pyopenssl==24.1.0; python_version >= '3.7'
pyotp==2.9.0; python_version >= '3.7'
pyparsing==3.1.2; python_full_version >= '3.6.8'
pyphen==0.15.0; python_version >= '3.8'
pytest==8.2.2; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.1; python_version >= '3.8'
python-editor==1.0.4
python-magic==0.4.27; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
python-magic-bin==0.4.14; sys_platform == 'darwin'
pytz==2024.1
raven==6.10.0
redis==5.0.7; python_version >= '3.7'
referencing==0.35.1; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
requests-oauthlib==2.0.0; python_version >= '3.4'
rpds-py==0.19.0; python_version >= '3.8'
simplekv==0.14.1
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlalchemy==2.0.31; python_version >= '3.7'
tablib==3.6.1; python_version >= '3.8'
tinycss2==1.3.0; python_version >= '3.8'
tomli==2.0.1; python_version < '3.11'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
tzlocal==5.2; python_version >= '3.8'
urllib3==1.26.19; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
vine==5.1.0; python_version >= '3.6'
virtualenv==20.26.3; python_version >= '3.7'
visitor==0.1.3
wcwidth==0.2.13
weasyprint==62.3; python_version >= '3.9'
webencodings==0.5.1
werkzeug==3.0.3; python_version >= '3.8'
wtforms[email]==3.1.2; python_version >= '3.8'
xlrd==2.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
xlwt==1.3.0
xmlsec==1.3.14; python_version >= '3.5'
zopfli==0.2.3
