{% if response.dtype in (determination_type.ACKNOWLEDGMENT, determination_type.REOPENING) %}
    <p>Expected date of completion: <strong>{{ moment(response.date).format('dddd, MM/DD/YYYY [at] h:mm A')}}</strong></p>
    {% if response.reason is not none %}
        <div class="request-description-text">
            {{ response.content | safe }}
        </div>
    {% endif %}
{% elif response.dtype == determination_type.EXTENSION %}
    <p>Due date changed to: <strong>{{ moment(response.date).format('dddd, MM/DD/YYYY [at] h:mm A') }}</strong></p>
    {% if response.reason is not none %}
        <div class="request-description-text">
            {{ response.content | safe }}
        </div>
    {% endif %}
{% elif response.dtype in (determination_type.DENIAL, determination_type.CLOSING) %}
    {{ response.reason | format_ultimate_determination_reason | safe }}
{% endif %}