{% if response.dtype == determination_type.ACKNOWLEDGMENT %}
    <p>Expected date of completion: <strong>{{ moment(response.date).format('dddd, MMMM D, YYYY [at] h:mm A')}}</strong></p>
    {% if response.reason %}
        <p>{{ response.reason }}</p>
    {% endif %}
{% elif response.dtype == determination_type.EXTENSION %}
    <p>Due date changed to: <strong>{{ moment(response.date).format('dddd, MMMM D, YYYY [at] h:mm A') }}</strong></p>
    <p>{{ response.reason }}</p>
{% elif response.dtype == determination_type.DENIAL %}
    {{ response.reason | format_determination_reason | safe }}
{% elif response.dtype == determination_type.CLOSING %}
    {{ response.reason | format_determination_reason | safe }}
{% endif %}