{% if (edit_response_permission or edit_response_privacy_permission) and is_editable
and current_request.status != request_status.CLOSED %}
    <form id="fileupload-update-{{ response.id }}" class="fileupload-update fileupload-form"
          action="/response/{{ response.id }}" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {% if edit_response_permission %}
            <div class="fileupload-error-messages alert alert-danger" hidden></div>
            <div>
                <a target="_blank" rel="noopener noreferrer" href="{{ url_for("response.get_response_content", response_id=response.id) }}"
                   class="uploaded-filename">{{ response.name }}</a>
            </div>
            <br>
            <div class="fileupload-control">
                <div class="fileupload-divs">
                    <div class="row fileupload-buttonbar">
                <label class="btn btn-default fileinput-button">
                    <i class="glyphicon glyphicon-open-file"></i>
                    <span>Replace File</span>
                    <input type="file" name="file" id="add-files">
                </label>
                        <span class="fileupload-process"></span>
                    </div>
                    <div role="presentation">
                        <div class="files"></div>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input id="edit-file-title-{{ response.id }}" type="text" name="title" value="{{ response.title }}"
                       title="title" aria-describedby="title" data-parsley-maxlength="250" maxlength="250">
            </div>
            <p id="edit-file-title-character-counter-{{ response.id }}" class="character-counter">{{ 250 - response.title|length }} characters remaining</p>
            <div class="title-error pull-right"></div>
        {% else %}
            <div>
                <a target="_blank" rel="noopener noreferrer" href="{{ url_for("response.get_response_content", response_id=response.id) }}"
                   class="uploaded-filename">{{ response.name }}</a>
            </div>
        {% endif %}
        {% if edit_response_privacy_permission %}
            <div>
                {% for privacy in privacies %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="privacy" value="{{ privacy }}"
                                   {% if response.privacy == privacy %}checked{% endif %}>
                            {{ privacy | format_response_privacy }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <input type="hidden" name="replace-string">
        <input type="hidden" name="email_content">
    </form>
{% else %}
    <div>
        <a target="_blank" rel="noopener noreferrer" href="{{ url_for("response.get_response_content", response_id=response.id) }}"
           class="uploaded-filename">{{ response.name }}</a>
    </div>
{% endif %}