{% if edit_response_permission or edit_response_privacy_permission %}
    <form id="instruction-update-{{ response.id }}" class="instruction-update instruction-form"
          action="/response/{{ response.id }}" method="POST">
        {% if edit_response_permission %}
            <div class="instruction-error-messages alert alert-danger" hidden></div>
            <textarea class="input-block-level form-group instruction-content"
                      title="content" name="content" maxlength="500">{{ response.content }}</textarea>
            <h5 class="required instruction-content-character-count">
                500 characters remaining
            </h5>
        {% else %}
            {{ response.content }}
        {% endif %}

        {% if edit_response_privacy_permission %}
            <div>
                {% for privacy in privacies %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="privacy" value="{{ privacy }}"
                                   {% if response.privacy == privacy %}checked{% endif %}>
                            {{ privacy | format_response_privacy }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
{% else %}
    {{ response.content }}
{% endif %}