{% if not agency and response_data.response.request.requester.is_anonymous_requester %}
     <p>
         Link to file: <a href="{{ response_data.file_link_for_user['requester'] }}">
         {% if response_data.data_new['name'] %}
             {{ response_data.data_new['name'] }}
         {% else %}
             {{ response_data.response.name }}
         {% endif %}
     </a>
     </p>
{% endif %}

{% if agency or not response_data.response.request.requester.is_anonymous_requester %}
    <p>
        Link to file: <a href="{{ response_data.file_link_for_user['agency'] }}">
        {% if response_data.data_new['name'] %}
            {{ response_data.data_new['name'] }}
        {% else %}
            {{ response_data.response.name }}
        {% endif %}
    </a>
    </p>
{% endif %}