<span>
    {% if requests_overdue|length > 0 %}
        The following request{% if requests_overdue|length > 1 %}s are{% else %}is{% endif %} overdue:
        <ul>
        {% for request in requests_overdue %}
            <li>
                <a href="{{ request.url }}">{{ request.id }}</a>
                {% if not request.was_acknowledged %}(acknowledgment due){% endif %}  <!-- TODO: naive double loop -->
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if requests_due_soon|length > 0 %}
        The following request{% if requests_due_soon|length > 1 %}s are{% else %} is{% endif %} due soon:
        <ul>
        {% for request in requests_due_soon %}
            <li>
                <a href="{{ request.url }}">{{ request.id }}</a>
                {% if not request.was_acknowledged %}acknowledgment{% endif %} due
                <strong>
                    {% if request.days_until_due > 0 %}
                        in {{ request.days_until_due }} business day{% if request.days_until_due > 1 %}s{% endif %}
                    {% else %}
                        today
                    {% endif %}.
                </strong>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</span>