<p>
    The {{ agency_name }} has provided additional
    information about your request. Please visit {{ page }} to view the additional information.
</p>
<p>
    You can view the request and take any necessary action at the following webpage:
    <a href='{{ page }}'>{{ page }}</a>.
</p>
<p>
    Download the request files at:
    <br>
    <ul>
        {% if data %}
            {% for filename, link in data['files_links'].items() %}
                <li style="list-style: none"><a href='{{ link }}'>{{ filename }}</a></li>
            {% endfor %}
        {% else %}
            {% for filename, link in files_links.items() %}
                <li style="list-style: none"><a href='{{ link }}'>{{ filename }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</p>
