{% extends 'email_templates/email_response.html' %}
{% block response_content %}
    {% if new_due_date, reason %}
        <p>
            The {{ agency_name }} is still in the process of searching for the documents you requested under your
            Freedom of Information Law (FOIL) ID number <a href='{{ page }}'>{{ request_id }}</a>.
        </p>
        <p>
            You can expect a response on or about {{ new_due_date }}.
        </p>
        <p>
            Additional Information: <br/>
            {{ reason }}
        </p>
    {% endif %}
{% endblock %}