{% if not content %}
    <span class="mceNonEditable">
        The {{ agency_name }} has <strong>closed</strong> your FOIL request <a href='{{ page }}'>{{ request.id }}</a>
        for the following reason{% if reasons|length > 1 %}s{% endif %}:
    </span>
    {{ reasons | safe }}
    <span class="mceEditable editable-span"><br></span>
    <span class="mceNonEditable editable-span"><br></span>
    {% if has_appeals_language %}
        <span class="mceNonEditable">You may appeal the decision to deny access to material that was redacted in part or withheld in entirety
        by contacting the agency's FOIL Appeals Officer: <a
                    href="mailto:{{ agency_appeals_email }}?subject={{ request.id }}%20-%20Appeal">{{ agency_appeals_email }}</a>
        within 30 days.
    </span>
    {% endif %}
{% else %}
    {{ content | safe }}
{% endif %}