{% if default_content %}
    <p>
        <span class="mceNonEditable">The {{ agency_name }} has <strong>re-opened</strong> your FOIL request <a
                href='{{ page }}'>{{ request_id }}</a>
            for the following reason:</span>
    </p>
    <p>
        <span class="mceNonEditable"> {{ reason | safe }} </span>
    </p>
    <p>
        <span class="mceNonEditable">You can expect a response on or about {{ moment(date).format('dddd, MMMM D, YYYY') }}.</span>
    </p>
    <p>
        <span class="mceNonEditable">Please visit <a href='{{ page }}'>{{ request_id }}</a> to view additional information and take any necessary
            action.</span>
    </p>
{% else %}
    {{ content | safe }}
{% endif %}