<p>Attention {{ agency_name }} Users,<p>

{% if agency_file_links %}
    <ul>
        {% if agency_file_links['private'].items() %}
            Private Files:
            {% for filename, link in agency_file_links['private'].items() %}
                <li style="list-style: none"><a href="{{ link }}">{{ filename }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
    <p>
    <ul>
        Release Files sent to the Requester:
        {% for filename, link in agency_file_links['release'].items() %}
        <li style="list-style: none"><a href="{{ link }}">{{ filename }}</a></li>
        {% endfor %}
    </ul>
{% else %}
        <div class="mceNonEditable">
            The following files were uploaded as private to <a href="{{ page }}">{{ request_id }}</a>:
            <ul>
                {% for filename, link in files_links.items() %}
                    <li style="list-style: none"><a href="#">{{ filename }}</a></li>
                {% endfor %}
            </ul>
        </div>
    <p><br /></p>
{% endif %}