{% if default_content %}
    <p>
        The {{ agency_name }} has <strong>acknowledged</strong> your FOIL request <a href="{{ page }}">{{ request_id }}</a>.
    </p>
    <p>
        <span class="mceNonEditable">
            You can expect a response on or about {{ moment(date).format('dddd, MMMM D, YYYY') }}.<br /><br />
            {% if info is not none %}
                Additional Information:<br />
                {{ info }}
                <br /><br />
            {% endif %}
            Please visit <a href="{{ page }}">{{ request_id }}</a> to view additional information and take any necessary action.
        </span>
    </p>
    <p><br /></p>
{% else %}
    {{ content | safe }}
{% endif %}