{% extends 'email_templates/email_response.html' %}
{% block response_content %}
    <p>
        <span class="mceNonEditable">
        The {{ agency_name }} is still in the process of searching for the documents you requested under your
        Freedom of Information Law (FOIL) ID number <a href='{{ page }}'>{{ request_id }}</a>
    <br><br>
        You can expect a response on or about {{ moment(new_due_date).format('dddd, MMMM D, YYYY') }}.
    <br><br>
        Additional Information: <br />
        {{ reason }}<br />
        </span>
    </p><br />
    <br />
{% endblock %}