<p>Welcome to the Open Records Portal!</p>

<p>Link: <a href="https://a860-openrecords.nyc.gov">www.nyc.gov/openrecords</a>
<br>You will use your @{{ domain }} email and network password to log into the portal.</p>

<p>Select NYCEmployees to login:</p>
<img src="cid:{{ content_id }}" alt="Login screenshot"/>

<p><strong>Important information. Please read:</strong></p>

<p><strong>OpenRecords Support Portal:</strong></p>

<p>An email was sent from jira@nycrecords.atlassian.net asking you to register for the OpenRecords Support Portal.
    Please click on the link and choose a new password.</p>

<p>To submit a support request or idea to our team, you can either:
<ol>
    <li>Visit the OpenRecords Support website: https://nycrecords.atlassian.net/servicedesk/customer/portal/1
        Fill out the form that best describes your request and it will be assigned to a member of our team.
    </li>
    <li>Send an email to openrecords_support@nycrecords.atlassian.net and a member of our team will review your request
        and categorize it appropriately.
    </li>
</ol>

<p>If you have any questions about using the support desk, please email openrecords_support@nycrecords.atlassian.net</p>

<p>Thanks</p>