{% if not content %}
    {% if from_requester %}
        <p>Attention {{ agency_name }} Users,</p>
        <p>
            The following note was added to <a href="{{ page }}">{{ request_id }}</a> by the requester: <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;{{ note_content }}
        </p>
    {% else %}
        {% if privacy == response_privacy.RELEASE_AND_PUBLIC %}
            <p>
                The {{ agency_name }} has responded to your FOIL request
                <a href="{{ page }}" target="_blank">{{ request_id }}</a> with the following note.
            </p>
            <p>
                This information will not be accessible to the public for 20 work days.
            </p>
            <p>
                <span class="mceNonEditable">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ note_content }}<br/><br/>
                    On {{ moment(release_date).format('dddd, MMMM D, YYYY') }} this note will be publicly available on the
                    OpenRecords Portal.<br/><br/>
                    Please visit <a href="{{ page }}">{{ request_id }}</a> to view additional information and take any
                    necessary action.
                </span>
            </p>

        {% elif privacy == response_privacy.RELEASE_AND_PRIVATE %}
            <p>
                The {{ agency_name }} has responded to your FOIL request
                <a href="{{ page }}" target="_blank">{{ request_id }}</a> with the following note.
            </p>
            <p>
                <span class="mceNonEditable">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ note_content }}<br/><br/>
                    Please visit <a href="{{ page }}">{{ request_id }}</a> to view additional information and take any necessary action.
                </span>
            </p>

        {% elif privacy == response_privacy.PRIVATE %}
            <p>Attention {{ agency_name }} Users,</p>
            <p>
                <span class="mceNonEditable">
                    The following note was added to <a href="{{ page }}">{{ request_id }}</a> and is private: <br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ note_content }}<br/>
                </span>
            </p>
        {% endif %}
    {% endif %}
{% else %}
    {{ content | safe }}
    <p>
        <strong>Request Information:</strong><br/>
        Request Title: {{ request.title }}
    </p>
    {% if (custom_request_forms_enabled and description_hidden_by_default == false) or custom_request_forms_enabled == false %}
        <p>
            Request Description: {{ request.description }}
        </p>
    {% endif %}
    {% if request.custom_metadata %}
        {% for form_number,form_values in request.custom_metadata|dictsort %}
            <u>{{ form_values['form_name'] }}</u>
            <br/>
            {% for field_number,field_values in form_values['form_fields']|dictsort %}
                {{ field_values['field_name'] }}:
                {% if field_values['field_value'] is iterable and field_values['field_value'] is not string %}
                    {% for value in field_values['field_value'] %}
                        {{ value }}
                                {% if field_values['field_value']|length > 1 and loop.index != field_values['field_value']|length %}
                                    , {% endif %}
                    {% endfor %}
                {% else %}
                    {{ field_values['field_value'] }}
                {% endif %}
                <br/>
            {% endfor %}
            <br/>
        {% endfor %}
    {% endif %}
{% endif %}