{% extends 'email_templates/email_response.html' %}
{% block response_content %}
    {% if date, info %}
        <p>
            The {{ agency_name }} has acknowledged your request for
            Freedom of Information Law (FOIL) ID number <a href='{{ page }}'>{{ request_id }}</a>.
        </p>
        <p>
            You can expect a response on or about {{ date }}.
        </p>
        {% if info is not none %}
            <p>
                Additional Information: <br/>
                {{ info }}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}