<p>Attention {{ agency_name }} Users,</p>
    A {{ response | format_response_type }} in request
    <a href="{{ page }}">
        {{ request_id }}
    </a> has been edited.
</p>

{% for key, value in response_data.data_old.items() %}
    <p>
        <span class="mceNonEditable">
            The <strong>{{ key }}</strong> was changed from:
        </span>
    </p>
    {% if key == 'privacy' %}
        <p style="padding-left: 30px;">
            <span class="mceNonEditable"> {{ response_data.data_old[key] | format_response_privacy }} </span>
        </p>
        <p><span class="mceNonEditable"> to: </span></p>
        <p style="padding-left: 30px;">
            <span class="mceNonEditable"> {{ response_data.data_new[key] | format_response_privacy }} </span>
        </p>
    {% else %}
        <p style="padding-left: 30px;">
            <span class="mceNonEditable"> {{ response_data.data_old[key] | safe }} </span>
        </p>
        <p><span class="mceNonEditable"> to: </span></p>
        <p style="padding-left: 30px;">
            <span class="mceNonEditable"> {{ response_data.data_new[key] | safe }} </span>
        </p>
    {% endif %}
{% endfor %}