{% if default_content %}
    <p>
        The {{ agency_name }} has responded to your FOIL request <a href='{{ page }}'>{{ request_id }}</a> with
        the following file(s).
    </p>

    {% if public_requester %}
        <p>
            <span class="mceNonEditable">
                <strong>NOTE</strong>: You must be logged in to your OpenRecords account to access the file(s).
                If you are not logged in, you will be prompted to do so when the link is selected.
            </span>
        </p>
    {% endif %}

    {% if release_public_links %}
        <p>
            <span class="mceNonEditable">The file(s) listed below will be accessible to the public on the OpenRecords portal in 20 business days
                ({{ moment(release_date).format('dddd, MMMM D, YYYY') }}).</span>
        </p>
        <div class="file-links">
            <ul>
                {% for file in release_public_links %}
                    <li style="list-style: none">
                        <span class="mceNonEditable">{{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a></span>
                    </li>
                {% endfor %}
            </ul>
        {% if release_private_links %}
            <p>
                <span class="mceNonEditable">
                    The file(s) listed below will not be publicly available on the OpenRecords portal.
                </span>
            </p>
            <ul>
                {% for file in release_private_links %}
                    <li style="list-style: none">
                        <span class="mceNonEditable">{{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a></span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    {% endif %}

    {% if release_private_links and not release_public_links %}
        <p>
            <span class="mceNonEditable">
                The file(s) listed below will not be publicly available on the OpenRecords portal.
            </span>
        </p>
        <div class="file-links">
            <ul>
                {% for file in release_private_links %}
                    <li style="list-style: none">
                        <span class="mceNonEditable">{{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <p>
        <span class="mceNonEditable">
            Please visit <a href="{{ page }}">{{ request_id }}</a> to view additional information and take any
            necessary action.
        </span>
    </p>
    <p><br></p>
{% else %}
    {{ content | safe }}
    <p>
        <strong>Request Information:</strong><br/>
        Request Title: {{ request.title }}
    </p>
    {% if (custom_request_forms_enabled and description_hidden_by_default == false) or custom_request_forms_enabled == false %}
        <p>
            Request Description: {{ request.description }}
        </p>
    {% endif %}
    {% if request.custom_metadata %}
        {% for form_number,form_values in request.custom_metadata|dictsort %}
            <u>{{ form_values['form_name'] }}</u>
            <br/>
            {% for field_number,field_values in form_values['form_fields']|dictsort %}
                {{ field_values['field_name'] }}:
                {% if field_values['field_value'] is iterable and field_values['field_value'] is not string %}
                    {% for value in field_values['field_value'] %}
                        {{ value }}
                                {% if field_values['field_value']|length > 1 and loop.index != field_values['field_value']|length %}
                                    , {% endif %}
                    {% endfor %}
                {% else %}
                    {{ field_values['field_value'] }}
                {% endif %}
                <br/>
            {% endfor %}
            <br/>
        {% endfor %}
    {% endif %}
{% endif %}