<p>
    <strong>Request Information:</strong><br/>
</p>
{% if (custom_request_forms_enabled and description_hidden_by_default == false) or custom_request_forms_enabled == false %}
    <p>
        Request Description: {{ request.description }}
    </p>
{% endif %}
{% if request.custom_metadata %}
    {% for form_number,form_values in request.custom_metadata|dictsort %}
        <u>{{ form_values['form_name'] }}</u>
        <br/>
        {% for field_number,field_values in form_values['form_fields']|dictsort %}
            {{ field_values['field_name'] }}:
            {% if field_values['field_value'] is iterable and field_values['field_value'] is not string %}
                {% for value in field_values['field_value'] %}
                    {{ value }}
                    {% if field_values['field_value']|length > 1 and loop.index != field_values['field_value']|length %}
                        , {% endif %}
                {% endfor %}
            {% else %}
                {{ field_values['field_value'] }}
            {% endif %}
            <br/>
        {% endfor %}
        <br/>
    {% endfor %}
{% endif %}