{% if privacy %}
    {% if privacy == response_privacy.RELEASE_AND_PUBLIC %}
        <p>
            The {{ agency_name }} has responded to your FOIL request
            <a href="{{ page }}" target="_blank">{{ request_id }}</a> with the following instructions for
            offline access.
        </p>
        <p>
            This information will not be accessible to the public for 20 work days.
        </p>
        <div class="mceNonEditable" style="margin-left: 20px;">
            {{ instruction_content | safe }}
        </div>
        <br />
        <p>
            <span class="mceNonEditable">
                On {{ moment(release_date).format('dddd, MMMM D, YYYY') }} this note will be publicly available on the
                OpenRecords Portal.<br /><br /> Please visit <a href="{{ page }}">{{ request_id }}</a> to view
                additional information and take any necessary action.
            </span>
        </p>
    {% elif privacy == response_privacy.RELEASE_AND_PRIVATE %}
        <p>
            The {{ agency_name }} has responded to your FOIL request
            <a href="{{ page }}" target="_blank">{{ request_id }}</a> with the following instructions for
            offline access.
        </p>
        <div class="mceNonEditable" style="margin-left: 20px;">
            {{ instruction_content | safe }}
        </div>
        <br />
        <p>
            <span class="mceNonEditable">
                Please visit <a href="{{ page }}">{{ request_id }}</a> to view additional information and take any necessary action.
            </span>
        </p>
    {% elif privacy == response_privacy.PRIVATE %}
        <p>Attention {{ agency_name }} Users,</p>
        <p>
            <span class="mceNonEditable">
                The following instructions for offline access were added to <a href="{{ page }}">{{ request_id }}</a> and is private: <br />
            </span>
        </p>
        <div class="mceNonEditable" style="margin-left: 20px;">
            {{ instruction_content | safe }}
        </div>
        <br />
    {% endif %}
{% else %}
    {{ content | safe }}
{% endif %}