<p>
    Your request has been submitted to the <b>{{ agency.name }}</b>. You will receive an
    acknowledgment within 5 business days.
</p>
<p>
    <b>Request Title:</b> {{ current_request.title }}
    <br/>
    <br/>
    <b>Request Description:</b> {{ current_request.description }}
    <br/>
    <br/>
</p>
<p>
    You can view the request and take any necessary action at the following webpage:
    <a href='http://127.0.0.1:5000/request/view/{{ current_request.id }}'>http://127.0.0.1:5000/request/view/{{ current_request.id }}</a>.
</p>