{% if default_content %}
    <p>
        The {{ agency_name }} has responded to your FOIL request <a href='{{ page }}'>{{ request_id }}</a> with
        the following file(s).
    </p>

    {% if public_requester %}
        <p>
            <span class="mceNonEditable">
                <strong>NOTE</strong>: You must be logged in to your OpenRecords account to access the file(s).
                If you are not logged in, you will be prompted to do so when the link is selected.
            </span>
        </p>
    {% endif %}

    {% if release_public_links %}
        <p>
            <span class="mceNonEditable">The file(s) listed below will be accessible to the public on the OpenRecords portal in 20 business days
                ({{ moment(release_date).format('dddd, MMMM D, YYYY') }}).</span>
        </p>
        <div class="file-links">
            <ul>
                {% for file in release_public_links %}
                    <li style="list-style: none">
                        <span class="mceNonEditable">{{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a></span>
                    </li>
                {% endfor %}
            </ul>
        {% if release_private_links %}
            <p>
                <span class="mceNonEditable">
                    The file(s) listed below will not be publicly available on the OpenRecords portal.
                </span>
            </p>
            <ul>
                {% for file in release_private_links %}
                    <li style="list-style: none">
                        <span class="mceNonEditable">{{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a></span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    {% endif %}

    {% if release_private_links and not release_public_links %}
        <p>
            <span class="mceNonEditable">
                The file(s) listed below will not be publicly available on the OpenRecords portal.
            </span>
        </p>
        <div class="file-links">
            <ul>
                {% for file in release_private_links %}
                    <li style="list-style: none">
                        <span class="mceNonEditable">{{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <p>
        <span class="mceNonEditable">
            Please visit <a href="{{ page }}">{{ request_id }}</a> to view additional information and take any
            necessary action.
        </span>
    </p>
    <p><br></p>
{% else %}
    {{ content | safe }}
{% endif %}