{% if requester_file_links %}
    {% if is_anon %}
        <p>
            You have 20 DAYS to download the following request files:
            <br>
            <ul>
                {% for filename, link in requester_file_links.items() %}
                    <li style="list-style: none">
                        {{ filename }}: <a href="{{ link }}">{{ link }}</a>
                    </li>
                {% endfor %}
    {% else %}
        <p>
            Download the request files at:
            <br>
            <ul>
                {% for filename, link in requester_file_links.items() %}
                    <li style="list-style: none">
                        <a href="{{ link }}">{{ filename }}</a>
                    </li>
                {% endfor %}
    {% endif %}
            </ul>
{% else %}
    <p>The following files were uploaded as private to <a href="{{ page }}">{{ request_id }}</a>:</p>
        <ul>
            {% if agency_file_links['private'].items() %}
                {% for filename, link in agency_file_links['private'].items() %}
                    <li style="list-style: none"><a href="{{ link }}">{{ filename }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
{% endif %}