{% if not private_links %}
    {% if release_public_links %}
        <ul>
            {% for file in release_public_links %}
                <li style="list-style: none">
                    {{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if release_private_links %}
            <p>
                The file(s) listed below will not be publicly available on the OpenRecords portal.
            </p>
            <ul>
                {% for file in release_private_links %}
                    <li style="list-style: none">
                        {{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    {% if release_private_links and not release_public_links %}
        <ul>
            {% for file in release_private_links %}
                <li style="list-style: none">
                    {{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <ul>
        {% for file in private_links %}
            <li style="list-style: none">
                {{ file['title'] }}: <a href="{{ file['link'] }}">{{ file['filename'] }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}