<!-- // Wrapper -->
<footer role="contentinfo">
    <div class="container">
        <div class="span9 footer-links">
            <a href="http://{{ config['NYC_GOV_BASE'] }}/nyc-resources/agencies.page">Directory
                of City Agencies</a>
            <a href="http://{{ config['NYC_GOV_BASE'] }}/home/contact-us.page">Contact
                NYC Government</a>
            <a href="https://a127-ess.nyc.gov">City Employees</a>
            <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
            <a href="http://a856-citystore.nyc.gov/">CityStore</a>
            <a href="http://{{ config['NYC_GOV_BASE'] }}/connect/social-media.page">Stay
                Connected</a>
            <a href="http://{{ config['NYC_GOV_BASE'] }}/connect/applications.page">NYC
                Mobile Apps</a>
            <a href="http://{{ config['NYC_GOV_BASE'] }}/nyc-resources/nyc-maps.page">Maps</a>
            <a href="http://{{ config['NYC_GOV_BASE'] }}/nyc-resources/resident-toolkit.page">Resident
                Toolkit</a>
        </div>
        <div class="span3">
            <span class="logo-nyc">NYC</span>

            <form class="form-search" method="get"
                  action="http://{{ config['NYC_GOV_BASE'] }}/home/search/index.page">
                <input placeholder="Search"
                       class="input-search placeholder"
                       name="search-terms" type="text"/>
                <button class="ico-search">Search</button>
            </form>
            <div class="copyright">
                <p>City of New York. 2016 All Rights Reserved,</p>

                <p>NYC is a trademark and service mark of the City of New York</p>

                <p>
                    <a target="_blank" rel="noopener noreferrer" href="http://{{ config['NYC_GOV_BASE'] }}/home/privacy-policy.page"
                       title="Privacy">Privacy Policy</a>.
                    <a target="_blank" rel="noopener noreferrer" href="http://{{ config['NYC_GOV_BASE'] }}/home/terms-of-use.page"
                       title="TOU">Terms of Use</a>.
                </p>
            </div>
        </div>
    </div>
</footer>