<script type="text/javascript">
    "use strict";
    {% if current_user.has_nyc_id_profile %}
        /* Set profile link href value with 'target' parameter being the current page
         * (base64 encoded: https://nyc4d.nycnet/nycid/account-profile.shtml)
         */
        var webServicesUrl = "{{ config.WEB_SERVICES_URL }}";
        $("#profile-link").attr(
            "href",
            webServicesUrl + "/account/user/profile.htm?returnOnSave=true&target=" + btoa(window.location.href)
        );
    {% endif %}

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            /*
             * Include the X-CSRFToken header for methods that are not considered "safe"
             * (see: https://tools.ietf.org/html/rfc7231.html#section-4.2.1).
             *
             * http://flask-wtf.readthedocs.io/en/stable/csrf.html
             */
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            }
        }
    });
    {% if current_user.is_authenticated %}
        sessionTimeout({
            warnAfter: 10 * 60 * 1000, // 10 minutes
            timeOutAfter: 15 * 60 * 1000, // 15 minutes
            timeOutUrl: '/auth/logout?timeout=True',
            logOutUrl: '/auth/logout',
            keepAliveUrl: '/active',
            titleText: 'Your Session is About to Expire!',
            message: 'Your session is about to expire.',
            stayConnectedBtnText: 'Stay Connected',
            logoutBtnText: 'Logout',
        });
        {% if duplicate_session %}
            $("#concurrent-session-modal").modal("show");
        {% endif %}
    {% endif %}


</script>