<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/nyc_gov.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/bootstrap-theme.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/base.css') }}" />
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}"/>
    {% block custom_css %}
    {% endblock %}
</head>

<body>

{% include "_nyc_gov_header.html" %}
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>
{% include "_nyc_gov_footer.html" %}
{% block custom_script %}
{% endblock %}
</body>
