<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - OpenRecords</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/plugins/bootstrap-theme.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/nyc_gov.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/base.css') }}"/>

    <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}"/>

    {% block custom_css %}
    {% endblock %}
</head>

<body>

{% block navbar %}
    {% block nyc_gov_header %}
        {% include '_nyc_gov_header.html' %}
    {% endblock %}
    {% block logo %}
        <script type="text/javascript">
            "use strict";

            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                }, 'google_translate_element');
            }
        </script>


        <div class="row" role="banner">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="{{ url_for('main.index') }}">
                    <img class="center-block header_logo" style=""
                         src="{{ url_for('static', filename='img/logo.png') }}" alt="OpenRecords Logo"/>
                </a>
            </div>
            <div class="col-sm-2">
                <div id="google_translate_element">
                    <div class="skiptranslate goog-te-gadget" dir="ltr">
                        <div id=":0.targetLanguage" class="goog-te-gadget-simple"
                             style="white-space: nowrap; border:none;"><span style="vertical-align: middle;"><a
                                role="menu" class="goog-te-menu-value2" href="javascript:void(0)"
                                aria-label="Translate"><span
                                class="translate-text">Translate</span><span
                                style="border-left: 1px solid rgb(187, 187, 187);padding-right:5px;">​</span><span
                                style="color: #666;">▼</span></a></span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>

        </div>
    {% endblock %}
    <div class="container-fluid">
    {% block navigation %}
        {% include "navbar.html" %}
    {% endblock %}
{% endblock %}
</div>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
</div>
{% include 'auth/concurrent_session_modal.html' %}
<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>
<div class="footer-wrapper">
    {% include "_nyc_gov_footer.html" %}
</div>
<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/plugins/moment.min.js')) }}
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/request/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jstz.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/session-timeout.js') }}"></script>
{% include 'base.js.html' %}
{% block custom_script %}
{% endblock %}
{% if debug %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/tota11y.min.js') }}"></script>
{% endif %}
</body>
</html>