<script type="text/javascript">

    {% if current_user.has_nyc_id_profile %}
        /* Set profile link href value with 'target' parameter being the current page
         * (base64 encoded: https://nyc4d.nycnet/nycid/account-profile.shtml)
         *
         * NOTE: webServicesUrl must be manually changed to match the app environment.
         */
        var webServicesUrl = "https://nyc-stg-web.csc.nycnet";
        $("#profile-link").attr(
            "href",
            webServicesUrl + "/account?returnOnSave=true&target=" + btoa(window.location.href)
        );
    {% endif %}

    {% if current_user.is_authenticated %}
        /* This is a workaround for logging out of the NYC.ID IDP (bypassing CORS).
         * The logout url is set as an img tag's src attribute when 'Logout' is clicked.
         *
         * NOTE: logoutUrl must be manually changed to match the app environment.
         */
        var logoutUrl = "https://login-stg.nycid.nycnet/osp/a/t1/auth/app/logout";
        $("#logout").click(function() {
            $("#img-logout-cors-bypass").attr("src", logoutUrl);
        });
    {% endif %}

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            /*
             * Include the X-CSRFToken header for methods that are not considered "safe"
             * (see: https://tools.ietf.org/html/rfc7231.html#section-4.2.1).
             *
             * http://flask-wtf.readthedocs.io/en/stable/csrf.html
             */
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            }
        }
    });

    // Configure and start the session timeout monitor
    sessMon = sessionMonitor({
        // Subtract 1 minute to ensure the backend doesn't expire the session first
        sessionLifetime: {{ PERMANENT_SESSION_LIFETIME_MS }} - (60 * 1000),
        timeBeforeWarning: 5 * 60 * 1000,  // 5 minutes
        minPingInterval: 60 * 1000,  // 1 minute
        pingUrl: '{{ BASE_URL }}/ping',
        logoutUrl: '{{ BASE_URL }}/auth/logout',
        timeoutUrl: '{{ BASE_URL }}/auth/logout?timeout=1&next=',
        // The "mouseup" event was used instead of "click" because some of the
        // inner elements on some pages have click event handlers that stop propagation.
        activityEvents: 'mouseup',
        onwarning: function () {
            $("#session-warning-modal").modal("show");
        }
    });
    $(document).ready(function () {
        // Configure the session timeout warning modal
        $("#session-warning-modal")
            .modal({
                "backdrop": "static",
                "keyboard": false,
                "show": false
            })
            .on("click", "#stay-logged-in", sessMon.extendsess)
            .on("click", "#log-out", sessMon.logout)
            .find("#remaining-time").text(Math.round(sessMon.timeBeforeWarning / 60 / 1000));
    });
    window.sessMon = sessMon;
</script>